#contact {
  h3, .h4 {
    color: $orange;
    font-weight: bold;
    margin-bottom: 0;
    span {
      font-weight: $body-font-weight;
    }
  }

  h3 {
    color: $base-font-color;
    font-size: 15px;
  }
  hr {
    margin-bottom: 10px;
  }

  #about-comments {
    height: 150px;
  }

  #comments, #application, #comments2 {
    height: 179px;
    @media screen and ( min-width: 1200px ) {
      height: 95px;
    }
  }

  #add-product {
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .contact-form-container{
		padding: 0;

  }
  

	.form-group {
    height: 100%;
    width: 100%;
	}
	input[type="text"].form-control, input[type="email"], textarea, select {
		padding: 8px;
		border-radius: 4px;
		outline: none;
		border: 1px solid $dark-blue;
    width: 100%;
    box-shadow: none;
	}
  .product-row {
    width: 100%;
    display: flex;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
	.form-control {
		height: auto;
	}

	select.form-control {
		height: 38px;
	}

	textarea {
		height: 100%;
	}



	hr {
		border-bottom: 2px solid #fff;
	}
}

.email-response {
  display: none;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  i {
    font-size: 3em;
    color: green;
    position: absolute;
    right: 35px;
    top: 15px;
  }
  h4 {
    color: green;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5em;
  }
  &.success {
    border: 3px solid green;
    i {
      font-size: 3em;
      float: right;
      color: green;
    }
  }
  &.error {
    border: 3px solid red;
    h4 {
      color: red;
    }
    i {
      font-size: 3em;
      float: right;
      color: red;
    }
  }
}

.contact-number {
  display: inline-block;
  width: 85%;    
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #365170;
  @media screen and (min-width:768px) {
    width: 70%;
  }
}


.remove-me {
  color: red;
  position: absolute;
  top: 8px;
  font-size: 1.25em;
  &:hover {
    color: darken(red, 20);
  }
}

.short-input {
  @media screen and ( min-width: 1200px ) {
    width: 55% !important;
  }
}

#product-rows {
  display: none;
}
// #contact-form {
//   margin-left: 60px;
// }