.footer-wrapper {
	background-color: $dark-blue;
}
.footer {
	padding: 0 30px;
	a {
		transition: 0.3s;
	}

	.container {
		padding: 0 !important;
		border-top: 2px solid #ccc;
	}


	.h2 {
		color: $bright-orange;
		font-weight: 400;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;

		li {
			line-height: 1.5;
			&:before {
				content: "";
			}
			a {
				text-decoration: none !important;
				color: $base-font-color;
			}
			a:hover, a.active {
				transition: 0.3s;
				border-bottom: 1px solid #34538a;
				text-decoration: none;
			}
		}
	}
}

.back-to-top {
	display: none;
	color: #fff;
	padding: 10px 40px;
	position: fixed;
	bottom: 0;
	right: 125px;
	background-color: $orange;
	border-top-right-radius: 8px; 
	border-top-left-radius: 8px; 
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright {
	line-height: 1.5;
	font-size: 0.75rem;
	margin-top: 15px;
}

.footer-nav .active {
	text-decoration: underline;;
}