input {
	font-size: 0.9em;
}

// .calculator-group {
// 	display: none;
// 	form {
// 		margin-bottom: 30px;
// 		@media screen and (min-width: 990px) {
// 			margin-bottom: 0;
// 		}
// 	}
// }

// #heat-transfer-coefficient {
// 	display: none;
// 	@media screen and (min-width: 990px) {
// 		display: block;
// 	}
// }

// #heat-transfer {
// 	display: block;
// 	@media screen and (min-width: 990px) {
// 		display: none;
// 	}
// }

.calculators {

	input[type="text"] {
		text-align: right;
	}
	#calculator-nav {
		margin-bottom: 30px;
	}
	label {
		font-weight: $body-font-weight;
		margin-top: 5px;
		font-size: 1.125em;
		&.no-margin {
			margin-top: 0;
		}
	}
	.form-group {
		background-color: $lightest-grey;
		margin: 0;
		padding: 10px 0;
		&.button-group{
			.col-md-12{
				padding: 0;
				.btn {
					padding: 12px 20px;
					font-size: 18px;
					border-radius: 6px;
				}
			}
		}
		&.alt {
			background-color: darken($lightest-grey, 3);
		}
		label {
			span {
				display: block;
			}
		}
	}

	.calculator-heading {
		background-color: $dark-blue;
		padding: 10px;
		text-transform: none;
		h2 {
			font-size: 1.125em;
			color: #fff;
			margin-left: 10px;
			font-weight: 600;
			margin: 0;
		}
	}

	.calculator-result {
		background-color: #aecbdb;
		color: #fff;
		padding: 30px 0;
	}

	.active{
		color: #fff;
		background-color: $orange;
		border-radius: 4px;
		padding: 4px 8px;
	}
}

#fluid-finder {
	&.left-finder {
		left: 15px !important;
	}
	&.finder-position {
		position: absolute !important;
		left: 15px !important;
		bottom: 20px !important;
		top: auto !important;
	}
	header{
		background-color: $dark-blue;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		padding: 10px;
		h2, .h2 {
			margin: 0;
			color: #fff;
			letter-spacing: 1px;
			font-size: 1.25em;
		}
	}

	span.error {
		display: block;
		font-size: 0.85em;
		color: $error-colour;
		margin-bottom: 0.5em;
	}

	.fluid-inner {
		padding: 0 15px 15px 15px;

		input[type="checkbox"] {
			-webkit-appearance: radio; /* Chrome, Safari, Opera */
			-moz-appearance: radio;    /* Firefox */
			-ms-appearance: radio;     /* not currently supported */
		}
		.needto-text {
			display: none;
		}
	}
	background: linear-gradient(#ece8e8, #fff);
	border-radius: 4px;
	label {
		font-weight: 600;
		font-size: 1em;
	}
	h3, .h3 {
		font-weight: 600;
		font-size: 1.25rem;
		margin-top: 0;
	}
	input[type="text"] {
		width: 70%;
		border-radius: 4px;
		border: 1px solid $light-grey;
		text-align: left;
		padding: 5px 10px;
		margin-top: 10px;
	}
	.row {
		margin-bottom: 10px;
	}
	hr {
		border-bottom: 4px solid #fff;
		margin-left: -15px;
		margin-right: -15px;
	}
}

#frmHTCC {
	.form-group.form-group-properties input[type="text"] {
		max-width: 75px;
	}
	.form-group {
		display: flex;
		padding: 20px;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		&.btn-row-group {
			justify-content: flex-start;
			position: relative;
			&> * {
				flex-grow: 0;
				margin-right: 20px;
			}
		}
		.form-control {
			width: auto;
		}
		input[type="text"] {
			max-width: 125px;
		}
		input[type="radio"] {
			margin-left: 1.5em;
		}
		&> * {
			flex-grow: 0;
			margin-right: 10px;
		}
		@media screen and (min-width: 990px) {
			flex-wrap: nowrap;
		}
		h4 {
			flex-basis: 150px;
			flex-shrink: 0;
			text-align: center;
			@media screen and (min-width: 990px) {
				text-align: left;;
			}
		}
	}
	.control-label {
		font-size: 0.8em;
		@media screen and  (min-width: 768px){
			margin-top: 0;
	    margin-bottom: 0px;
	    text-align: left;
		}
	}
}

@media screen and  (min-width: 992px){
	.form-group .error.help-inline {
    margin-top: 0.3em;
    padding: 0;
    padding-left: 0.3em;
	}
}
.form-group .error.help-inline {
  display: block;
  font-size: 1rem;
  color: #D1222D;
  float: left;
  width: 100%;
}

#output-htcc {
	table#outputTable {
		background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    th {
    	text-align: center;
    }
    td {
    	text-align: right;
    }
    tr:nth-child(even){
    	background-color: #f6f6f6;
    }
    tr:nth-child(odd){
    	background-color: #eeeeee;
    }
		tr:first-child {
			border-top: 5px solid #fff;
		  background: $dark-blue;
		  color: #fff;
		  padding: 15px 20px;
		  font-weight: 500;
		 }
		 th, td {
		 	padding: 10px 20px;
		 }
	}
}

#prandtl {
	font-weight: 600;
}

.reset-products {
	font-size: 1.125em;
	text-align: center;
	display: block;
	width: 100%;
	font-weight: 600;
	margin-top: 15px;
}
::-webkit-input-placeholder { text-align: left;}
input:-moz-placeholder { text-align:right; }

.number-input {
	text-align: right !important;
}
