.header {
	padding: 0;
	display: block;
  margin-top: 20px;

	&.row {
		margin: 0;
		padding-top: 0;
	}

	.container {
		margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
	}

	.logo {
		padding:0;
		margin: 0 auto;
		text-align: center;
		@media screen and (min-width: 990px) {
			text-align: left;
		}
		img {
			max-width: 100%;
			@media screen and (min-width: 990px) {
				max-width: 100%;
			}
		}
	}
}

.header-container {
	margin-bottom: 0;
	position: fixed;
	background-color: rgba(255,255,255,0.9);
	top: 0;
  left: 0;
  right: 0;
  z-index: 100;
	transition: 0.3s;
	z-index: 10000;
  &.full-color {
  	background-color: #fff;
  }
}

.admin-bar .header-container {
  top: 32px;
}

.homepage h1.thermal-header {
	color: $orange;
	font-size: 25px;
	font-weight: 700;
	margin-left: 15px;
	margin-bottom: 5px;
}

.thermal-fluid-row {
	background-color: #000e29;
  @media screen and ( min-width: 990px ) {
    background-image: url('/assets/dist/img/fluid.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 0 !important;
    margin-top: -100px;
    padding-top: 100px !important;
  }
}

.thermal li {
	color: #fff;
	font-weight: 600;
}

.toggle-row {
	margin-top: 0;
	p {
		position: absolute;;
		right: 65px;
		top: 10px;
	}
}

.inner-header {
	border-bottom: 2px solid #ccc;
}
.menu-red a{
  font-weight: 600;
  color: #d2232f;
}
