.modal-dialog {
  max-width: 95% !important;
  width: 95%;
  margin-top: 10%;
  @media screen and  (min-width: 1200px) {
    width: 1100px !important;
  }
}
.modal-header {
  background-color: #111b2d;
  h3 {
    color: #fff;
  }
  .close {
    color: #fff;
    opacity: 1;
  }
}

.modal-title {
  color: $dark-blue;
  margin: 0;
}

.modal-body {
  padding: 20px;
  @media screen and  (min-width: 1200px) {
    padding: 30px 50px;
  }
  .row {
    margin-top: 0;
  }
  .temps {
    p {
      font-weight: 600;
      border-left: 1px solid $dark-blue;
      margin: 10px;
      padding-left: 10px;
      display: inline-block;
      margin-left: 0;
      &:first-child {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
      }
      &.temp {
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1.1;
        span {
          font-size: 0.7em;
        }
      }
    }
  }

  .inner {
    font-size: 1em;
  }
}
