

nav {
	text-align: right;
	text-transform: uppercase;
	font-family: $header-font-family;
	padding: 10px 0 0 0;
	margin-top: 20px;
	@media screen and (min-width: 990px) {
		text-align: right;
		margin-top: 0;
	}

	.active {
		font-weight: 800;
	}

	ul {
		list-style-type: none;
		margin-bottom: -8px;
		margin-top: 20px;
		@media screen and ( min-width: 990px ) {
			margin-top: 0;
		}
		li {
			display: inline-block;
			padding: 10px 5px 0 10px;
			font-size: 1.25em;
			align-items: center;
			display: flex;
			
			@media screen and ( min-width: 990px ) {
				font-size: 14px;
				padding: 5px;
			}
      @media screen and ( min-width: 1200px ) {
				padding: 10px;
        font-size: 1rem;
			}
			.btn, .btn:active, .btn:focus {
				color: #fff !important;
				padding: 3px 10px;
			}
		}
		li:last-of-type {
			padding-right: 0;
		}
	}
}

.navbar, .navbar-nav {
	text-align: right;
	justify-content: flex-end;
	padding-bottom: 0;
	padding-right: 0;
	@media screen and ( min-width: 990px ) {
		background-color: transparent;
	}
}

.navigation {
	align-items: center;
	justify-content: flex-end;
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;
	@media screen and (min-width:990px) {
		justify-content: flex-end;
		display: flex;
	}
  .menu-item:hover {
    text-decoration: underline;
  }
}

.dropdown-item {
	padding: 5px 10px;
	&:hover, &:active {
		background-color: #fff;
	}
}

.dropdown-menu {
	border: none;
	text-align: right;
	margin-right: 0.5rem;
	margin-top: 0 !important;
	@media screen and  ( min-width: 990px) {
		text-align: left;
	}
	.footer & {
		display: none;
	}
}

.dropdown-caret {
	font-size: 1.125rem;
	vertical-align: top;
}

.dropdown {
  &:hover {
    background-color: #efefef;
    color: #fff;
    & > .dropdown-menu {
      display: block;
      background-color: #efefef;
      border-radius: 0;
    }
  }
}
// .dropdown:hover > .dropdown-menu {
//   display: block;
//   background-color: $bright-orange;
//   border-radius: 0;
// }

.top-right-nav {
  text-align: right;
  margin-bottom: -35px;
  width: 100%;
}

.dropdown-item.active, .dropdown-item:active {
	color: #212529;
	text-decoration: none;
	font-weight: normal;
	background-color: #efefef !important;
}