.product-card-container {
	margin-bottom: 50px;
}

.card-container {
	padding-left: 0;
	padding-right: 0;
}

.product-card {
	border: 2px solid $light-grey;
	border-radius: 8px;
	margin-bottom: 20px;
	header {
    background: linear-gradient(#ece8e8, #fff);
    border: 2px solid $light-grey;
    border-bottom: 1px solid $light-grey;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		display: flex;
		padding-left: 20px;
		align-items: center;
		margin: -2px;
		font-size: 0.9em;
		padding: 5px 0 5px 20px;
		p {
			color: $dark-blue;
			border-left: 1px solid $bright-orange;
			margin: 5px;
			padding-left: 10px;
			@media screen and ( min-width: 768px ) {
				margin: 10px;
			}
			&.temp {
				font-size: 0.9em;
				text-transform: uppercase;
				line-height: 1.1;
				@media screen and ( min-width: 768px ) {
					font-size: 1.125em;
				}
				span.temp-label {
					font-size: 0.7em;
				}
			}
		}
		h3, .h3 {
			font-size: 1em;
			font-weight: 600;
			color: $dark-blue;
			margin: 0;
			@media screen and ( min-width: 768px ) {
				font-size: 1.5em;
			}
			a, a:hover, a:focus, a:active {
				color: $dark-blue;
			}
		}
		.close-product {
   		color: $dark-blue;
			text-align: center;
			padding-left: 1px;
			font-weight: 600;
			position: absolute;
			right: 15px;
			top: 3px;
			cursor: pointer;
			font-size: 1.5em;
			transition: 0.3s;
			&:hover {
				color: $light-grey;
			}
		}
	}

	.inner {
		padding: 20px;
		font-size: 1.125em;
		padding-bottom: 5px;
	}


	p {
		margin: 5px -10px;
		font-size: 0.85em;
		&.product-description {
			border-radius: 4px;
			background-color: #fff;
			padding: 10px;
		}
	}


	.btn .fa {
		margin-right: 0;
	}
}
.product-side {
	text-align: center;
	margin-top: 10px;
	@media screen and (min-width: 768px) {
		border-left: 1px solid $light-grey;
		padding-left: 20px;
		margin-top:0;
	}
	.btn {
		margin-bottom: 5px;
		font-size: 14px;
	}
	
	input[type="checkbox"] {
		-webkit-appearance: radio; /* Chrome, Safari, Opera */
		-moz-appearance: radio;    /* Firefox */
		-ms-appearance: radio;     /* not currently supported */
	}
	label {
		font-weight: 500;
		font-size: 15px;
	}
}
.additional-info {
	display:none;
}

.products-viewing {
	display: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  background-color: $light-grey;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  p {
  	width: 100%;
  	margin: 0;
  }
  a {
  	color: $orange;
  	&:hover {
  		color: darken($orange, 15);
  	}
  }
}
.sort-row {
	padding: 10px 20px 0 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.sort-select-div {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}
	select {
		padding: 5px 10px;
		color: #333;
		font-size: 0.8em;
		border-radius: 4px;
		outline: none;
	}
	.sortby-label {
		color: $bright-orange;
		font-weight: 700;
		margin: 0;
		margin-right: 10px;
		text-transform: uppercase;
	}
	&.sort-row-left {
		justify-content: flex-start;
		margin-left: 15px;
	}
}

.filtered-out {
	margin-top: 1.5em;
	li {
		&:before {
			content: "";
		}
		a {
			color: $orange;
			font-weight: 500;
			&:hover {
				color: darken($orange, 15);
			}
			i {
				margin-left: 15px;
			}
		}
	}
}

.compare-checkbox, .needto-checkbox, #food-grade {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &:checked {
  	+	.radio-label:after {
  		background: $orange;
  	}
  	+	.radio-label-front:before {
  		background: $orange;
  	}
  }
}

.radio-label {
    display: inline-block;
    padding: 0 0 0 0.5em;
    vertical-align: middle;
    cursor: pointer;
  &:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid $dark-grey;
    margin-left: 0.5em;
    transition: 0.5s ease all;
	}
}

.radio-label-front {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid $dark-grey;
    margin-right: 0.5em;
    transition: 0.5s ease all;
	}
}

.product-tables {
  border: 1px solid $light-grey;
  border-radius: 6px;
}