@charset "UTF-8";
body,
html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #111b2d;
  line-height: 1.5;
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #111b2d; }

h1,
.h1 {
  font-size: 2.125em; }
  @media screen and (min-width: 500px) {
    h1,
    .h1 {
      font-size: 2.75em; } }

strong,
.strong {
  font-weight: 600; }

h2,
.h2 {
  font-size: 25px;
  font-weight: 600; }

h4 {
  font-size: 1em; }

.small {
  text-transform: initial; }

h3,
.h3 {
  font-weight: 600;
  font-size: 1.25rem; }

a {
  transition: 0.3s;
  color: #6699cc;
  font-weight: 400; }
  a:hover {
    text-decoration: underline;
    color: #204060; }
  a:active, a:focus {
    color: #6699cc;
    text-decoration: none; }

.nav-menu a {
  color: #111b2d; }
  .nav-menu a:hover {
    color: #34538a; }

.medium-text {
  font-size: 1.25em; }

.large-text {
  font-size: 1.5em; }

ul.orange-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.orange-list li {
    padding-left: 1em;
    text-indent: -0.6em; }
    ul.orange-list li::before {
      content: "• ";
      color: #fbb040;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px; }

.right {
  text-align: right; }

.lightweight {
  font-weight: 300; }

.page-top-text {
  font-size: 1.125rem; }

a.grey-bold-link {
  color: #111b2d;
  font-weight: 600;
  font-size: 1rem; }
  a.grey-bold-link:hover {
    color: #000; }

.popover-body {
  color: #fff; }

img {
  max-width: 100%; }

body,
html {
  position: relative; }

.strong, strong {
  font-weight: 700; }

@media screen and (min-width: 990px) {
  #content {
    margin-top: 135px; } }

.scr
.scroll-link {
  cursor: pointer; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center !important; }

.no-margin-p {
  margin: 0;
  padding: 0; }
  .home-tips .no-margin-p {
    text-align: center; }

.inline-element {
  display: inline-block; }

.center-margin {
  margin: 0 auto; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 20px solid #d2232f; }

.container {
  margin-bottom: 2em; }

.container-whole {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 90px; }

.learn-more {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px; }
  .learn-more p {
    margin-bottom: 0 !important; }

.container.nav-container {
  margin-bottom: 0; }

.row {
  margin-top: 20px; }

.blue-background {
  padding: 15px 0 !important;
  background-color: #365170;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0; }
  .blue-background .container {
    line-height: 1.5;
    margin: 0 auto;
    height: 100%; }
  .blue-background .h3 {
    font-size: 2em; }
  .blue-background .h1,
  .blue-background h2,
  .blue-background .h3 {
    margin: 0;
    color: #fff;
    font-size: 1.5em; }
    @media screen and (min-width: 500px) {
      .blue-background .h1,
      .blue-background h2,
      .blue-background .h3 {
        font-size: 2.25em; } }

.grey-background {
  background-color: #f6f6f6;
  margin-top: 0; }

img.lg-icon {
  max-width: 200px;
  margin-left: 10px; }

.icon-row {
  margin-top: 0; }

.icon-div {
  display: flex;
  align-items: center;
  padding: 0 15px; }
  @media screen and (min-width: 758px) {
    .icon-div {
      padding: 0; } }
  .icon-div h2 {
    margin-top: 0; }
  .icon-div .lg-icon {
    display: none;
    width: 200px;
    margin-right: 60px;
    flex-shrink: 0; }
    @media screen and (min-width: 768px) {
      .icon-div .lg-icon {
        display: flex; } }
    .icon-div .lg-icon.right-icon {
      margin-right: 0;
      margin-left: 60px; }

.contact input[type="text"],
.contact select {
  height: 38px !important; }

.privacy ul li:before {
  content: ""; }

.contact-link {
  color: #d2232f;
  font-weight: 800; }
  .contact-link:hover {
    color: #901820; }

.orange {
  color: #fbb040; }

.dark-orange {
  color: #ef4136; }

.orange-cta {
  color: #fbb040;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  margin-left: 15px; }
  .orange-cta:hover {
    color: #ea8e05; }

.page-row {
  margin-top: 0; }
  .page-row h2 {
    margin-top: 0; }

.text-col {
  padding-left: 15px;
  float: left;
  width: 95%; }
  @media screen and (max-width: 1200px) {
    .text-col {
      width: 90%; } }
  @media screen and (max-width: 520px) {
    .text-col {
      width: 80%; } }
  .text-col.half-width {
    width: 80%; }
  .text-col h3 {
    color: #fbb040;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px; }
  .text-col h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px; }

.col-icon {
  width: 50px;
  float: left; }

.gradient-background {
  background: linear-gradient(#ebecec, #fff);
  padding-bottom: 50px;
  position: relative; }
  .gradient-background .row {
    padding: 0 !important;
    margin-top: 0 !important; }
    @media screen and (max-width: 990px) {
      .gradient-background .row {
        margin-top: 20px !important; } }

.cta {
  color: #ef4136;
  text-transform: uppercase;
  font-weight: 700; }
  .cta:hover {
    color: #c91b10; }

.col-separator {
  background-color: #fff;
  width: 6px;
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translatex(-50%); }
  @media screen and (max-width: 990px) {
    .col-separator {
      display: none; } }

.outlast-image {
  text-align: right;
  margin-top: 20%;
  transform: translateX(-20%); }

.calculator-group .page-header {
  margin-left: 15px; }

.orange-text {
  color: #fbb040; }

.dark-orange-text {
  color: #ef4136; }

.fluid-box .inner,
.tech-box .inner,
.tech-box-static .inner {
  border: 2px solid #7f8183;
  border-radius: 4px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9); }

.fluid-box h3,
.tech-box h3,
.tech-box-static h3 {
  font-size: 1.5rem;
  font-weight: 600; }

.tech-box .inner,
.tech-box-static .inner {
  border: 2px solid #ccc;
  display: flex; }
  .tech-box .inner h3,
  .tech-box-static .inner h3 {
    font-size: 1.25rem; }

.tech-box a {
  color: #111b2d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-weight: 400;
  outline: none; }
  .tech-box a .btn {
    align-self: center; }

.tech-box:hover .inner .btn {
  text-decoration: underline; }

hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 2px; }

.dura-difference .inner {
  text-align: center;
  padding: 20px; }

.water-img {
  background-image: url(/wp-content/themes/duratherm-theme/assets/dist/img/fluid.jpg);
  background-size: contain;
  position: absolute;
  width: 85%;
  left: 15%;
  height: 615px;
  top: -150px;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1200px) {
    .water-img {
      top: -35px; } }
  @media screen and (max-width: 990px) {
    .water-img {
      display: none; } }

.vert-border {
  border-left: none; }
  @media screen and (min-width: 990px) {
    .vert-border {
      border-left: 2px solid #ccc;
      padding-left: 25px; } }

.div-back {
  padding-bottom: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position-x: right;
  width: 100%; }
  @media screen and (max-width: 990px) {
    .div-back {
      display: none; } }

li.client-logos::before {
  content: ""; }

li.client-logos img {
  max-width: 1110px; }

#scroller {
  position: relative; }

#scroller .innerScrollArea {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#scroller ul {
  padding: 0;
  margin: 0;
  position: relative; }

#scroller li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute; }

.chart-description {
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .chart-description {
      width: 65%; } }

@media screen and (min-width: 768px) {
  .chart-competitive {
    margin-top: -120px;
    display: block;
    position: relative;
    left: 10%;
    max-width: 80%; } }

.alignright {
  float: right;
  margin: 1.5rem;
  margin-right: 0; }

.align-right {
  float: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.standard {
  display: none; }

.temp-selector,
.temp-selector2 {
  display: flex;
  margin-left: 15px; }
  .temp-selector div,
  .temp-selector2 div {
    padding: 0.25rem 0.5rem;
    border: 1px solid #111b2d;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer; }
    .temp-selector div:hover,
    .temp-selector2 div:hover {
      background-color: #fbb040;
      color: #fff; }
  .temp-selector .c,
  .temp-selector2 .c {
    border-radius: 0 4px 4px 0 !important;
    border-left: none;
    background-color: #fff;
    color: #ccc; }
  .temp-selector .f,
  .temp-selector2 .f {
    border-radius: 4px 0 0 4px !important;
    background-color: #fff;
    color: #ccc; }
  .temp-selector .c1,
  .temp-selector2 .c1 {
    border-radius: 0 4px 4px 0 !important;
    color: #ccc;
    border-left: none; }
  .temp-selector .f1,
  .temp-selector2 .f1 {
    border-radius: 4px 0 0 4px !important;
    color: #ccc; }
  .temp-selector .temp-select.active, .temp-selector .active,
  .temp-selector2 .temp-select.active,
  .temp-selector2 .active {
    background-color: #777;
    color: #fff; }

.temp-selector2 {
  margin-left: 0;
  margin-top: 10px; }
  .temp-selector2 .c1 {
    color: #111b2d; }
  .temp-selector2 .f1 {
    color: #111b2d; }
  .temp-selector2 .active {
    background-color: #111b2d !important;
    color: #fff; }
  .temp-selector2 div:hover {
    background-color: #ccc; }
  @media screen and (min-width: 1200px) {
    .temp-selector2 {
      margin-top: 0; } }

.right-left-border {
  border-right: none;
  border-left: none; }
  @media screen and (min-width: 990px) {
    .right-left-border {
      border-right: 3px solid black;
      border-left: 3px solid black; } }

.top-link {
  background: rgba(255, 255, 255, 0.8); }
  .top-link h3 {
    color: #ef4136;
    font-size: 1.5rem; }
  .top-link a:hover h3 {
    text-decoration: underline; }

.heading-lower {
  text-transform: none; }

sup {
  top: -0.25em;
  text-transform: uppercase;
  font-size: 0.625em; }

.dkpdf-button-container {
  padding: 0 !important;
  margin-bottom: 1rem !important; }

.dkpdf-button {
  color: #111b2d !important;
  font-weight: 600 !important; }

.dkpdf-button-icon {
  font-size: 2.5rem !important;
  color: #ef4136 !important;
  margin-right: 0.5rem !important;
  line-height: 1 !important; }

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 110px; }

.admin-bar .sticky {
  top: 145px; }

.loader {
  margin: 0 30px;
  font-size: 7px;
  display: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d91b11, 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.5), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.7), 1.8em -1.8em 0 0em #d91b11, 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.5), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.7), 2.5em 0em 0 0em #d91b11, 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.5), 2.5em 0em 0 0em rgba(217, 27, 17, 0.7), 1.75em 1.75em 0 0em #d91b11, 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.5), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.7), 0em 2.5em 0 0em #d91b11, -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.5), 0em 2.5em 0 0em rgba(217, 27, 17, 0.7), -1.8em 1.8em 0 0em #d91b11, -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.5), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.7), -2.6em 0em 0 0em #d91b11, -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.5), -2.6em 0em 0 0em rgba(217, 27, 17, 0.7), -1.8em -1.8em 0 0em #d91b11; } }

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d91b11, 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.5), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.7), 1.8em -1.8em 0 0em #d91b11, 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.5), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.7), 2.5em 0em 0 0em #d91b11, 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.5), 2.5em 0em 0 0em rgba(217, 27, 17, 0.7), 1.75em 1.75em 0 0em #d91b11, 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.5), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.7), 0em 2.5em 0 0em #d91b11, -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.2), -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.5), 0em 2.5em 0 0em rgba(217, 27, 17, 0.7), -1.8em 1.8em 0 0em #d91b11, -2.6em 0em 0 0em rgba(217, 27, 17, 0.2), -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.5), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.7), -2.6em 0em 0 0em #d91b11, -1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217, 27, 17, 0.2), 1.8em -1.8em 0 0em rgba(217, 27, 17, 0.2), 2.5em 0em 0 0em rgba(217, 27, 17, 0.2), 1.75em 1.75em 0 0em rgba(217, 27, 17, 0.2), 0em 2.5em 0 0em rgba(217, 27, 17, 0.2), -1.8em 1.8em 0 0em rgba(217, 27, 17, 0.5), -2.6em 0em 0 0em rgba(217, 27, 17, 0.7), -1.8em -1.8em 0 0em #d91b11; } }

@media (max-width: 768px) {
  .new-thermal-container {
    display: none; } }

.new-to-thermal {
  background-color: #c32026;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  transition: 0.3s; }
  .new-to-thermal:hover {
    background-color: #811519; }

.new-to-thermal-link {
  color: #fff !important;
  text-decoration: none !important; }

footer {
  margin-bottom: 4rem; }

.mobmenur-container {
  top: 0 !important; }

@media only screen and (max-width: 990px) {
  .mob-menu-logo-holder {
    margin-top: 25px !important; } }

.mobmenur-container i {
  font-size: 40px !important; }

@media only screen and (min-width: 990px) {
  .mobile-phone {
    display: none; } }

@media only screen and (max-width: 768px) {
  .dura-diff-container {
    padding-bottom: 2.25rem !important; } }

.btn,
.btn:focus,
.btn:active {
  border-radius: 4px;
  padding: 8px 20px;
  border: solid 2px #c32026;
  outline: none;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #c32026;
  color: #fff; }
  .btn:hover,
  .btn:focus:hover,
  .btn:active:hover {
    background-color: #e56468;
    color: #fff;
    outline: none; }

.btn-grey {
  color: #fff;
  background-color: #a6a6a6;
  border: solid 2px #8b8b8b; }
  .btn-grey:hover, .btn-grey:focus, .btn-grey:active {
    background-color: #848484; }

.btn-lg {
  padding: 12px 24px;
  font-size: 1.25em; }

.btn-sm {
  padding: 5px 10px;
  font-size: 0.75em; }

.btn-full-width {
  width: 100%; }

.btn-giant {
  font-size: 1.25em;
  padding: 20px 50px; }

.btn-hollow {
  border: 2px solid #ef4136;
  background-color: #fff;
  color: #ef4136;
  padding: 8px 20px; }
  .btn-hollow:hover, .btn-hollow:focus, .btn-hollow:active {
    background-color: #f5847d;
    outline: none; }
  .product-side .btn-hollow {
    padding: 6px 12px; }

.btn-hollow-blue {
  border: 2px solid #111b2d;
  background-color: #fff;
  color: #111b2d;
  padding: 8px 20px; }
  .btn-hollow-blue:hover, .btn-hollow-blue:focus, .btn-hollow-blue:active {
    background-color: #34538a;
    outline: none; }
  .product-side .btn-hollow-blue {
    padding: 6px 12px; }

.btn-hollow-black {
  border: 1px solid #111b2d;
  background-color: #fff;
  color: #111b2d;
  padding: 8px 20px; }
  .btn-hollow-black h2 {
    color: #111b2d;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.25rem 0; }
  .btn-hollow-black:hover, .btn-hollow-black:focus, .btn-hollow-black:active {
    background-color: #ef4136;
    box-shadow: 0 0 0 0.2rem rgba(238, 67, 57, 0.25);
    outline: none; }
    .btn-hollow-black:hover h2, .btn-hollow-black:focus h2, .btn-hollow-black:active h2 {
      color: #fff; }
  .btn-hollow-black.active {
    border: 1px solid #c91b10;
    color: #fff;
    background-color: #ef4136;
    outline: none; }
    .btn-hollow-black.active h2 {
      color: #fff; }
  .product-side .btn-hollow-black {
    padding: 6px 12px; }

.btn-plain {
  display: block;
  color: #ef4136;
  font-weight: 600;
  background-color: transparent;
  border: none; }
  .btn-plain:hover {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #ef4136; }

.btn-primary.active {
  background-color: #111b2d !important;
  border-color: #111b2d !important; }

.modal-dialog {
  max-width: 95% !important;
  width: 95%;
  margin-top: 10%; }
  @media screen and (min-width: 1200px) {
    .modal-dialog {
      width: 1100px !important; } }

.modal-header {
  background-color: #111b2d; }
  .modal-header h3 {
    color: #fff; }
  .modal-header .close {
    color: #fff;
    opacity: 1; }

.modal-title {
  color: #111b2d;
  margin: 0; }

.modal-body {
  padding: 20px; }
  @media screen and (min-width: 1200px) {
    .modal-body {
      padding: 30px 50px; } }
  .modal-body .row {
    margin-top: 0; }
  .modal-body .temps p {
    font-weight: 600;
    border-left: 1px solid #111b2d;
    margin: 10px;
    padding-left: 10px;
    display: inline-block;
    margin-left: 0; }
    .modal-body .temps p:first-child {
      border-left: none;
      padding-left: 0;
      margin-left: 0; }
    .modal-body .temps p.temp {
      font-size: 1em;
      text-transform: uppercase;
      line-height: 1.1; }
      .modal-body .temps p.temp span {
        font-size: 0.7em; }
  .modal-body .inner {
    font-size: 1em; }

nav {
  text-align: right;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 10px 0 0 0;
  margin-top: 20px; }
  @media screen and (min-width: 990px) {
    nav {
      text-align: right;
      margin-top: 0; } }
  nav .active {
    font-weight: 800; }
  nav ul {
    list-style-type: none;
    margin-bottom: -8px;
    margin-top: 20px; }
    @media screen and (min-width: 990px) {
      nav ul {
        margin-top: 0; } }
    nav ul li {
      display: inline-block;
      padding: 10px 5px 0 10px;
      font-size: 1.25em;
      align-items: center;
      display: flex; }
      @media screen and (min-width: 990px) {
        nav ul li {
          font-size: 14px;
          padding: 5px; } }
      @media screen and (min-width: 1200px) {
        nav ul li {
          padding: 10px;
          font-size: 1rem; } }
      nav ul li .btn, nav ul li .btn:active, nav ul li .btn:focus {
        color: #fff !important;
        padding: 3px 10px; }
    nav ul li:last-of-type {
      padding-right: 0; }

.navbar, .navbar-nav {
  text-align: right;
  justify-content: flex-end;
  padding-bottom: 0;
  padding-right: 0; }
  @media screen and (min-width: 990px) {
    .navbar, .navbar-nav {
      background-color: transparent; } }

.navigation {
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px; }
  @media screen and (min-width: 990px) {
    .navigation {
      justify-content: flex-end;
      display: flex; } }
  .navigation .menu-item:hover {
    text-decoration: underline; }

.dropdown-item {
  padding: 5px 10px; }
  .dropdown-item:hover, .dropdown-item:active {
    background-color: #fff; }

.dropdown-menu {
  border: none;
  text-align: right;
  margin-right: 0.5rem;
  margin-top: 0 !important; }
  @media screen and (min-width: 990px) {
    .dropdown-menu {
      text-align: left; } }
  .footer .dropdown-menu {
    display: none; }

.dropdown-caret {
  font-size: 1.125rem;
  vertical-align: top; }

.dropdown:hover {
  background-color: #efefef;
  color: #fff; }
  .dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #efefef;
    border-radius: 0; }

.top-right-nav {
  text-align: right;
  margin-bottom: -35px;
  width: 100%; }

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
  text-decoration: none;
  font-weight: normal;
  background-color: #efefef !important; }

.header {
  padding: 0;
  display: block;
  margin-top: 20px; }
  .header.row {
    margin: 0;
    padding-top: 0; }
  .header .container {
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc; }
  .header .logo {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 990px) {
      .header .logo {
        text-align: left; } }
    .header .logo img {
      max-width: 100%; }
      @media screen and (min-width: 990px) {
        .header .logo img {
          max-width: 100%; } }

.header-container {
  margin-bottom: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.3s;
  z-index: 10000; }
  .header-container.full-color {
    background-color: #fff; }

.admin-bar .header-container {
  top: 32px; }

.homepage h1.thermal-header {
  color: #d2232f;
  font-size: 25px;
  font-weight: 700;
  margin-left: 15px;
  margin-bottom: 5px; }

.thermal-fluid-row {
  background-color: #000e29; }
  @media screen and (min-width: 990px) {
    .thermal-fluid-row {
      background-image: url("/assets/dist/img/fluid.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 0;
      padding-bottom: 0 !important;
      margin-top: -100px;
      padding-top: 100px !important; } }

.thermal li {
  color: #fff;
  font-weight: 600; }

.toggle-row {
  margin-top: 0; }
  .toggle-row p {
    position: absolute;
    right: 65px;
    top: 10px; }

.inner-header {
  border-bottom: 2px solid #ccc; }

.menu-red a {
  font-weight: 600;
  color: #d2232f; }

.footer-wrapper {
  background-color: #111b2d; }

.footer {
  padding: 0 30px; }
  .footer a {
    transition: 0.3s; }
  .footer .container {
    padding: 0 !important;
    border-top: 2px solid #ccc; }
  .footer .h2 {
    color: #fbb040;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 5px; }
  .footer ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; }
    .footer ul li {
      line-height: 1.5; }
      .footer ul li:before {
        content: ""; }
      .footer ul li a {
        text-decoration: none !important;
        color: #111b2d; }
      .footer ul li a:hover, .footer ul li a.active {
        transition: 0.3s;
        border-bottom: 1px solid #34538a;
        text-decoration: none; }

.back-to-top {
  display: none;
  color: #fff;
  padding: 10px 40px;
  position: fixed;
  bottom: 0;
  right: 125px;
  background-color: #d2232f;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.copyright {
  line-height: 1.5;
  font-size: 0.75rem;
  margin-top: 15px; }

.footer-nav .active {
  text-decoration: underline; }

#comparison .h1 {
  font-weight: 100; }
  #comparison .h1 span {
    display: block;
    font-size: 0.75em; }

@media screen and (min-width: 768px) {
  #comparison img {
    margin-top: -90px; } }

#comparison .comparison-header {
  padding: 2em 0;
  background-image: url("../../../assets/dist/img/comparison-bg.jpg");
  background-size: cover; }

#compare-button-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 6rem;
  z-index: 10000; }

input {
  font-size: 0.9em; }

.calculators input[type="text"] {
  text-align: right; }

.calculators #calculator-nav {
  margin-bottom: 30px; }

.calculators label {
  font-weight: 400;
  margin-top: 5px;
  font-size: 1.125em; }
  .calculators label.no-margin {
    margin-top: 0; }

.calculators .form-group {
  background-color: #f6f6f6;
  margin: 0;
  padding: 10px 0; }
  .calculators .form-group.button-group .col-md-12 {
    padding: 0; }
    .calculators .form-group.button-group .col-md-12 .btn {
      padding: 12px 20px;
      font-size: 18px;
      border-radius: 6px; }
  .calculators .form-group.alt {
    background-color: #eeeeee; }
  .calculators .form-group label span {
    display: block; }

.calculators .calculator-heading {
  background-color: #111b2d;
  padding: 10px;
  text-transform: none; }
  .calculators .calculator-heading h2 {
    font-size: 1.125em;
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
    margin: 0; }

.calculators .calculator-result {
  background-color: #aecbdb;
  color: #fff;
  padding: 30px 0; }

.calculators .active {
  color: #fff;
  background-color: #d2232f;
  border-radius: 4px;
  padding: 4px 8px; }

#fluid-finder {
  background: linear-gradient(#ece8e8, #fff);
  border-radius: 4px; }
  #fluid-finder.left-finder {
    left: 15px !important; }
  #fluid-finder.finder-position {
    position: absolute !important;
    left: 15px !important;
    bottom: 20px !important;
    top: auto !important; }
  #fluid-finder header {
    background-color: #111b2d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px; }
    #fluid-finder header h2, #fluid-finder header .h2 {
      margin: 0;
      color: #fff;
      letter-spacing: 1px;
      font-size: 1.25em; }
  #fluid-finder span.error {
    display: block;
    font-size: 0.85em;
    color: #8b0000;
    margin-bottom: 0.5em; }
  #fluid-finder .fluid-inner {
    padding: 0 15px 15px 15px; }
    #fluid-finder .fluid-inner input[type="checkbox"] {
      -webkit-appearance: radio;
      /* Chrome, Safari, Opera */
      -moz-appearance: radio;
      /* Firefox */
      -ms-appearance: radio;
      /* not currently supported */ }
    #fluid-finder .fluid-inner .needto-text {
      display: none; }
  #fluid-finder label {
    font-weight: 600;
    font-size: 1em; }
  #fluid-finder h3, #fluid-finder .h3 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0; }
  #fluid-finder input[type="text"] {
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 10px;
    margin-top: 10px; }
  #fluid-finder .row {
    margin-bottom: 10px; }
  #fluid-finder hr {
    border-bottom: 4px solid #fff;
    margin-left: -15px;
    margin-right: -15px; }

#frmHTCC .form-group.form-group-properties input[type="text"] {
  max-width: 75px; }

#frmHTCC .form-group {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  #frmHTCC .form-group.btn-row-group {
    justify-content: flex-start;
    position: relative; }
    #frmHTCC .form-group.btn-row-group > * {
      flex-grow: 0;
      margin-right: 20px; }
  #frmHTCC .form-group .form-control {
    width: auto; }
  #frmHTCC .form-group input[type="text"] {
    max-width: 125px; }
  #frmHTCC .form-group input[type="radio"] {
    margin-left: 1.5em; }
  #frmHTCC .form-group > * {
    flex-grow: 0;
    margin-right: 10px; }
  @media screen and (min-width: 990px) {
    #frmHTCC .form-group {
      flex-wrap: nowrap; } }
  #frmHTCC .form-group h4 {
    flex-basis: 150px;
    flex-shrink: 0;
    text-align: center; }
    @media screen and (min-width: 990px) {
      #frmHTCC .form-group h4 {
        text-align: left; } }

#frmHTCC .control-label {
  font-size: 0.8em; }
  @media screen and (min-width: 768px) {
    #frmHTCC .control-label {
      margin-top: 0;
      margin-bottom: 0px;
      text-align: left; } }

@media screen and (min-width: 992px) {
  .form-group .error.help-inline {
    margin-top: 0.3em;
    padding: 0;
    padding-left: 0.3em; } }

.form-group .error.help-inline {
  display: block;
  font-size: 1rem;
  color: #D1222D;
  float: left;
  width: 100%; }

#output-htcc table#outputTable {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }
  #output-htcc table#outputTable th {
    text-align: center; }
  #output-htcc table#outputTable td {
    text-align: right; }
  #output-htcc table#outputTable tr:nth-child(even) {
    background-color: #f6f6f6; }
  #output-htcc table#outputTable tr:nth-child(odd) {
    background-color: #eeeeee; }
  #output-htcc table#outputTable tr:first-child {
    border-top: 5px solid #fff;
    background: #111b2d;
    color: #fff;
    padding: 15px 20px;
    font-weight: 500; }
  #output-htcc table#outputTable th, #output-htcc table#outputTable td {
    padding: 10px 20px; }

#prandtl {
  font-weight: 600; }

.reset-products {
  font-size: 1.125em;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 600;
  margin-top: 15px; }

::-webkit-input-placeholder {
  text-align: left; }

input:-moz-placeholder {
  text-align: right; }

.number-input {
  text-align: right !important; }

#contact h3, #contact .h4 {
  color: #d2232f;
  font-weight: bold;
  margin-bottom: 0; }
  #contact h3 span, #contact .h4 span {
    font-weight: 400; }

#contact h3 {
  color: #111b2d;
  font-size: 15px; }

#contact hr {
  margin-bottom: 10px; }

#contact #about-comments {
  height: 150px; }

#contact #comments, #contact #application, #contact #comments2 {
  height: 179px; }
  @media screen and (min-width: 1200px) {
    #contact #comments, #contact #application, #contact #comments2 {
      height: 95px; } }

#contact #add-product {
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer; }

#contact .contact-form-container {
  padding: 0; }

#contact .form-group {
  height: 100%;
  width: 100%; }

#contact input[type="text"].form-control, #contact input[type="email"], #contact textarea, #contact select {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #111b2d;
  width: 100%;
  box-shadow: none; }

#contact .product-row {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 990px) {
    #contact .product-row {
      display: block; } }

#contact .form-control {
  height: auto; }

#contact select.form-control {
  height: 38px; }

#contact textarea {
  height: 100%; }

#contact hr {
  border-bottom: 2px solid #fff; }

.email-response {
  display: none;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px; }
  .email-response i {
    font-size: 3em;
    color: green;
    position: absolute;
    right: 35px;
    top: 15px; }
  .email-response h4 {
    color: green;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5em; }
  .email-response.success {
    border: 3px solid green; }
    .email-response.success i {
      font-size: 3em;
      float: right;
      color: green; }
  .email-response.error {
    border: 3px solid red; }
    .email-response.error h4 {
      color: red; }
    .email-response.error i {
      font-size: 3em;
      float: right;
      color: red; }

.contact-number {
  display: inline-block;
  width: 85%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #365170; }
  @media screen and (min-width: 768px) {
    .contact-number {
      width: 70%; } }

.remove-me {
  color: red;
  position: absolute;
  top: 8px;
  font-size: 1.25em; }
  .remove-me:hover {
    color: #990000; }

@media screen and (min-width: 1200px) {
  .short-input {
    width: 55% !important; } }

#product-rows {
  display: none; }

.difference p {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px; }

.difference2 {
  font-size: 1.25em; }
  .difference2 p {
    margin: 0; }

.outlasts {
  position: relative;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .outlasts {
      padding: 0; } }
  .outlasts h2 {
    margin-top: 0; }
  .outlasts .outlast-image img {
    display: none;
    max-width: 100%;
    max-width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 990px) {
      .outlasts .outlast-image img {
        display: inline-block;
        margin-top: -12.5%; } }

.homepage h1 {
  color: #111b2d;
  font-weight: 600;
  font-size: 2.125em;
  margin-top: 40px; }
  @media screen and (min-width: 500px) {
    .homepage h1 {
      font-size: 3em; } }
  @media screen and (max-width: 990px) {
    .homepage h1 {
      word-spacing: inherit; } }

.homepage .row {
  padding: 30px 0;
  margin-left: 0;
  margin-right: 0; }

.homepage .container {
  margin-bottom: 0; }

.homepage .logo-container {
  height: 100px;
  position: relative;
  overflow: hidden; }
  .homepage .logo-container img {
    max-width: none !important; }

.homepage li.client-logos::before {
  content: ""; }

.homepage li.client-logos img {
  max-width: 1110px; }

.homepage #scroller {
  position: relative; }

.homepage #scroller .innerScrollArea {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.homepage #scroller ul {
  padding: 0;
  margin: 0;
  position: relative; }

.homepage #scroller li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute; }

.homepage .testimonial-container {
  background-repeat: no-repeat;
  position: relative;
  background-size: contain; }

.homepage .testimonial-header, .homepage .testimonial-footer {
  background-repeat: no-repeat;
  padding-top: 25.25%;
  opacity: 0.8;
  width: 90%;
  margin: 0 auto;
  background-size: contain; }

.homepage .testimonial-footer {
  margin-top: 1em; }

.homepage .testimonial-body {
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px; }
  .homepage .testimonial-body p:before {
    content: open-quote; }
  .homepage .testimonial-body p:after {
    content: close-quote; }
  .homepage .testimonial-body #testimonial-author {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400; }

.homepage .home-tips {
  text-align: center;
  overflow: hidden; }
  .homepage .home-tips h3 {
    color: #8b8b8b;
    margin: 1em 0 0.75em 0;
    font-size: 2.125em;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative; }
    .homepage .home-tips h3.tools {
      margin-top: 0; }
    .homepage .home-tips h3 span {
      display: inline-block;
      position: relative; }
    .homepage .home-tips h3 span:before, .homepage .home-tips h3 span:after {
      border-top: 2px solid #8b8b8b;
      position: absolute;
      top: 50%;
      width: 1000px;
      content: ""; }
    .homepage .home-tips h3 span:before {
      right: 100%;
      margin-right: 15px; }
    .homepage .home-tips h3 span:after {
      left: 100%;
      margin-left: 15px; }
  .homepage .home-tips h4 {
    color: #111b2d;
    font-weight: 600;
    font-size: 1.25em; }
  .homepage .home-tips p {
    margin-bottom: 1.5em; }
  .homepage .home-tips .row {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px; }

.dura-diff {
  color: #d2232f;
  font-weight: 700; }

.light-white {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 95px;
  padding: 15px 0 20px; }
  .light-white h2 {
    margin-top: 0;
    font-size: 25px; }

.bullet {
  color: #fbb040;
  font-size: 1.25em;
  vertical-align: middle;
  line-height: 1;
  margin: 0 2px; }

.thermal ul li {
  font-size: 17px; }

.chart-front {
  max-width: 50rem;
  float: left;
  display: block;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .chart-front {
      margin-top: -12rem; } }

.longer-p {
  max-width: 35rem;
  font-size: 18px; }

.main-h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5; }

.front-testimonial {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; }

.testimonial-container {
  min-height: 100px;
  position: relative;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .testimonial-container {
      min-height: 180px;
      margin-top: 0; } }

.our-customers {
  font-family: Sriracha;
  font-size: 1.5rem; }
  @media screen and (max-width: 768px) {
    .our-customers {
      font-size: 1.25rem; } }

.point-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 0.85em;
  text-align: center;
  position: relative;
  transition: 0.3s; }
  .point-card .arrow-down {
    margin-bottom: 10px; }
  .point-card p {
    margin: 0;
    font-weight: 700; }

.point-card-container a {
  color: #111b2d;
  display: block; }
  .point-card-container a:hover {
    color: #111b2d; }
    .point-card-container a:hover .point-card {
      background-color: #ddd; }

.product-card-container {
  margin-bottom: 50px; }

.card-container {
  padding-left: 0;
  padding-right: 0; }

.product-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px; }
  .product-card header {
    background: linear-gradient(#ece8e8, #fff);
    border: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    margin: -2px;
    font-size: 0.9em;
    padding: 5px 0 5px 20px; }
    .product-card header p {
      color: #111b2d;
      border-left: 1px solid #fbb040;
      margin: 5px;
      padding-left: 10px; }
      @media screen and (min-width: 768px) {
        .product-card header p {
          margin: 10px; } }
      .product-card header p.temp {
        font-size: 0.9em;
        text-transform: uppercase;
        line-height: 1.1; }
        @media screen and (min-width: 768px) {
          .product-card header p.temp {
            font-size: 1.125em; } }
        .product-card header p.temp span.temp-label {
          font-size: 0.7em; }
    .product-card header h3, .product-card header .h3 {
      font-size: 1em;
      font-weight: 600;
      color: #111b2d;
      margin: 0; }
      @media screen and (min-width: 768px) {
        .product-card header h3, .product-card header .h3 {
          font-size: 1.5em; } }
      .product-card header h3 a, .product-card header h3 a:hover, .product-card header h3 a:focus, .product-card header h3 a:active, .product-card header .h3 a, .product-card header .h3 a:hover, .product-card header .h3 a:focus, .product-card header .h3 a:active {
        color: #111b2d; }
    .product-card header .close-product {
      color: #111b2d;
      text-align: center;
      padding-left: 1px;
      font-weight: 600;
      position: absolute;
      right: 15px;
      top: 3px;
      cursor: pointer;
      font-size: 1.5em;
      transition: 0.3s; }
      .product-card header .close-product:hover {
        color: #ddd; }
  .product-card .inner {
    padding: 20px;
    font-size: 1.125em;
    padding-bottom: 5px; }
  .product-card p {
    margin: 5px -10px;
    font-size: 0.85em; }
    .product-card p.product-description {
      border-radius: 4px;
      background-color: #fff;
      padding: 10px; }
  .product-card .btn .fa {
    margin-right: 0; }

.product-side {
  text-align: center;
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .product-side {
      border-left: 1px solid #ddd;
      padding-left: 20px;
      margin-top: 0; } }
  .product-side .btn {
    margin-bottom: 5px;
    font-size: 14px; }
  .product-side input[type="checkbox"] {
    -webkit-appearance: radio;
    /* Chrome, Safari, Opera */
    -moz-appearance: radio;
    /* Firefox */
    -ms-appearance: radio;
    /* not currently supported */ }
  .product-side label {
    font-weight: 500;
    font-size: 15px; }

.additional-info {
  display: none; }

.products-viewing {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
  background-color: #ddd;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0; }
  .products-viewing p {
    width: 100%;
    margin: 0; }
  .products-viewing a {
    color: #d2232f; }
    .products-viewing a:hover {
      color: #901820; }

.sort-row {
  padding: 10px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .sort-row .sort-select-div {
    display: flex;
    align-items: center;
    flex-shrink: 0; }
  .sort-row select {
    padding: 5px 10px;
    color: #333;
    font-size: 0.8em;
    border-radius: 4px;
    outline: none; }
  .sort-row .sortby-label {
    color: #fbb040;
    font-weight: 700;
    margin: 0;
    margin-right: 10px;
    text-transform: uppercase; }
  .sort-row.sort-row-left {
    justify-content: flex-start;
    margin-left: 15px; }

.filtered-out {
  margin-top: 1.5em; }
  .filtered-out li:before {
    content: ""; }
  .filtered-out li a {
    color: #d2232f;
    font-weight: 500; }
    .filtered-out li a:hover {
      color: #901820; }
    .filtered-out li a i {
      margin-left: 15px; }

.compare-checkbox, .needto-checkbox, #food-grade {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .compare-checkbox:checked + .radio-label:after, .needto-checkbox:checked + .radio-label:after, #food-grade:checked + .radio-label:after {
    background: #d2232f; }
  .compare-checkbox:checked + .radio-label-front:before, .needto-checkbox:checked + .radio-label-front:before, #food-grade:checked + .radio-label-front:before {
    background: #d2232f; }

.radio-label {
  display: inline-block;
  padding: 0 0 0 0.5em;
  vertical-align: middle;
  cursor: pointer; }
  .radio-label:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid #8b8b8b;
    margin-left: 0.5em;
    transition: 0.5s ease all; }

.radio-label-front {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  cursor: pointer; }
  .radio-label-front:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    border-radius: 1em;
    background: #fff;
    border: 1px solid #8b8b8b;
    margin-right: 0.5em;
    transition: 0.5s ease all; }

.product-tables {
  border: 1px solid #ddd;
  border-radius: 6px; }

.resources h3 {
  font-size: 1.25em;
  color: #111b2d;
  font-weight: 600;
  margin-top: 0; }

.resources .h2 {
  font-weight: 600;
  color: #111b2d;
  margin-top: 0; }

.resources img {
  max-width: 80%; }

.resources .btn {
  display: block; }
  @media screen and (min-width: 768px) {
    .resources .btn {
      display: inline-block; } }

@media screen and (min-width: 768px) {
  .resources .block img {
    display: block; } }

.resources .difference p {
  font-weight: 300;
  width: 90%;
  font-size: 0.9em; }

.resources .calculator-select {
  margin: 20px 0;
  outline: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 18px;
  width: 300px;
  height: 44px; }

.resources .res-tech-paper p {
  padding-bottom: 20px; }

@media screen and (min-width: 768px) {
  .resources .res-tech-paper .btn {
    position: absolute;
    bottom: 5px;
    margin-left: -60px; } }

.calc1 {
  display: none; }
  @media screen and (min-width: 990px) {
    .calc1 {
      display: block; } }

.calc2 {
  display: block; }
  @media screen and (min-width: 990px) {
    .calc2 {
      display: none; } }

.compare-hide {
  border: 2px solid #d2232f;
  border-radius: 8px;
  margin: 10px 0 !important;
  padding-left: 70px;
  font-size: 1.063em;
  position: relative; }
  .compare-hide .container {
    margin: 0; }
  .compare-hide p {
    margin: 15px 5px 20px 0; }
  .compare-hide i {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2em;
    color: #d2232f; }

.resources-left-col {
  border-left: 2px solid #ddd;
  padding-left: 40px; }
  @media screen and (max-width: 768px) {
    .resources-left-col {
      border-left: none;
      padding-left: 15px;
      margin-top: 30px; } }

.resource-h1 {
  font-size: 21px; }

.resource-h2 {
  color: #fbb040;
  font-size: 25px;
  margin-bottom: 10px; }

.product-tables {
  margin-top: 15px; }
  .product-tables strong {
    font-weight: 500; }
  .product-tables span {
    font-weight: 400; }
  .product-tables table {
    width: 100%;
    overflow: hidden; }
    .product-tables table td, .product-tables table th {
      padding: 5px 15px;
      font-size: 13px; }
    .product-tables table th {
      background-color: #e2e2e2;
      padding: 10px 15px; }
      .product-tables table th h3 {
        color: #111b2d;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px; }

.grey-row {
  background-color: #f4f4f4; }

.darkgrey-row {
  background-color: #b4b4b5;
  color: #fff;
  font-weight: 300; }
  .darkgrey-row td {
    font-size: 15px;
    font-weight: bold; }

.sidebar img {
  width: 100%;
  border-radius: 4px; }

.sidebar .callout {
  margin-top: 42px;
  overflow: hidden; }
  .sidebar .callout header {
    color: #fbb040;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 17px; }
  .sidebar .callout ul {
    padding: 20px;
    list-style-type: none; }
    .sidebar .callout ul li:before {
      content: ""; }

.mainpage h1 {
  color: #111b2d;
  font-weight: 500;
  margin-top: 0; }

.mainpage .downloads {
  color: #d2232f;
  padding: 0px 0;
  margin: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .mainpage .downloads p {
    margin: 20px 0; }

.product-page blockquote {
  border-left: 1px solid #ccc;
  margin: 0 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

.product-page blockquote:before {
  content: open-quote;
  font-size: 38px;
  line-height: 0.1em;
  margin-right: 0.125em;
  vertical-align: -0.4em; }

.product-page blockquote:after {
  content: close-quote;
  font-size: 38px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

.product-page blockquote p {
  display: inline; }

.product-page #testimonial {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 5px;
  font-size: 15px; }
  .product-page #testimonial p {
    margin-bottom: 0; }

.product-page #testimonial-author {
  padding: 20px;
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  margin-left: 10px; }

.data-sheet a {
  color: #ef4136; }
  .data-sheet a:hover {
    color: #b87004; }
  .data-sheet a i {
    font-size: 2.5em;
    margin-top: -5px; }

.popover {
  background-color: #000;
  color: #fff; }

.popover-content {
  text-indent: 0; }

.popover.top > .arrow::after {
  border-top-color: black; }

.pump-popover {
  margin-left: 15px; }

ul.quickfacts {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.quickfacts li {
    padding-left: 1em;
    text-indent: -.7em; }
    ul.quickfacts li::before {
      content: "• ";
      color: #fbb040;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px; }

.product-img-container {
  margin-left: -15px;
  margin-right: -15px; }

.downloads i {
  display: inline-block;
  margin-right: 0.5rem; }

.downloads span {
  display: inline-block;
  color: #000; }
  .downloads span span {
    font-size: 0.75rem; }

.compare-submit {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .compare-submit .compare-header {
    color: #fff;
    padding: 10px 40px;
    left: 125px;
    background-color: #d2232f;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    justify-content: space-between; }
    .compare-submit .compare-header .compare-icons a {
      margin-left: 1em;
      color: #fff;
      font-size: 1.25em; }
  .compare-submit .compare-body {
    background-color: #fff;
    border-left: 1px solid #8b8b8b;
    border-right: 1px solid #8b8b8b;
    padding: 1.5em; }
    .compare-submit .compare-body ul {
      margin-bottom: 20px; }
    .compare-submit .compare-body li a {
      color: red; }
      .compare-submit .compare-body li a:hover {
        color: #990000; }
    .compare-submit .compare-body i {
      margin-left: 15px;
      display: inline; }
    .compare-submit .compare-body.row {
      margin: 0; }

.compare-wrapper {
  position: relative;
  margin-top: 50px;
  z-index: 5000; }

.compare-back {
  position: absolute;
  width: 1120px;
  height: 60px;
  background-color: white;
  z-index: 5001; }

.compare-nav {
  position: absolute;
  z-index: 5002; }

#tc, #hc, #kv, #den, #vp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.data-row {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.compare-container {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  flex-wrap: wrap;
  padding-top: 15px; }
  .compare-container .category-header h3 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    text-transform: none; }
  .compare-container .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }
  .compare-container .label-column, .compare-container .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-container .label-header {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #111b2d;
    text-transform: uppercase; }
  .compare-container .compare-header-wrapper {
    position: relative;
    margin-bottom: 10px; }
  .compare-container .compare-header {
    padding: 1em 1.5em;
    background-color: #3b3b49;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.85em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: -16px; }
    .compare-container .compare-header i {
      margin-left: 0.5em; }
  .compare-container .fluids {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 107%;
    margin-left: -16px;
    max-height: 300px;
    overflow: auto; }
  .compare-container .product-list {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 0.85em; }
    .compare-container .product-list:hover {
      background-color: #f6f6f6; }
  .compare-container .category-header {
    display: block;
    background-color: #3b3b49;
    width: 100%;
    padding: 10px; }
    .compare-container .category-header h2 {
      color: #fff;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0; }
    .compare-container .category-header span {
      text-transform: none; }
    .compare-container .category-header.grey {
      background-color: #ddd;
      color: #111b2d; }
  .compare-container .table-label {
    padding: 10px;
    font-weight: 300;
    border-right: 1px solid #fbb040; }
    .compare-container .table-label.bold {
      font-weight: 600; }
  .compare-container .table-data {
    padding: 10px 0;
    flex: 0 0 190px;
    font-weight: 500;
    padding-left: 5px;
    border-right: 1px solid #fbb040; }

.compare-nav-container {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  width: 1120px;
  flex-wrap: wrap; }
  .compare-nav-container .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }
  .compare-nav-container .label-column, .compare-nav-container .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-nav-container .label-header {
    font-size: 15px;
    text-align: right;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #111b2d;
    text-transform: uppercase;
    margin-top: 15px; }
  .compare-nav-container .compare-header-wrapper {
    position: relative;
    margin-bottom: 10px;
    margin-right: 5px; }
  .compare-nav-container .compare-header {
    padding: 1em 1.5em;
    background-color: #3b3b49;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.85em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    margin-left: -16px; }
    .compare-nav-container .compare-header i {
      margin-left: 0.5em; }
  .compare-nav-container .fluids {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 107%;
    margin-left: -16px;
    max-height: 300px;
    overflow: auto; }
  .compare-nav-container .product-list {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 0.85em; }
    .compare-nav-container .product-list:hover {
      background-color: #f6f6f6; }
  .compare-nav-container .category-header {
    display: block;
    background-color: #AECBDB;
    color: #fff;
    font-weight: 500;
    font-size: 1.125em;
    width: 100%;
    padding: 10px; }
    .compare-nav-container .category-header.grey {
      background-color: #ddd;
      color: #111b2d; }
  .compare-nav-container .table-label {
    padding: 10px;
    font-weight: 500;
    border-right: 1px solid #8b8b8b; }
  .compare-nav-container .table-data {
    padding: 10px 0;
    flex: 0 0 190px;
    font-weight: 500;
    padding-left: 5px;
    border-right: 1px solid #8b8b8b; }

.compare-floater {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: #111b2d;
  padding: 0;
  margin: 0 15px;
  overflow: auto;
  width: 1110px;
  flex-wrap: wrap;
  display: none; }
  .compare-floater .label-column, .compare-floater .table-label {
    flex-basis: 270px;
    flex-shrink: 0; }
  .compare-floater .compare-header {
    padding: 1em 0;
    color: #fff;
    text-align: left;
    font-weight: 500;
    font-size: 0.85em;
    margin-right: 5px; }
  .compare-floater .compare-column {
    flex-basis: 190px;
    flex-shrink: 0; }

.compare-buttons {
  z-index: 100;
  text-align: right;
  padding-right: 0;
  margin-top: 15px; }

.print-compare-table .grey-row {
  background-color: #ddd; }

.comparison-wrapper {
  overflow: auto; }

.question {
  font-weight: 600;
  cursor: pointer; }
  .open-bath .question {
    font-weight: 600;
    font-size: 1.125rem; }

.answer {
  display: none; }

.term {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.125rem; }

.filters {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc; }
  .filters ul {
    list-style-type: none;
    margin: 10px 0; }
    .filters ul li {
      display: inline-block;
      padding: 0 0.5rem; }
      .filters ul li:before {
        content: " ";
        margin-left: 0; }

.term-filter {
  cursor: pointer; }
  .term-filter:hover {
    font-weight: 600; }
  .term-filter.active {
    font-weight: 700;
    color: #ef4136; }

.grid-item {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 4px; }
  @media screen and (min-width: 990px) {
    .grid-item {
      width: 31.5%; } }

.logo-container {
  position: relative;
  height: 200px;
  overflow: hidden; }
  @media screen and (min-width: 900px) {
    .logo-container {
      height: 300px; } }
  .logo-container .logo-trigger {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 1%, rgba(255, 255, 255, 0.85) 50%, white 99%, white 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4rem 15px 0;
    color: #ef4136;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700; }
    .logo-container .logo-trigger p {
      margin: 0; }

.testimonial p strong {
  font-weight: 700 !important; }

.downloads-inner {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem; }
  .downloads-inner .download-line {
    border-bottom: 1px solid #ccc; }
    .downloads-inner .download-line p {
      margin: 0;
      padding: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .downloads-inner .download-line p a {
        font-size: 0.875rem; }
    .downloads-inner .download-line:last-of-type {
      border: none; }
  .downloads-inner .downloads-header {
    border-bottom: 1px solid #ccc;
    background: linear-gradient(#ece8e8, #fff);
    margin-top: -0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 1rem; }

.grid-item-sheets {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .grid-item-sheets {
      width: 50%; } }

.industry-header {
  padding-bottom: 30%;
  background-size: cover;
  position: relative; }
  .industry-header h2 {
    font-weight: 700;
    color: #fff;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.27); }

.screen {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  height: 100%;
  width: 100%; }

.overlay {
  background-color: rgba(251, 175, 66, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 1;
  transition: 0.3s; }
  @media screen and (min-width: 768px) {
    .overlay {
      opacity: 0; } }

.industry-image-link {
  position: relative;
  display: block; }
  .industry-image-link:hover > .overlay {
    opacity: 1; }
  .industry-image-link h2 {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
    font-size: 1.5rem; }
    @media screen and (min-width: 768px) {
      .industry-image-link h2 {
        font-size: 1rem; } }
    @media screen and (min-width: 900px) {
      .industry-image-link h2 {
        font-size: 1.125rem; } }
    @media screen and (min-width: 1200px) {
      .industry-image-link h2 {
        font-size: 1.5rem; } }

.industry-products .product {
  margin-left: 1rem;
  border-bottom: 2px solid #ccc;
  padding: 1rem 0; }

.industry-text-link.active {
  font-weight: 600; }

.tech-box-glycol {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.modal-header-light {
  background-color: #fff;
  border: none; }
  .modal-header-light .close {
    color: #ef4136; }

.glycol-link-container {
  margin: 1rem; }

.glycol-link {
  display: flex;
  color: #111b2d;
  font-size: 1rem; }
  .glycol-link i {
    color: #ef4136;
    font-size: 2rem;
    margin-right: 10px; }

@media screen and (min-width: 768px) {
  .glycol-get-quote {
    position: absolute;
    top: 0;
    right: 2.5rem; } }

.tips-categories {
  list-style-type: none;
  text-align: right; }
  .tips-categories li {
    margin-bottom: 0.5rem; }
    .tips-categories li:before {
      content: " "; }
    .tips-categories li a {
      color: #111b2d;
      font-weight: 400; }
      .tips-categories li a:hover {
        color: #34538a;
        text-decoration: underline; }
      .tips-categories li a:after {
        content: " |";
        color: #ef4136;
        font-weight: 700; }
      .tips-categories li a.tips-active {
        font-weight: 700; }
  @media screen and (max-width: 990px) {
    .tips-categories {
      text-align: center;
      padding: 0;
      font-size: 0.9rem; }
      .tips-categories li:last-child a:after {
        content: ""; }
      .tips-categories li {
        display: inline-block !important; } }

.tip-list h2 {
  font-weight: 600;
  font-size: 1.25rem; }

.sidebar-container {
  border-left: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2rem; }

.black-link {
  color: #000; }

.did-you-know p {
  font-weight: 600;
  margin-bottom: 0.375rem; }

.calculator-selector {
  display: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  color: #fff;
  background-color: #ef4136;
  margin: 0; }
  @media screen and (min-width: 990px) {
    .calculator-selector {
      display: flex; } }
  .calculator-selector li {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    flex: 1 1 auto; }
    .calculator-selector li:hover, .calculator-selector li.active {
      background-color: #777; }

.calc-box {
  margin-bottom: 1rem; }
  .calc-box a {
    display: block; }
  .calc-box a, .calc-box a:hover {
    text-decoration: none;
    color: #111b2d; }
  .calc-box a:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .calc-box .inner {
    border: 2px solid #ccc;
    padding: 1rem; }
    .calc-box .inner h2, .calc-box .inner .h2 {
      font-size: 1.125rem;
      font-weight: 600; }

.open-bath-table {
  width: 100%;
  text-align: center; }
  .open-bath-table th {
    font-size: 0.875rem;
    padding: 1rem 0.25rem; }
  .open-bath-table td {
    padding: 0.5rem 0.25rem;
    font-size: 0.875rem;
    border-right: 1px solid #fbb040; }
    .open-bath-table td.product-name {
      font-weight: 600; }
  .open-bath-table tr {
    cursor: default; }
  .open-bath-table .no-border:hover {
    background-color: initial !important; }
  .open-bath-table .no-border td {
    border: none; }
  .open-bath-table .dark-grey-row {
    background-color: #e1e1e1 !important; }
  .open-bath-table .grey-row {
    background-color: #f4f4f4; }
  .open-bath-table .text-large {
    font-size: 1.5rem; }

@media screen and (max-width: 990px) {
  .nav-tabs .nav-item {
    width: 100%;
    margin-bottom: .5rem; } }

@media screen and (min-width: 990px) {
  .nav-tabs .nav-link {
    margin-right: 0.5rem; } }

.nav-tabs {
  border-bottom: none; }

.nav-tabs .nav-link {
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 0;
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.nav-tabs .nav-link.active {
  border: 3px solid #ddd;
  border-bottom: none; }

.nav-tabs .nav-item, .nav-tabs .nav-item2 {
  margin-bottom: -4px; }

.tab-pane {
  border: 3px solid #ddd;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; }

.border-orange {
  border-color: #fbb040 !important; }

.popout {
  position: fixed;
  bottom: 0;
  right: 2rem;
  color: #fff;
  background-color: #fff;
  width: 300px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: -5px 5px 5px 0px #b8afb8;
  -moz-box-shadow: -5px 5px 5px 0px #b8afb8;
  box-shadow: -5px 5px 5px 0px #b8afb8;
  z-index: 10000; }
  .popout a {
    color: #fff;
    padding: 0.75rem 0.5rem;
    display: block; }
  .popout .popout-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    background-color: #ef4136; }
    .popout .popout-title p {
      margin: 0 1rem;
      font-weight: 600;
      text-align: center; }
  .popout .popout-trigger p {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .popout .popout-body {
    display: none;
    font-size: 0.875rem;
    color: black;
    background: white;
    padding: 1.5rem;
    border-radius: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
    .popout .popout-body a {
      color: blue;
      display: inline;
      text-decoration: underline; }
    .popout .popout-body ol {
      margin-left: 0;
      padding-left: 20px; }
    .popout .popout-body .btn {
      margin: 1rem auto;
      color: #fff !important;
      text-decoration: none;
      text-transform: initial;
      background-color: #ef4136;
      display: block;
      padding: 8px; }
