.header-container {
  display: none; }

.tip-menu {
  display: none !important; }

.footer {
  display: none !important; }

.navigation {
  display: none !important; }

.menu-main-nav-container,
.mob-menu-logo-holder,
.menu-main-nav-container,
#mobmenuright,
.mobmenur-container {
  display: none !important; }

* {
  font-size: 1rem;
  font-family: Open Sans, sans-serif; }
