{% extends "base.twig" %} {% block content %} {% include '/partials/page-header.twig' %}
<div class="container">
  <div class="content-wrapper post-type-{{post.post_type}} ">
    <div class="article-main {% if not page_sidebar %}no-sidebar-mod{% endif %}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body front-page">
          {{post.content}}
        </div>
      </section>
    </div>
    {% if page_sidebar %}
    <aside class="article-sidebar">
      {% block page_sidebar %} {{ page_sidebar }} {% endblock %}
    </aside>
    <!-- /article-sidebar -->
    {% endif %}
  </div>
  <!-- /content-wrapper -->
</div>
<div class="container">
  {% endblock %}