{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h1 class="h2">{{ howtitle }}</h1>
            <div class="page-top-text">
              Occasionally, you may have questions about how to select a heat transfer fluid, what to look for when purchasing and maintaining
              your heat transfer system, troubleshooting and more. Our Tips &amp; How-To's section is your source for all
              sorts of useful information.
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-lg-3 tip-menu">
              <ul class="tips-categories pl-0">
                <li>
                  <a href="/news" class="tips-category tips-active" data-filter="all">LATEST ENTRIES</a>
                </li>
                <li>
                  <a href="/news/maintenance/" class="tips-category" data-filter="maintenance">MAINTENANCE</a>
                </li>
                <li>
                  <a href="/news/equipment-design/" class="tips-category" data-filter="equipment-design">EQUIPMENT DESIGN</a>
                </li>
                <li>
                  <a href="/news/troubleshooting/" class="tips-category" data-filter="troubleshooting">TROUBLESHOOTING</a>
                </li>
                <li>
                  <a href="/news/fluid-basics/" class="tips-category" data-filter="fluid-basics">FLUID BASICS</a>
                </li>
                <li>
                  <a href="/news/case-studies/" class="tips-category" data-filter="case-studies">CASE STUDIES</a>
                </li>
            </div>
              <div class="col-lg-8 vert-border tip-list">
                {% for post in posts %}
                <div class="mb-4 tip-block" data-category="{{post.category.slug | join('') }}">
                  <h2>{{ post.title }}</h2>
                  <p class="mb-0">{{ post.post_excerpt }}</p>
                  <p class="mt-1">
                    <a href="/{{ post.slug }}">READ MORE ></a>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
            <div id="cat" style="display:none">{{ cat }}</div>
      </div>
  </section>
  </div>
  {% endblock %} {% block scripts %}
  <script>
    var cat = $('#cat').text()
    if (cat === '') {
      cat = 'all'
    }
    $('.tips-category').removeClass('tips-active')
    $('.tips-category').each(function () {
      if ($(this).data('filter') == cat) {
        $(this).addClass('tips-active')
      }
    })
  </script> {% endblock %}