{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="page-top-text">
              <p>{{ products_page.content }}</p>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12">
            <h3 class="orange">Choose Your Fluid</h3>
            <div class="row">
              <div class="col-lg-4 tech-box">
                <div class="inner tech-box-glycol">
                  <a href="/heat-transfer-fluid">
                    <div>
                      <h2 class="h3">Thermal Fluids</h2>
                      <ul class="orange-list">
                        {% for point in products_page.get_field('thermal_fluids') %}
                        <li class="mb-2">{{point.point}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <button class="btn btn-plain mt-3">View Products</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 tech-box">
                <div class="inner tech-box-glycol">
                  <a href="/open-bath">
                    <div>
                      <h2 class="h3">Open Bath Fluids</h2>
                      <ul class="orange-list">
                        {% for point in products_page.get_field('open_bath_fluids') %}
                        <li class="mb-2">{{point.point}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <button class="btn btn-plain mt-3">View Products</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 tech-box">
                <div class="inner tech-box-glycol">
                  <a href="/system-cleaners">
                    <div>
                      <h2 class="h3">System Cleaners</h2>
                      <ul class="orange-list">
                        {% for point in products_page.get_field('system_cleaners') %}
                        <li class="mb-2">{{point.point}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <button class="btn btn-plain mt-3">View Products</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}