  {% include "partials/html-header.twig" %}

  {% block head %}
  {% endblock %}
</head>
  <body class="{{body_class}}" data-source="base.twig">
    {% include "partials/header.twig" %}
    <section id="before-content" class="before-cnt">
      <div class="wrapper">
        <div class="container">
          <div class="row">
              {{ before_content }}
          </div>
        </div>
      </div>
    </section>

    <section id="content" class="cnt" role="main">
      {% include "partials/side-popout.twig" %}
      {% block content %}
        Sorry, no content
      {% endblock %}
    </section><!-- /cnt -->

    <section id="after-content" class="after-cnt">
      <div class="wrapper">
        <div class="container">
          {{ after_content }}
        </div>
      </div>
    </section>

    {% include "partials/footer.twig" %}

    {% block scripts %}
    {% endblock %}
    {{function('load_footer_scripts')}}
    {{function('wp_footer')}}
    {% block footerscripts %}
    {% endblock %}
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"lang":"en","siteId":886057,"consentOnScroll":false,"cookiePolicyId":8196712};
    </script><script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

  </body>
</html>