{% extends "base.twig" %} 
{% block content %}
<div class="front-page">
  <section class="article-content">
    <div class="article-body">
      <div class="container" style="position: relative">
        <div class="water-img"></div>
        <div class="row mt-0">

          <div class="col-lg-12">
            <div class="row mt-0">
              <div class="col-md-8">
                <h1 class="heading-lower main-h1 mb-4">Duratherm produces some of the longest lasting heat transfer fluids on the market.</h1>
              </div>
            </div>
            <ul class="mb-4 orange-list" style="font-size: 18px; line-height: 1.6">
              {% for points in post.get_field('thermal_fluids') %} {% for point in points %}
              <li>{{ point }}</li>
              {% endfor %} {% endfor %}
            </ul>
            <div class="row mt-0 top-link">
              <div class="col-lg-4 center">
                <div class="inner p-2">
                  <a href="/heat-transfer-fluid">
                    <div>
                      <h2 style="color:#ef4136">THERMAL FLUIDS <i class="fa fa-chevron-right" style="font-size: 1.25rem; color:#ef4136"></i></h2>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 center">
                <div class="inner p-2">
                  <a href="/open-bath">
                    <div class="right-left-border">
                      <h2 style="color:#ef4136">OPEN BATH FLUIDS <i class="fa fa-chevron-right" style="font-size: 1.25rem; color:#ef4136"></i></h2>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 center">
                <div class="inner p-2">
                  <a href="/system-cleaners">
                    <div>
                      <h2 style="color:#ef4136">SYSTEM CLEANERS <i class="fa fa-chevron-right" style="font-size: 1.25rem; color:#ef4136"></i></h2>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-0">
          <hr class="m-0 w-100" style="z-index: 1000;">
        </div>
        <div class="row mt-0">
          <div class="dura-difference col-lg-12 p-3">
            <div class="inner">
                <p class="mb-3" style="font-family:sriracha;font-weight:400; font-size: 2rem">There's more to us than just great thermal fluids!</p>
              <h5 class="orange-text strong mb-3" style="font-size: 2rem">Experience The Duratherm Difference</h5>
              <div class="dura-diff-container pb-4">
                <div class="position-absolute" style="left: 50%; transform: translateX(-50%);">
                  <p class="h3 dark-orange-text" style="margin-bottom: 5px; font-size: 1.8rem; text-transform: none; font-weight: bold">Safer and Cleaner</p>
                </div>
                <div class="position-absolute" style="left: 50%; transform: translateX(-50%);display:none;">
                  <p class="h3 dark-orange-text" style="margin-bottom: 5px; font-size: 1.8rem; text-transform: none; font-weight: bold">Longer Lasting</p>
                </div>
                <div class="position-absolute" style="left: 50%; transform: translateX(-50%);display:none;">
                  <p class="h3 dark-orange-text" style="width: 100%; margin-bottom: 5px; font-size: 1.8rem; text-transform: none; font-weight: bold">Unparalleled Service</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-0">
          <hr class="mb-5 mt-0 w-100">
        </div>
        <div class="row mt-0">
          <div class="col-lg-1">
              <img alt="Research & Development Icon" width="46" src="wp-content/themes/duratherm-theme/assets/dist/img/mortarboard.svg">
            </div>
            <div class="col-lg-5">
              <h3 class="h2">Research &amp; Development</h3>
              <ul class="orange-list" style="font-size: 18px;">
                {% for points in post.get_field('research') %} {% for point in points %}
                <li>{{ point }}</li>
                {% endfor %} {% endfor %}
              </ul>
            </div>
            <div class="col-lg-1 vert-border">
              <img alt="Unparalleled service icon" src="wp-content/themes/duratherm-theme/assets/dist/img/people.png">
            </div>
            <div class="col-lg-5">
              <h3 class="h2">UNPARALLELED SERVICE</h3>
              <ul class="orange-list" style="font-size: 18px;">
                {% for points in post.get_field('unparalleled_service') %} {% for point in points %}
                <li>{{ point }}</li>
                {% endfor %} {% endfor %}
              </ul>
            </div>
          </div>
  
          <div class="row mt-0">
            <hr class="mt-5 mb-0 w-100">
          </div>
          <div class="row mt-0">
          <div class="col-lg-10 offset-lg-2 mt-5 mb-3 chart-div">
            <div class="longer-text">
              <h3 class="h2">LONGER LASTING</h3>
              <p class="longer-p text-left">Our exclusive additive system delivers unparalleled protection and service life. This report shows Duratherm's superior resistance to oxidation, the main cause of sludge buildup and fluid degradation.
                
              <a href="{{ post.get_field('cleaner_running_report') }}" class="dark-orange-text mt-3 d-block" style="font-size: 18px;" target="_blank">
                  <strong>DOWNLOAD REPORT&gt;</strong>
                </a>

              </p>
            </div>
            <img alt="Duratherm Fluids Competitor Chart" 
            class="chart-front"
            src="wp-content/themes/duratherm-theme/assets/dist/img/duratherm-competitors-report.svg">
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row mt-0">
          <hr class="mt-2 mb-5 w-100">
        </div>
        <div class="row mt-0">
          <div class="col-lg-1">
            <img alt="Safer and Cleaner icon" src="wp-content/themes/duratherm-theme/assets/dist/img/hands.png">
          </div>
          <div class="col-lg-5">
            <h3 class="h2">SAFE &amp; CLEANER</h3>
            <ul class="orange-list" style="font-size: 18px;">
              {% for points in post.get_field('safe_cleaner') %} {% for point in points %}
              <li>{{ point }}</li>
              {% endfor %} {% endfor %}
            </ul>
          </div>
          <div class="col-lg-1 vert-border">
            <img alt="Innovation icon" width="46" src="wp-content/themes/duratherm-theme/assets/dist/img/microscope.svg">
          </div>
          <div class="col-lg-5">
            <h3 class="h2">Innovation</h3>
            <ul class="orange-list" style="font-size: 18px;">
              {% for points in post.get_field('innovation') %} {% for point in points %}
              <li>{{ point }}</li>
              {% endfor %} {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row mt-0">
          <hr class="mt-5 mb-3 w-100">
        </div>
        <div class="row mt-0">
          <div class="col-lg-12" style="position:relative; padding-bottom:9%; min-height: 350px;">
            <div class="div-back" style="background-image:url('https://durathermfluids.com/wp-content/themes/duratherm-theme/assets/dist/img/global-network.jpg')"></div>
            <div class="row">

              <div class="col-lg-1 mt-2">
                <img alt="Global Network icon" src="wp-content/themes/duratherm-theme/assets/dist/img/globe.png">
              </div>
              <div class="col-lg-9 mt-2">
                <h3 class="h2">GLOBAL NETWORK</h3>
                <ul class="orange-list" style="font-size: 18px;">
                  {% for points in post.get_field('global_network') %} {% for point in points %}
                  <li>{{ point }}</li>
                  {% endfor %} {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-0">
          <hr class="mt-2 mb-5 w-100">
        </div>
        <div class="row mt-0">
          <div class="text-center col-lg-12 mb-4">
            <h5 class="h2">JUST SOME OF THE COMPANIES THAT RELY ON DURATHERM</h5>
          </div>


          <div class="col-md-12" id="scroller" style="height: 101px; margin: 0 auto;">
            <div class="innerScrollArea">
              <ul>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos1.png" alt="First set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos2.png" alt="Second set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos3.png" alt="Third set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos4.png" alt="Fourth set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos5.png" alt="Fifth set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos6.png" alt="Sixth set of Duratherm client logos"></li>
                <li class="client-logos"><img src="wp-content/themes/duratherm-theme/assets/dist/img/logos7.png" alt="Seventh set of Duratherm client logos"></li>
              </ul>
            </div>
          </div>
          <p class="center" style="font-size:1.25rem; width: 100%">
            <a href="/why/testimonials/" class="dark-orange-text strong">See More ></a>
          </p>


          <div class="dura-difference col-lg-12 text-center">
              <p style="font-size: 2rem; font-weight: 500;" class="our-customers">
                Our customers say it best!
              </p>
            <div class="testimonial-container" id="testimonial-{{loop.index}}">
                {% for testimonial in testimonialsFront %}
              <div style="background-color: #fff; position:absolute; left: 50%; top:50%; transform: translate(-50%, -50%);width:100%">
                <p class="front-testimonial">&ldquo;{{ testimonial.front_page_callout }}&rdquo;</p>
                <p>{{ testimonial.testimonial_author }}</p>
              </div>
              {% endfor %}
            </div>
            <p style="font-size: 1.25rem;">
              <a href="/why/testimonials/" class="dark-orange-text" style=" font-weight: bold">READ MORE &gt;</a>
            </p>
          </div>
        </div>
        <div class="row mt-0">
          <hr class="my-5 w-100">
        </div>
        <div class="row mt-0">

          <div class="col-lg-1">
            <img alt="Tehcnical Papers icon" src="wp-content/themes/duratherm-theme/assets/dist/img/magnifier.png">
          </div>
          <div class="col-lg-10">
            <h3 class="h2 mt-2">TECHNICAL PAPERS</h3>
            <ul class="orange-list" style="font-size: 18px;">
              {% for points in post.get_field('technical_papers') %} {% for point in points %}
              <li>{{ point }}</li>
              {% endfor %} {% endfor %}
            </ul>
            <a href="/news/" class="dark-orange-text mt-1 d-block" style="font-size: 18px;">
              <strong>LEARN MORE&gt;</strong>
            </a>
          </div>
        </div>
        <div class="row mt-0">
          <hr class="my-5 w-100">
        </div>
        <div class="row mt-0">
          <div class="col-lg-1">
            <img alt="Engineering Tools icon" src="wp-content/themes/duratherm-theme/assets/dist/img/tools.png">
          </div>
          <div class="col-lg-9">
            <h3 class="h2 mb-3">ENGINEERING TOOLS</h3>
            <h4 class="orange-text h2" style="font-size: 1.25rem;">THERMAL FLUID COMPARISON</h4>
            <p class="mb-0">{{ post.get_field('thermal_fluid_comparison')}}</p>
            <a href="/resources/compare/" class="dark-orange-text mt-1 mb-4 d-block" style="font-size: 18px;">
              <strong>COMPARE FLUIDS&gt;</strong>
            </a>
            <h4 class="orange-text h2" style="font-size: 1.25rem;">HEAT TRANSFER CALCULATORS</h4>
            <p class="mb-0">{{ post.get_field('heat_transfer_calculators')}}</p>
            <a href="/resources/calculators/" class="dark-orange-text mt-1 mb-4 d-block" style="font-size: 18px;">
              <strong>USE CALCULATORS&gt;</strong>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}

{% block scripts %}
  <script>
    var testimonialsFront = {{ testimonialsFront | json_encode | raw }}
  </script>
{% endblock %}