{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <p>{{ post.content }}</p>
          </div>
        </div>
        <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
          <li class="nav-item2">
            <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                {{ post.get_field('question')[0].question }}
            </a>
          </li>
          <li class="nav-item2">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                {{ post.get_field('question')[1].question }}
              </a>
          </li>
          <li class="nav-item2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                {{ post.get_field('question')[2].question }}
              </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="m-0 p-3">{{ post.get_field('question')[0].answer }}</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class="m-0 p-3">{{ post.get_field('question')[1].answer }}</p>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p class="m-0 p-3">{{ post.get_field('question')[2].answer }}</p>
          </div>
        </div>
          
        <!-- <div class="row">
          <div class="col-md-12 open-bath">
            <h3 class="dark-orange">Learn More
              <span class="small">(click to expand)</span>
            </h3>
            {% for question in post.get_field('question') %}
            <div>
              <p class="question mb-2 ml-4">{{ question.question }}
                <i class="fa fa-chevron-down orange question-chevron"></i>
              </p>
              <p class="answer ml-4">{{ question.answer }}</p>
            </div>
            {% endfor %}
          </div>
        </div> -->
        <div class="row" style="overflow-x: scroll">
          <div class="col">
            <table class="open-bath-table">
              <tr class="no-border">
                <td class="pl-0">
                  <div class="temp-selector ml-0">
                    <div class="f">&deg;F</div>
                    <div class="c">&deg;C</div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-left border-right border-orange border-top product-name" colspan="5">Viscosity cSt</td>
                <td class="pl-4" colspan="2">
                  <div class="downloads text-left" style="display: flex; justify-content:flex-end">
                    <p class="data-sheet" style="margin:0">
                      <a href="/pdf/productdata/heattransfer/open-bath-fluids.pdf" target="_blank">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <span>
                          <strong>TDS</strong>
                          <br>
                          <span>(Technical Data Sheet)</span>
                        </span>
                      </a>
                    </p>
                  </div>
                </td>
              </tr>
              <tr class="dark-grey-row">
                <th>Product</th>
                <th>Fluid Chemistry</th>
                <th>Max Use Temp</th>
                <th>Flash Point</th>
                <th>Smoke Point</th>
                <th class="metric border-left border-orange">-30&deg;C</th>
                <th class="standard border-left border-orange">-22&deg;F</th>
                <th class="metric">20&deg;C</th>
                <th class="standard">68&deg;F</th>
                <th class="metric">40&deg;C</th>
                <th class="standard">104&deg;F</th>
                <th class="metric">100&deg;C</th>
                <th class="standard">212&deg;F</th>
                <th class="metric border-right border-orange">200&deg;C</th>
                <th class="standard border-right border-orange">392&deg;F</th>
                <th>Safety Data Sheets</th>
                <th>
                  <span class="sr-only">Get Quote Links</span>
                </th>
              </tr>
              <tr>
                <td class="product-name">Duratherm G</td>
                <td>Polyalkylene glycol</td>
                <td class="metric">260&deg;C</td>
                <td class="standard">500&deg;F</td>
                <td class="metric">249&deg;C</td>
                <td class="standard">480&deg;F</td>
                <td class="metric">166&deg;C</td>
                <td class="standard">331&deg;F</td>
                <td>5429.06cSt</td>
                <td>105.2cSt</td>
                <td>42.1cSt</td>
                <td>7.6cSt</td>
                <td>1.95cSt</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/heattransfer/duratherm-g-sds.pdf" target="_blank" title="Download SDS for Duratherm G">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duratherm-g&type=Open_Bath" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              <tr class="grey-row">
                <td class="product-name">Duratherm G-LV</td>
                <td>Polyalkylene glycol</td>
                <td class="metric">204&deg;C</td>
                <td class="standard">400&deg;F</td>
                <td class="metric">181&deg;C</td>
                <td class="standard">358&deg;F</td>
                <td class="metric">135&deg;C</td>
                <td class="standard">275&deg;F</td>
                <td>3606.1cSt</td>
                <td>41.52cSt</td>
                <td>16.4cSt</td>
                <td>3.21cSt</td>
                <td>0.95cSt</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/heattransfer/duratherm-g-lv-sds.pdf" target="_blank" title="Download SDS for Duratherm G">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duratherm-g-lv&type=Open_Bath" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              <tr>
                <td class="product-name">Duratherm S</td>
                <td>Polydimethylsiloxan
                  <br>(silicone)</td>
                <td class="metric">204&deg;C</td>
                <td class="standard">400&deg;F</td>
                <td class="metric">323&deg;C</td>
                <td class="standard">615&deg;F</td>
                <td class="metric">204&deg;C</td>
                <td class="standard">400&deg;F</td>
                <td>156.02cSt</td>
                <td>50.63cSt</td>
                <td>36.13cSt</td>
                <td>16.66cSt</td>
                <td>7.3cSt</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/heattransfer/duratherm-s-sds.pdf" target="_blank" title="Download SDS for Duratherm S">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duratherm-s&type=Open_Bath" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}
