{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            {{ post.content }}
          </div>
        </div>
        <div class="row mt-0" style="overflow-x: scroll">
          <div class="col">
            <table class="open-bath-table">
              <tr class="no-border">
                <td>
                  <div class="temp-selector ml-0">
                    <div class="f">&deg;F</div>
                    <div class="c">&deg;C</div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="pl-4 text-right" colspan="2">
                  <div class="downloads text-left" style="display: flex; justify-content:flex-end">
                    <p class="data-sheet" style="margin:0">
                      <a href="/pdf/productdata/cleaners/DuraClean-System-Cleaners.pdf" target="_blank">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <span>
                          <strong>TDS</strong>
                          <br>
                          <span>(Technical Data Sheet)</span>
                        </span>
                      </a>
                    </p>
                  </div>
                </td>
              </tr>
              <tr class="dark-grey-row">
                <th>Product</th>
                <th>Application</th>
                <th>% to add to System</th>
                <th>Run Production</th>
                <th>Flushing Required</th>
                <th>Max Use Temp</th>
                <th class="metric">Viscosity @40&deg;C</th>
                <th class="standard">Viscosity @104&deg;F</th>
                <th>Flash Point</th>
                <th>Safety Data Sheets</th>
                <th>
                  <span class="sr-only">Get Quote Links</span>
                </th>
              </tr>
              <tr>
                <td class="product-name">DuraClean</td>
                <td>Light to moderately fouled systems</td>
                <td>100%</td>
                <td>Yes</td>
                <td>No</td>
                <td class="metric">287&deg;C</td>
                <td class="standard">550&deg;F</td>
                <td>44.6cSt</td>
                <td class="metric">240&deg;C</td>
                <td class="standard">465&deg;F</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/cleaners/duraclean-sds.pdf" target="_blank" title="Download SDS for DuraClean">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duraclean&type=System_Cleaners" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              <tr class="grey-row">
                <td class="product-name">U-Clean</td>
                <td> Specifically formulated for PAG glycols (Ucon 500
                  <sup>&reg;</sup>)</td>
                <td>100%</td>
                <td>Yes</td>
                <td>No</td>
                <td class="metric">260&deg;C</td>
                <td class="standard">500&deg;F</td>
                <td>55cSt</td>
                <td class="metric">266&deg;C</td>
                <td class="standard">511&deg;F</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/cleaners/uclean-sds.pdf" target="_blank" title="Download SDS for U-Clean">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=u-clean&type=System_Cleaners" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              <tr>
                <td class="product-name">DuraClean Ultra</td>
                <td>Severely fouled, emergency system reviver</td>
                <td>100%</td>
                <td>No</td>
                <td>Yes</td>
                <td class="metric">65&deg;C</td>
                <td class="standard">150&deg;F</td>
                <td>4.6cSt</td>
                <td class="metric">96&deg;C</td>
                <td class="standard">205&deg;F</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/cleaners/duraclean-ultra-sds.pdf" target="_blank" title="Download SDS for DuraClean Ultra">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duraclean-ultra&type=System_Cleaners" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
              <tr class="grey-row">
                <td class="product-name">DuraClean LSC</td>
                <td>Large Heat Transfer System Cleaner</td>
                <td>5-10%</td>
                <td>Yes</td>
                <td>No</td>
                <td class="metric">315&deg;C</td>
                <td class="standard">600&deg;F</td>
                <td>40cSt</td>
                <td class="metric">235&deg;C</td>
                <td class="standard">455&deg;F</td>
                <td class="text-large">
                  <a href="/pdf/safetydata/cleaners/duraclean-lsc-sds.pdf" target="_blank" title="Download SDS for DuraClean LSC">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
                <td>
                  <a href="/contact?product=duraclean-lsc&type=System_Cleaners" class="btn btn-sm btn-hollow">Get Quote</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}