{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
          </div>
          <div class="col-md-12">
            <div class="row mt-0">
              <div class="col-md-9 page-top-text">
                {{ post.content }}
              </div>
              <div class="col-md-3">
                <img src="/wp-content/themes/duratherm-theme/assets/dist/img/molecules.png" alt="Image of molecules">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 tech-box">
                <div class="inner">
                  <div>
                    <h3>ANTIOXIDANTS</h3>{{post.get_field('antioxidants')}} 
                  </div>
                </div>
              </div>
              <div class="col-md-4 tech-box">
                <div class="inner">
                  <div>
                    <h3>CORROSION INHIBITORS</h3>{{post.get_field('corrosion_inhibitors')}} 
                  </div>
                </div>
              </div>
              <div class="col-md-4 tech-box">
                <div class="inner">
                  <div>
                    <h3>DEFOAMING AGENTS</h3>{{post.get_field('defoaming_agents')}} 
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 tech-box">
                <div class="inner">
                  <div>
                    <h3>SEAL &amp; GASKET EXTENDER</h3>{{post.get_field('seal_gasket_extender')}} 
                  </div>
                </div>
              </div>
              <div class="col-md-4 tech-box">
                <div class="inner">
                   <div>
                    <h3>SUSPENSION AGENTS</h3>{{post.get_field('suspension_agents')}} 
                  </div>
                </div>
              </div>
              <div class="col-md-4 tech-box">
                <div class="inner">
                  <div>
                    <h3>METAL DEACTIVATORS</h3>{{post.get_field('metal_deactivators')}} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}