{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <p>{{ post.content }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% for question in post.get_field('question') %}
            <div>
              <p class="question"><strong>Q:</strong> {{ question.question }}</p>
              <p class="answer"><strong class="dark-orange-text">A:</strong> {{ question.answer }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row" id="glossary">
          <div class="col-md-12">
            <h2>GLOSSARY OF TERMS</h2>
            {{ post.get_field('body_text') }}
            <div class="filters d-md-flex justify-content-between align-items-center">
              <ul class="term-filters">
                <li class="term-filter" data-filter="a-d">A-D</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="e-h">E-H</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="i-l">I-L</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="m-p">M-P</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="q-t">Q-T</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="u-z">U-Z</li>
                <li class="orange-text" style="font-weight:700">|</li>
                <li class="term-filter" data-filter="all">VIEW ALL</li>
              </ul>
              <div class="form-group my-2">
                <label for="glossary-search" class="sr-only">Search Glossary Terms</label>
                <input type="text" id="glossary-search" class="form-control control" name="glossary-search" placeholder="Search"/>
              </div>
            </div>
            {% for term in post.get_field('glossary') %}
            <div class="mt-3 terms" data-term="{{term.term}}">
              <p class="term">{{ term.term }}</p>
              <p>{{ term.definition }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}

{% block scripts %}
  <script src="/wp-content/themes/duratherm-theme/assets/dist/js/glossary-search.js"></script>
{% endblock %}