{% extends "base.twig" %} 
{% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="h2">{{ post.title }}</h1>
              <div  class="page-top-text">
                <p>{{ post.content }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="compare-main-container d-none d-xl-block">
              {% include('partials/compare-table.twig') %}
            </div>
            <div class="d-block d-xl-none compare-hide" style="margin-bottom: 0">
              <div class="container compare-main-container">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <p>Due to the large amount of data displayed our comparison tool is only available on tablet sized devices or larger.
              We apologize for any inconvenience.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script>
  var page = 'compare'
  var fullProductsArray = {{ products | json_encode | raw }}
  var compProducts = {{ comp_products | json_encode | raw }}
</script>

<script>
  var prod1 = getParameterByName('prod1');
  console.log(prod1)
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}
</script>
{% endblock %}