{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              <p>
                <img class="align-right ml-3 mb-3" src="/wp-content/themes/duratherm-theme/assets/dist/img/labcoat.jpg" />
                {{ post.content }}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 tech-box">
                <div class="inner">
                  <div>
                    <h3>WHY YOU SHOULD TEST</h3>
                    {%  set points = post.get_field('why_test') %}
                    <ul class="orange-list">
                      {% for point in points %}
                        <li>{{ point.points }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 tech-box">
                <div class="inner">
                  <div>
                    <h3>WHEN YOU SHOULD TEST</h3>
                    {%  set points = post.get_field('when_test') %}
                    <ul class="orange-list">
                      {% for point in points %}
                        <li>{{ point.points }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 tech-box-static">
            <div class="inner">
              <div>
                <h3>WHAT WE LOOK FOR</h3>
                {%  set points = post.get_field('look_for') %}
                <ul class="orange-list">
                  {% for point in points %}
                    <li>{{ point.points }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}