{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="chart-description">{{ post.content }}</div>
            <img class="chart-competitive" src="/wp-content/themes/duratherm-theme/assets/dist/img/duratherm-competitors-report.svg" alt="Durather vs competitors chart">
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h3>ABOUT THE TEST</h3>
            {{ post.get_field('about_the_test') }}
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-5 vert-border">
            <h3>ABOUT THE METHOD</h3>
            {{ post.get_field('about_the_method') }}
          </div>
        </div>
        <div class="row mt-0">
          <hr class="my-3 w-100">
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>FLUIDS TESTED</h4>
            <small>{{ post.get_field('fluids_tested') }}</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}