{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="mb-4">OUR CUSTOMERS SAY IT BEST!</h2>
          </div>
          <div class="col-md-12 logo-container logo-closed">
            <img id="client-logo" src="/wp-content/themes/duratherm-theme/assets/dist/img/logos-all.png" alt="client logos">
            <div class="logo-trigger text-center">
              <p>
                <span class="trigger-text">More <i class="fa fa-chevron-down"></i></span>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
            <hr class="my-3 w-100">
          <div class="col-lg-8 offset-lg-2">
            {{ post.content }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 px-0">
            <div class="grid">
              {% for testimonial in testimonials %} {% if testimonial.sites == 'mainsite' or testimonial.sites == 'both' %}
              <div class="testimonial grid-item">
                <p>&ldquo;{{ testimonial.long_form }}&rdquo;</p>
                <p>{{ testimonial.testimonial_author }}</p>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %} {% block scripts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item'
  });
</script> {% endblock %}