{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">{{ post.content }}</div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-1"><img class="align-middle" alt="Questions and Answers icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/help-icon.png"></div>
            <div class="col-md-5">
            <a href="/resources/faq" style="color:#111b2d">
              <h3>Questions &amp; Answers</h3>
              {{ post.get_field('q_and_a')}}
              <p class="dark-orange-text">READ MORE ></p>
            </a>
            </div>
          <div class="col-md-1 vert-border"><img class="align-middle" alt="Helpful Tips icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/lightbulb-icon.png"></div>
          <div class="col-md-5">
              <a href="/news" style="color:#111b2d">
            <h3>HELPFUL TIPS &amp; HOW TO'S</h3>
            {{ post.get_field('how_tos')}}
            <p class="dark-orange-text">READ MORE ></p>
            </a>
          </div>
        </div>
        <div class="row mt-0">
          <div class="col-md-1 pt-5"><img class="align-middle" alt="Industry Calculators icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/calculator-icon.png"></div>
          <div class="col-md-5 pt-5">
              <a href="/resources/calculators" style="color:#111b2d">
            <h3>INDUSTRY CALCULATORS</h3>
            {{ post.get_field('industry_calculators')}}
            <p class="dark-orange-text">READ MORE ></p>
            </a>
          </div>
          <div class="col-md-1 pt-5 vert-border"><img class="align-middle" alt="Glossary of terms icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/info-icon.png"></div>
          <div class="col-md-5 pt-5">
              <a href="/resources/faq#glossary" style="color:#111b2d">
            <h3>GLOSSARY OF TERMS</h3>
            {{ post.get_field('glossary_of_terms')}}
            <p class="dark-orange-text">READ MORE ></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}