{% extends "base.twig" %} 
{% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="h2">Volume Calculators</h1>
              <div  class="page-top-text">
                <p>{{ post.content }}</p>
              </div>
            </div>
          </div>
          <div class="row" id="calc-section">
            <div class="col-sm-12" style="margin-bottom: 0;">
              <h3>Choose a Different Calculator</h3>
              <div class="d-none d-lg-flex flex-wrap justify-content-between calculator-select-buttons">
                <a href="/resources/calculators/heat-transfer-coefficient">
                  <button class="btn btn-hollow-black mt-2" data-id="heat-transfer-coefficient"><h2>Heat Transfer Coefficient</h2></button>
                </a>
                <a href="/resources/calculators/heat-transfer">
                  <button class="btn btn-hollow-black mt-2" data-id="heat-transfer-coefficient"><h2>Heat Transfer</h2></button>
                </a>
                <a href="/resources/calculators/thermal-expansion">
                  <button class="btn btn-hollow-black mt-2" data-id="heat-transfer-coefficient"><h2>Thermal Expansion</h2></button>
                </a>
                <a href="/resources/calculators/operating-viscosity">
                  <button class="btn btn-hollow-black mt-2" data-id="heat-transfer-coefficient"><h2>Operating Viscosity</h2></button>
                </a>
                <a href="/resources/calculators/fluid-flow">
                  <button class="btn btn-hollow-black mt-2" data-id="heat-transfer-coefficient"><h2>Fluid Flow</h2></button>
                </a>
                <a href="/resources/calculators/volume">
                  <button class="btn btn-hollow-black mt-2 active" data-id="heat-transfer-coefficient"><h2>Volume</h2></button>
                </a>
              </div>
              <select class="calculator-select calc2">
                <option value="null">
                  Choose
                </option>
                <option value="heat-transfer">
                  Heat Transfer
                </option>
                <option value="thermal-expansion">
                  Thermal Expansion
                </option>
                <option value="operating-viscosity">
                  Operating Viscosity
                </option>
                <option value="fluid-flow">
                  Fluid Flow
                </option>
                <option value="volume">
                  Volume
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="calculators">
                <div class="calculator-group">
                  <div class="row">
                    <div class="col-md-4">
                      {% include 'partials/calculators/volume-cylinder.twig' %}
                    </div>
                    <div class="col-md-4">
                      {% include 'partials/calculators/volume-rectangular-prism.twig' %}
                    </div>
                    <div class="col-md-4">
                      {% include 'partials/calculators/volume-sphere.twig' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script>
  var fullProductsArray = {{ products | json_encode | raw }};
  var fullProductsArrayHtcc = {{ products | json_encode | raw }};

  if( localStorage.getItem("productsArray") == "null" || localStorage.getItem("productsArray") == null || localStorage.getItem("languageChange") === "true" ) {
    var productsArray = fullProductsArray;
    localStorage.setItem("productsArray",JSON.stringify(productsArray));
    localStorage.removeItem("languageChange");
    localStorage.removeItem("filterSettings");
  } else {
    var productsArray = JSON.parse(localStorage.getItem("productsArray"));
  }

  var page = 'calculators'
</script>

{% endblock %}
