{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12">
              <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                {% for prod in post.get_field('product') %}
                    <li class="nav-item2">
                        <a 
                          class="nav-link {% if loop.index == 1 %}active show{% endif %}" 
                          id="home-tab-{{loop.index}}" 
                          data-toggle="tab" 
                          href="#home-{{loop.index}}" 
                          role="tab" 
                          style="font-size: 1.25rem"
                          aria-controls="home" 
                          aria-selected="true">
                          {{ prod.name }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent-{{loop.index}}">
                  {% for prod in post.get_field('product') %}
                  <div class="tab-pane fade show  {% if loop.index == 1 %}active{% endif %}" id="home-{{loop.index}}" role="tabpanel" aria-labelledby="home-tab">
                    <div class=" row mt-4 px-3">
                      <div class="col-md-9">
                        <h4 class="dark-orange-text">
                          <b>FREEZE POINT {{ prod.freeze_point }}</b>
                        </h4>
                        <ul class="orange-list">
                          {% for point in prod.points %}
                          <li>{{ point.point }}</li>
                          {% endfor %}
                        </ul>
                        <div class="mt-4">
                          {{ prod.description }}
                        </div>
                      </div>
                      <div class="col-md-3 vert-border mb-4">
                        <h3 class="dark-orange-text">Compatible With:</h3>
                        <ul>
                          {% for prod in prod.compatible_with %}
                          <li>{{ prod.compatible_product }}</li>
                          {% endfor %}
                        </ul>
                        <h3 class="dark-orange-text">Technical Info</h3>
                        <div class="glycol-link-container">
                          <a href="/pdf/productdata/glycols/{{prod.tech}}" target="_blank" class="glycol-link mb-3">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            {{ prod.name | replace({'Intercool' : ''}) }} Info package
                          </a>
                          <p class="text-center">
                            {% set slug = prod.name | replace({' ' : '-'}) | lower %}
                            <a href="/contact?product={{ slug }}&type=Glycol_Coolants" class="btn btn-primary">
                              Get a Quote
                            </a>
                          </p>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

 {% endblock %}