{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="grid">
              {% include('partials/data-sheets.twig') %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}



{% block scripts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$('.grid').masonry({
  // options
  itemSelector: '.grid-item-sheets'
});
</script>
{% endblock %}