{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">
              {{ post.content }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <ul class="tips-categories">
              <li>
                <a href="" class="tips-category tips-active" data-filter="all">LATEST ENTRIES</a>
              </li>
              <li>
                <a href="" class="tips-category" data-filter="maintenance">MAINTENANCE</a>
              </li>
              <li>
                <a href="" class="tips-category" data-filter="equipment-design">EQUIPMENT DESIGN</a>
              </li>
              <li>
                <a href="" class="tips-category" data-filter="troubleshooting">TROUBLESHOOTING</a>
              </li>
              <li>
                <a href="" class="tips-category" data-filter="fluid-basics">FLUID BASICS</a>
              </li>
              <li>
                <a href="" class="tips-category" data-filter="case-studies">CASE STUDIES</a>
              </li>
          </div>
          <div class="col-md-8 vert-border tip-list">
            {% for post in posts %}
            <div class="mb-4 tip-block" data-category="{{post.category.slug | join('') }}">
              <h2>{{ post.title }}</h2>
              <p class="mb-0">{{ post.post_excerpt }}</p>
              <p class="mt-1">
                <a href="">READ MORE ></a>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}