{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">{{ post.content }}</div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <img alt="Research & Development Icon" width="46" src="/wp-content/themes/duratherm-theme/assets/dist/img/mortarboard.svg">
              </div>
              <div class="col-md-5">
                <h3>RESEARCH &amp; DEVELOPMENT</h3>
                {% for points in post.get_field('research_why') %} {% for point in points %}
                <li>{{ point }}</li>
                {% endfor %} {% endfor %}
              </div>
              <div class="col-md-1 vert-border">
                  <img class="align-middle" alt="Unparalleled Service icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/people.png">
              </div>
              <div class="col-md-5">
                <h3>UNPARALLELED SERVICE</h3>
                {% for points in post.get_field('unparalleled_service') %} {% for point in points %}
                <li>{{ point }}</li>
                {% endfor %} {% endfor %}
              </div>
            </div>
            <div class="row mt-0">
              <div class="col-md-1 pt-5">
                  <img alt="Competitive Comparison Icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/graph-icon.png">
              </div>
              <div class="col-md-5 pt-5">
                <h3>COMPETITIVE COMPARISON</h3>
                {{ post.get_field('competitive_comparison')}}
                <p class="dark-orange-text">
                  <a href="/why/report">READ MORE ></a>
                </p>
              </div>
              <div class="col-md-1 pt-5 vert-border">
                  <img alt="Advanced Technology Icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/tech-icon.png">
              </div>
              <div class="col-md-5 pt-5">
                <h3>ADVANCED TECHNOLOGY</h3>
                {{ post.get_field('advanced_technology')}}
                <p class="dark-orange-text">
                  <a href="/why/technology">READ MORE ></a>
                </p>
              </div>
            </div>
            <div class="row mt-0">
              <div class="col-md-1 pt-5">
                <img alt="Free fluid analysis icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/droplet.png">
              </div>
              <div class="col-md-5 pt-5">
                <h3>FREE FLUID ANALYSIS</h3>
                {{ post.get_field('free_fluid')}}
                <p class="dark-orange-text">
                  <a href="/why/analysis">READ MORE ></a>
                </p>
              </div>
              <div class="col-md-1 pt-5 vert-border">
                <img alt="Customer testimonials icon" src="/wp-content/themes/duratherm-theme/assets/dist/img/testimonials-icon.png">
              </div>
              <div class="col-md-5 pt-5">
                <h3>CUSTOMER TESTIMONIALS</h3>
                {{ post.get_field('customer_testimonials')}}
                <p class="dark-orange-text">
                  <a href="/why/testimonials">READ MORE ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}