{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div  class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}

{% block scripts %}
<script>
function getUrlParameter(name) {
  name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
  var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
  var results = regex.exec(location.search);
  return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
};

$('#email').text(getUrlParameter('email'))
</script>

{% endblock %}