{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              {{ post.content }}
            </div>
          </div>
        </div>
      </div>
      {% include('partials/contact-form.twig') %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <img src="/wp-content/themes/duratherm-theme/assets/dist/img/contact-map.png" alt="Map showing Duratherm Heat Transfer Fluids worldwide locations">
            </div>
            <div class="col-sm-3">
              <p>
                <b>EMAIL:</b><br>
                {{ options.email }}<br>
                <b>TOLL FREE:</b><br>
                {{ options.toll_free_number }}<br>
                <b>INTERNATIONAL:</b><br>
                {{ options.international_phone_number }}<br>
                716-748-8828
              </p>
              <div class="mb-1">
                <b>MAILING ADDRESS:</b>
                {{ options.mailing_address }}
              </div>
            </div>
            <div class="col-sm-3">
              <div class="mb-1">
                <p>
                  <b>USA</b><br>
                  4000 River Rd, Tonowanda, NY 
                </p>
                <p>
                  <b>Canada</b><br>
                  229 Welland Ave, St. Catharines ON
                </p>
                <p>
                  <b>ADD'L WAREHOUSE/BULK TERM.</b><br>
                  Detroit MI<br>
                  Chicago IL<br>
                  Houston TX<br>
                  Mississauga ON<br>
                  Thorold ON<br>
                  Antwerp Belgium
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}


{% block scripts %}
<script>
  var page = 'contact'  
</script>
{% endblock %}