{% extends "base.twig" %}
{% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/heat-transfer-coefficient">
              <div class="inner">
                <h2>Heat Transfer Coefficient</h2>
                <p>Calculate heat transfer coefficient, pressure drop and Reynolds number for basic pipe or smooth tube
                  model.</p>
                  <p class="dark-orange  mb-0">Use Heat Transfer Coefficient Calculator <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/heat-transfer">
              <div class="inner">
                <h2>Heat Transfer</h2>
                <p>Calculate basic rates of heat transfer, heat transfer by conduction and heat transfer by natural or
                  free convection.</p>
                  <p class="dark-orange  mb-0">Use Heat Transfer Calculators <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/thermal-expansion">
              <div class="inner">
                <h2>Thermal Expansion</h2>
                <p>Calculate coefficient of thermal expansion, change in volume and increase in volume due to
                  temperature change.</p>
                  <p class="dark-orange  mb-0">Use Thermal Expansion Calculator <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/operating-viscosity">
              <div class="inner">
                <h2>Operating Viscosity</h2>
                <p>Use this tool to calculate the viscosity of thermal fluid in centistokes at system operating
                  temperature.</p>
                <p class="dark-orange  mb-0">Use Operating Viscosity Calculator <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/fluid-flow">
              <div class="inner">
                <h2>Fluid Flow</h2>
                <p>A series of tools for calculating average flow velocity, volumetric flow rate and inside pipe
                  diameter.</p>
                  <p class="dark-orange  mb-0">Use Fluid Flow Calculator <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
          <div class="col-md-4 calc-box">
            <a href="/resources/calculators/volume">
              <div class="inner">
                <h2>Volume</h2>
                <p>This tool enables you to calculate volumes for cylinders, spheres and rectangular storage vessels of
                  all sizes.</p>
                  <p class="dark-orange  mb-0">Use Volume Calculators <i class="fa fa-chevron-right" style="font-size: 0.8rem"></i></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script>
  var fullProductsArray = {{ products | json_encode | raw }};
  var fullProductsArrayHtcc = {{ products | json_encode | raw }};

  if (localStorage.getItem("productsArray") == "null" || localStorage.getItem("productsArray") == null || localStorage.getItem("languageChange") === "true") {
    var productsArray = fullProductsArray;
    localStorage.setItem("productsArray", JSON.stringify(productsArray));
    localStorage.removeItem("languageChange");
    localStorage.removeItem("filterSettings");
  } else {
    var productsArray = JSON.parse(localStorage.getItem("productsArray"));
  }

  var page = 'calculators'
</script>

{% endblock %}