{% extends "base.twig" %} 
{% block content %}

<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              {{ post.content }}
            </div>
            <div>
              <p class="mt-2">Please visit these pages if you're looking for: <br><a href="/open-bath">Open Bath Fluids</a>, <a href="/system-cleaners">System Cleaners</a>, <a href="/glycol-coolants">Glycol Coolants</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
          </div>
        </div>
        <div class="row mt-0">
          <div class="col-md-12 mb-3">
          {{options.thermal_fluid_text}}
          </div>
        </div>
        <div class="row mt-0">
          <div class="col-md-3"></div>
          <div class="col-md-9 d-flex p-0">
            <div class="col-md-12 sort-row">
              <div class="center products-viewing">
                <p>Currently viewing <span id="current-products"></span> of <span id="total-products"></span> products. <a href="" class="all-products">Click to view all products</a></p>
              </div>
              <div class="sort-select-div"> 
                <p class="sortby-label">Sort By</p>
                <label for="sortby" class="sr-only">Sort By</label>
                <select id="sortby" name="sortby" class="sortby">
                  <option value="selectSort">Select</option>
                  <option value="viscosity-low" id="best-match">Best Match</option>
                  <option value="maxtemp-high">Max temp, high to low</option>
                  <option value="maxtemp-low">Max temp, low to high</option>
                  <option value="flashpoint-high">Flash point, high to low</option>
                  <option value="flashpoint-low">Flash point, low to high</option>
                </select>
              </div>
              <div class="temp-selector">
                <div class="f">&deg;F</div>
                <div class="c">&deg;C</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-3">
            {% include('partials/fluid-finder.twig') %}
          </div>

          <div class="col-lg-9">            
            <div class="product-card-container">
              {% for product in products %}
               <div class="col-md-12 card-container metric"
                 data-mintemp="{{ product.optimal_minimum_temp }}"
                 data-maxtemp="{{ product.max_temp }}"
                 data-flashpoint="{{ product.flashpoint }}"
                 data-foodgrade="{{ product.food_grade }}"
                 data-visible="yes"
                 data-product="{{ product.id }}" 
                 data-viscosity="{{ product.viscosity_104 }}"
               >
                 <div class="product-card metric">
                   <header>
                     <h2 class="h3"><a href="/heat-transfer-fluid/{{ product.slug | lower }}">{{ product.name }}</a></h2>
                     <p class="temp"><span class="temp-label">Max Temp</span><br><span class="temperature">{{ product.max_temp }}</span>&deg;<span class="temp-value">C</span></p>
                     {% if product.cooling_fluid == 'yes' %}
                       <p class="temp"><span class="temp-label">Min Temp</span><br><span class="temperature">{{ product.min_temp }}</span>&deg;<span class="temp-value">C</span></p>
                     {% endif %}
                     <p class="temp"><span class="temp-label">Flash Point</span><br><span class="temperature">{{ product.flashpoint }}</span>&deg;<span class="temp-value">C</span></p>
                     <a class="close-product hidden-xs" data-product="{{ product.id }}">
                       <span class="sr-only">close</span>x
                     </a>
                   </header>
                   <div class="inner clearfix row mt-0">
                     <div class="product-info col-sm-9">
                        {% if product.excerpt_standard|length > 150 %}
                        {% set str_length = 150 %}
                        {% else %}
                        {% set str_length = product.excerpt_standard|length - 10 %}
                        {% endif %}
                       <div class="product-description"><p>{{ product.excerpt_metric[0:str_length] }}...
                         <a href="#" data-toggle="modal" data-target="#modal-{{ product.slug }}">
                           <img src="/wp-content/themes/duratherm-theme/assets/dist/img/down-arrow-square.png" alt="down-arrow"/>
                         </a></p>
                       </div>
                     </div>
                     <div class="product-side col-sm-3">
                       <a href="/heat-transfer-fluid/{{ product.slug | lower }}" class="btn btn-hollow">View Product</a><br>
                       <label for="m-compare-{{ product.id }}" class="hidden-xs">                        
                         <input class="compare-checkbox" type="checkbox" id="m-compare-{{ product.id }}" name="compare" value="{{ product.id }}"> </input>
                         <span class="radio-label">Compare</span>
                       </label>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-md-12 card-container standard"
                 data-mintemp="{{ product.optimal_minimum_temp_standard }}"
                 data-maxtemp="{{ product.max_temp_standard }}"
                 data-flashpoint="{{ product.flashpoint_standard }}"
                 data-foodgrade="{{ product.food_grade }}"
                 data-visible="yes"
                 data-product="{{ product.id }}" 
                 data-viscosity="{{ product.viscosity_104 }}" 
               >
                 <div class="product-card">
                   <header>
                     <h2 class="h3"><a href="/heat-transfer-fluid/{{ product.slug | lower }}">{{ product.name }}</a></h2>
                     <p class="temp"><span class="temp-label">Max Temp</span><br><span class="temperature">{{ product.max_temp_standard }}</span>&deg;<span class="temp-value">C</span></p>
                     
                     {% if product.cooling_fluid == 'yes' %}
                       <p class="temp"><span class="temp-label">Min Temp</span><br><span class="temperature">{{ product.min_temp_standard }}</span>&deg;<span class="temp-value">C</span></p>
                     {% endif %}
                     <p class="temp"><span class="temp-label">Flash Point</span><br><span class="temperature">{{ product.flashpoint_standard }}</span>&deg;<span class="temp-value">C</span></p>
                     <a class="close-product hidden-xs" data-product="{{ product.id }}">
                       <span class="sr-only">close</span>x
                     </a>
                   </header>
                   <div class="inner clearfix row mt-0">
                     <div class="product-info col-sm-9">
                       {% if product.excerpt_standard|length > 150 %}
                       {% set str_length = 150 %}
                       {% else %}
                       {% set str_length = product.excerpt_standard|length - 10 %}
                       {% endif %}

                        <div class="product-description"><p>{{ product.excerpt_standard[0:str_length] }}...
                         <a href="#" data-toggle="modal" data-target="#modal-{{ product.slug }}">
                           <img src="/wp-content/themes/duratherm-theme/assets/dist/img/down-arrow-square.png" alt="down-arrow"/>
                         </a></p>
                       </div>
                     </div>
                     <div class="product-side col-sm-3">
                       <a href="/heat-transfer-fluid/{{ product.slug | lower }}" class="btn btn-hollow">View Product</a><br>
                       <label for="s-compare-{{ product.id }}" class="hidden-xs">                        
                         <input class="compare-checkbox" type="checkbox" id="s-compare-{{ product.id }}" name="compare" value="{{ product.id }}"> </input>
                         <span class="radio-label">Compare</span>
                       </label>
                     </div>
                   </div>
                 </div>
               </div>
              {% endfor %}
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/compare.twig' %}
  {% include 'partials/product-modal.twig'%}

</div>
{% endblock %}

{% block scripts %}
<script>
  var fullProductsArray = {{ products | json_encode | raw }};
  var fullProductsArrayHtcc = {{ products | json_encode | raw }};

  if( localStorage.getItem("productsArray") == "null" || localStorage.getItem("productsArray") == null || localStorage.getItem("languageChange") === "true" ) {
    var productsArray = fullProductsArray;
    localStorage.setItem("productsArray",JSON.stringify(productsArray));
    localStorage.removeItem("languageChange");
    localStorage.removeItem("filterSettings");
  } else {
    var productsArray = JSON.parse(localStorage.getItem("productsArray"));
  }

  var compProducts = {{ page.comp_products | json_encode | raw }};
  var distributors = {{ page.distributors | json_encode | raw }};
  var common_terms = {{ page.common | json_encode | raw }};
</script>

<script>
  $('#showmore').on('click', function(e) {
    e.preventDefault()
    $('#confused').slideToggle()
    if($(this).html()==='Read More...') {
      $(this).html('Read Less...')
    } else {
      $(this).html('Read More...')
    }
  })
</script>
{% endblock %}

{% block footerscripts %}


  
{% endblock %}