{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="h2">Industry Links</h1>
              <div  class="page-top-text">
                <p>{{ post.content }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% for section in post.get_field('link_type') %}
              <div class="mb-4">
                <h2 class="h5 text-capitalize" style="font-weight: 600">{{ section.title }}</h2>
                {% for link in section.links %}
                <a href="{{ link.link_url }}" target="_blank" class="font-weight-normal">{{ link.link_title }}</a> {% if loop.last  %} {% else %} |{% endif %}
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </section>
</div>{% endblock %}