{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-10">
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>
          <div class="col-md-1">&nbsp;</div>
        </div>
      </div>
    </div>
  </section>
</div>{% endblock %}