{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1 class="h2">{{ post.title }}</h1>
            <div class="page-top-text">
              <p>{{ post.content }}</p>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-lg-2 industry-nav-container d-none d-lg-block">
            <ul class="tips-categories" style="padding-left:0">
              {% for industry in posts %}
              <li>
                <a href="{{ industry.link }}" class="black-link industry-link industry-text-link">
                  {{industry.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-10 vert-border">
            <div class="row mt-0 industry-image-links">
              {% for industry in posts %}
              <div class="col-lg-6 industry-image-link mb-3">
                <a href="{{ industry.link }}" class="industry-link industry-image-link">
                  <img src="{{ industry.thumbnail.src('large') }}" alt="{{ industry.image.alt }}" />
                  <div class="overlay">
                    <h2>{{ industry.title }}</h2>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}