{% extends "base.twig" %} {% block content %} {% include '/partials/page-header.twig' %}
<div class="container">
  <div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <div class="article-content">
      <div class="article-content-reset">
        <main class="article-main no-sidebar-mod">
          <div class="article-body">
            <div class="interior-page">
              <form role="search" method="get" id="searchform" class="searchform" action="/">
                <div>
                  <label class="sr-only" for="s">Search for:</label>
                  <input type="text" value="{{search_text}}" name="s" id="s">
                  <input type="submit" id="searchsubmit" value="Search">
                </div>
              </form>
              {% if posts %} {% for item in posts %} {% endfor %} {% else %}
              <div class="no-items">Sorry! We couldn’t find any items here.</div>
              {% endif %}
            </div>
          </div>
        </main>
        <!-- /article-main -->
      </div>
    </div>
    <!-- article-content -->
  </div>
  <!-- /container ends in base.twig because we closed it out earlier -->
  {% endblock %}