{% extends "base.twig" %} {% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 tip-menu">
            <ul class="tips-categories">
              <li>
                <a href="/news" class="tips-category tips-active" data-filter="all">LATEST ENTRIES</a>
              </li>
              <li>
                <a href="/news/maintenance/" class="tips-category" data-filter="maintenance">MAINTENANCE</a>
              </li>
              <li>
                <a href="/news/equipment-design/" class="tips-category" data-filter="equipment-design">EQUIPMENT DESIGN</a>
              </li>
              <li>
                <a href="/news/troubleshooting/" class="tips-category" data-filter="troubleshooting">TROUBLESHOOTING</a>
              </li>
              <li>
                <a href="/news/fluid-basics/" class="tips-category" data-filter="fluid-basics">FLUID BASICS</a>
              </li>
              <li>
                <a href="/news/case-studies/" class="tips-category" data-filter="case-studies">CASE STUDIES</a>
              </li>
          </div>
          <div class="col-lg-8 vert-border tip-list">
            
              <h1 class="h2 mb-3">{{ post.title }}</h1>
          {% if post_pdf_link %}
            <div class="downloads text-left mb-3">
              <p class="data-sheet" style="margin:0">
                <a href="{{ post_pdf_link }}" target="_blank">
                  <i class="fa fa-file-pdf-o" style="margin-top:0;" aria-hidden="true"></i>
                  <span>
                    <strong>View PDF Version</strong>
                  </span>
                </a>
              </p>
            </div>
            {% else %}
            {{ function('do_shortcode', '[dkpdf-button]') }}
            {% endif %}
            {{ post.content }}
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div id="cat" style="display:none">{{ post.terms[0].slug }}</div>
        </div>
      </div>
  </section>
  </div>
  {% endblock %} {% block scripts %}
  <script>
    var cat = $('#cat').text()
    $('.tips-category').removeClass('tips-active')
    $('.tips-category').each(function () {
      if ($(this).data('filter') == cat) {
        $(this).addClass('tips-active')
      }
    })
  </script> {% endblock %}