{% extends "base.twig" %} 
{% block content %}
<script>
  var productPage = true;
</script>
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mainpage">
            <div>
              <h2 class="d-inline-block orange mr-2 font-weight-bold mb-3" style="font-size: 1rem">
                PRODUCTS
              </h2>
              <select id="product-changer">
                <option value="">More heat transfer fluids</option>
                {% for product in products %}
                  <option value={{ product.slug }}>{{ product.name }}</option>
                {% endfor %}
                <option value="all-products">View all heat transfer fluids</option>
                <option value="open-bath">Open Bath fluids</option>
                <option value="system-cleaners">System Cleaners</option>
                <option value="glycol-coolants">Glycol Coolants</option>
              </select>
            </div>
            <h1 class="h2">{{ post.title }}</h1>
            <div  class="page-top-text">
              {{ post.content }}
            </div>
            <ul>
              {% for fact in current_product.quick_facts %}
                <li>{{ fact.quick_fact | raw }}</li>
              {% endfor %}
            </ul>
            <div class="downloads row">
              <div class="col p-0">
                <p class="data-sheet">
                  <a href="/pdf/productdata/heattransfer/{{ current_product.slug }}.pdf" target="_blank">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
                    <span><strong>TDS</strong><br><span>(Technical Data Sheet)</span></span>
                  </a>
                </p>
              </div>
              <div class="col">
                <p class="data-sheet">
                  <a href="/pdf/safetydata/heattransfer/{{ current_product.slug }}-sds.pdf" target="_blank">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
                    <span><strong>SDS</strong><br><span>(Safety Data Sheet)</span></span>
                  </a>
                </p>
              </div>
              <div class="col d-flex">
                <a 
                  href="/contact?product={{current_product.slug}}&type=Thermal_Fluids" 
                  class="btn btn-hollow get-quote" 
                  style="max-height: 50px; align-self: center" 
                  data-product="{{ current_product.slug }}" 
                  data-target="contact"
                >
                    Get Quote
                </a>
              </div>
            </div>
            <div class="temp-selector ml-0">
              <div class="f">Standard</div>
              <div class="c">Metric</div>
            </div>
            {% include '/partials/product_table.twig'%}
          </div>
          <div class="col-md-4">
            <div class="product-img-container">
              {% if post.thumbnail.src %}
              <img src="{{ post.thumbnail.src }}" alt="Image for {{ post.title }}" />
              {% else %}
              <img src="/wp-content/themes/duratherm-theme/assets/dist/img/{{current_product.slug}}.jpg" alt="{{post.title}}">
              {% endif %}
            </div>
            <div class="sidebar-container">
              {% include '/partials/did-you-know.twig' %}
              {% include '/partials/testimonials-sidebar.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
{% endblock %}

{% block scripts %}
<script>
  (function(){
    const data = {
        "@context" : "http://schema.org",
        "@type" : "Product",
        "name" : "{{ current_product.name }}",
        "image" : "{{ site.url }}/wp-content/themes/duratherm-theme/assets/dist/img/duratherm-hf-fg.jpg",
        "description" : "{{ current_product.seo_description }}",
        "url" : "{{ site.url }}/products/{{ current_product.slug }}/",
        "sku": "{{ current_product.name }}",
        "brand" : {
                "@type" : "Brand",
                "name" : "Duratherm",
                "logo" : "http://durawp.calderonline.com/wp-content/themes/duratherm-theme/assets/dist/img/duratherm-logo.svg"
        }
    }
  const script = document.createElement('script')
  script.type = "application/ld+json"
  script.innerHTML = JSON.stringify(data)
  document.getElementsByTagName('head')[0].appendChild(script)  
  })(document)
</script>
{% endblock %}