{% extends "base.twig" %} 

{% block content %}
<div class="front-page" style="position: relative">
  <section class="article-content">
    <div class="article-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h2">HEAT TRANSFER FLUIDS FOR THE {{ post.title }} INDUSTRY</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 industry-nav-container d-none d-lg-block">
            <ul class="tips-categories pl-0">
              {% for item in posts %}
              <li>
                <a href="{{ item.link }}" 
                  class="black-link industry-link industry-text-link {% if item.slug == post.slug %}active{% endif %}">
                  {{ item.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-10 vert-border">
            <div id ="{{ post.slug }}" class="industry-section">
            <div class="industry-header" style='background-image:url("{{ post.thumbnail.src('large') }}")'>
              <div class="screen"></div>
              <h2>{{ post.title }}</h2>
            </div>
            <div class="industry-description mt-4">
              {{ post.content }}
            </div>
            <div class="industry-products mt-4">
                <h3>Products for this industry</h3>
                {% for prod in post.get_field('products_for_industry') %}
                <div class="product">
                  <h4 class="mt-2" style="font-size: 1.125rem">{{ prod.post_title }}</h4>
                  <p class="metric">
                    {{ prod.metric }}
                  </p>
                  <p class="standard">
                    {{ prod.standard }}
                  </p>
                  <p class="mb-0">
                    <a href="{{ prod.link }}">More Info</a>
                  </p>
                </div>
                {% endfor %}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}