
<div class="tool-pagination">
  {% if pagination.prev %}
    <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"><span class="sr-only">Prev</span><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  {% endif %}
  {% if pagination.next %}
    <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}"><span class="sr-only">next</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  {% endif %}
  <ul class="pages">
    {% for page in pagination.pages %}
      <li>
        {% if page.link %}
          <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
        {% else %}
          <span class="{{page.class}}">{{page.title}}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>