<div class="container">
	<div class="compare-submit">
		<div class="compare-header">
			<div><i class="fa fa-search" aria-hidden="true"></i> Compare Products</div>
			<div class="compare-icons">
				<a href="#" class="compare-toggle"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
				<a href="#" class="compare-cancel"><i class="fa fa-close" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="compare-body">
		</div>
	</div>
</div>