
<div class="col-sm-12 mb-4">
	<div class="btn-row-group d-flex align-items-center">
		<div class="temp-selector">
			<div class="f">Standard</div>
			<div class="c">Metric</div>
		</div>
		<div>
			<a href="#" class="export-compare grey-bold-link ml-3"><i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD CSV</a>
			<a href="#" class="print-compare grey-bold-link ml-3" title="This opens a new window with your results ready to print"><i class="fa fa-print" aria-hidden="true"></i> PRINT RESULTS</a>
		</div>
	</div>
</div>
<div class="col-sm-12 comparison-wrapper">	
	<div class="compare-back"></div>
	<div class="compare-nav-container compare-nav">
		<div class="label-column">
			<div class="label-header">
				Select Your Fluids:
			</div>
		</div>
		{% for i in 1..4 %}
			<div class="compare-column" id="compare-{{ loop.index }}">
				<div class="compare-header-wrapper">
					<div class="compare-header">
						<span class="prod-header" id="name-{{ loop.index }}" data-product="0">{{ page.common.select_fluid }}</span> <i class="fa fa-chevron-down" aria-hidden="true"></i>
					</div>
					{% if loop.index == 1 %}
						<div class="fluids1 fluids" data-header="name-{{ loop.index }}"></div>
					{% else %}
						<div class="all-fluids fluids" data-header="name-{{ loop.index }}"></div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="compare-wrapper" id="compare-wrapper">
		<div class="compare-container compare-table">

			<!--Temperature Ratings-->
			<div class="category-header">
				<h2>Temperature Ratings</h2>
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Max Bulk Temp
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="maxbulk-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label bold">
					Max Film Temp
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="maxfilm-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Pour Point
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="pourpoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>

			<!--Safety Data-->
			<div class="category-header">
					<h2>Safety Data</h2>
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Flash Point
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="flashpoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label bold">
					Fire Point
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="firepoint-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Autoignition Temp
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="autoignition-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>


			<!--Thermal Properties-->
			<div class="category-header">
					<h2>Thermal Properties</h2>
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Thermal Expansion Coefficient
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="thermalexpansion-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="category-header grey">
					<h3>Thermal Conductivity <span class="metric">W/m·K</span><span class="standard">(BTU/hr·ft·F°)</span></h3>
			</div>
			<div id="tc"></div>
			<div class="category-header grey">
					<h3>Heat Capacity <span class="metric">(kJ/kg·K)</span><span class="standard">(BTU/lb·F°)</span></h3>
			</div>
			<div id="hc"></div>

			<!--Physical Properties-->
			<div class="category-header">
					<h2>Physical Properties</h2>
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Chemical Composition
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="chemical-composition-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="category-header grey">
					<h3><span>Kinematic Viscosity (cSt)</span></h3>
			</div>
			<div id="kv"></div>
			<div class="category-header grey">
					<h3>Density <span class="metric">(kg/L)</span><span class="standard">(lb/ft³)</span></h3>
			</div>
			<div id="den"></div>
			<div class="category-header grey">
					<h3>Vapor Pressure <span class="metric">(kPa)</span><span class="standard">(psia)</span></h3>
			</div>
			<div id="vp"></div>
			<div class="category-header grey">
					<h3>Distillation Range</h3>
			</div>
			<div class="data-row">
				<div class="table-label bold">
					10%
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="dist10-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label bold">
					90%
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="dist90-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row">
				<div class="table-label bold">
					Average Molecular Weight
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="amw-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>
			<div class="data-row grey-row">
				<div class="table-label bold">
					Specific Gravity <span class="metric">16&deg;C</span><span class="standard">60&deg;F</span>
				</div>
				{% for i in 1..4 %}
					<div class="table-data"><span id="sg-{{ loop.index }}"></span></div>
				{% endfor %}
			</div>


		</div>
	</div>
</div>
<div id="compare-button-container">
	<a href="#" class="btn btn-primary export-compare"><i class="fa fa-download" aria-hidden="true"></i> CSV</a>
	<a href="#" class="btn btn-primary print-compare" title="This opens a new window with your results ready to print"><i class="fa fa-print" aria-hidden="true"></i> PRINT</a>
</div>
{% block scripts %}
<script src="/wp-content/themes/duratherm-theme/assets/dist/js/encoding-indexes.js"></script>
<script src="/wp-content/themes/duratherm-theme/assets/dist/js/encoding.js"></script>
<script src="/wp-content/themes/duratherm-theme/assets/dist/js/fileSaver.js"></script>
{% endblock %}