<div id="contact">
	<div class="contact-form-container">
		<div class="container">	
			<form id="contact-form" action="POST">
				<div class="row mb-3">
					<div class="col-sm-12">
						<h3>About You <span>(* Required)</span></h3>
						<div class="row">
							<div class="col-md-8">
								<div class="row mt-0">
									<div class="col-md-6">
										<label for="first_name" class="sr-only">First Name</label>
										<input type="text" id="first_name" class="form-control main-control mb-3" name="first_name" placeholder="First Name *" required />
									</div>
									<div class="col-md-6">
										<label for="last_name" class="sr-only">Last Name</label>
										<input type="text" id="last_name" class="form-control main-control mb-3" name="last_name" placeholder="Last Name *" required  />
									</div>
								</div>
								<div class="row mt-0">
									<div class="col-md-6">
											<label for="email" class="sr-only">Email Address</label>
											<input type="email" id="email" class="form-control main-control mb-3" name="email" placeholder="Email Address *" required  />
									</div>
									<div class="col-md-6">
										<label for="country" class="sr-only">Country</label>
										<input type="text" id="country" class="form-control mb-3 main-control" name="country" placeholder="Country *" required  />
									</div>
								</div>
								<div class="row mt-0">
									<div class="col-md-6">
											<label for="company" class="sr-only">Company</label>
											<input type="text" id="company" class="form-control mb-3 main-control" name="company" placeholder="Company"  />
									</div>
									<div class="col-md-6">
											<label for="phone" class="sr-only">Phone Number</label>
											<input type="text" id="phone" class="form-control mb-3 main-control" name="phone" placeholder="Phone Number"  />
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="about-comments" class="sr-only">About You Comments</label>
									<textarea id="about-comments" class="form-control main-control" name="comments" rows="5" placeholder="Comments"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-sm-12">
						<a href="#" class="toggle-display">
						<h3 >About your Application <span>(Optional but Helpful)</span></span>&nbsp;&nbsp;<i class="fa fa-chevron-down dark-orange" aria-hidden="true"></i></h3>
						</a>
						<div class="row toggle-div" style="display:none">
							<div class="col-sm-4">
								<div class="form-group">
									<label for="temperature" class="sr-only">Temperature</label>
									<input class="contact-number number-input form-control short-input main-control" type="text" id="temperature" name="temperature" placeholder="Temperature" />
									<div class="d-inline-block">
										<div class="temp-selector">
											<div class="f active temp-select">&deg;F</div>
											<div class="c temp-select">&deg;C</div>
											<input type="hidden" name="temp-type" id="temp-type" value="F">
										</div>
									</div><br>
									<label for="volume-contact" class="sr-only">Volume</label>
									<input class="contact-number number-input form-control mt-3 short-input main-control" type="text" name="volume" id="volume-contact" placeholder="Volume" />
									<div class="d-inline-block">
										<div class="temp-selector">
											<div class="f active">gallons</div>
											<div class="c">liters</div>
											<input type="hidden" name="vol-type" id="vol-type" value="gallons">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-8">
								<div class="form-group">
									<label for="application" class="sr-only">Industry Details</label>
									<textarea title="Industry Details" id="application" class="form-control main-control" name="application" rows="5" placeholder="Industry Details"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-sm-12">
						<a href="#" class="toggle-display">
							<h3 >Get a Quote <span>(Optional)</span>&nbsp;&nbsp;<i class="fa fa-chevron-down dark-orange" aria-hidden="true"></i></h3>
						</a>
						<div class="row toggle-div" id="product-rows">
							<div id="product-row-template" class="product-row clearfix d-none" data-rowid="1">
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-type" class="sr-only">Product Type</label>
										<select id="quote-type" class="product-select" name="quote-type" data-field="Product Type">
											<option value="select">Select a Product Type</option>
											<option value="Thermal Fluids">Thermal Fluids</option>
											<option value="Open Bath">Open Bath</option>
											<option value="System Cleaners">System Cleaners</option>
											<option value="Glycol Coolants">Glycol Coolants</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-products" class="sr-only">Product Type</label>
										<select id="quote-products" name="quote-products" disabled data-field="Product">
											<option>Select a Product</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-container-size" class="sr-only">Container Size</label>
										<select id="quote-container-size" name="quote-container-size" data-field="Container Size">
											<option>Select Size</option>
											<option value="18.9l (5 gal.)">18.9l (5 gal.)</option>
											<option value="208l (55 gal.)">208l (55 gal.)</option>
											<option value="1040l (275 gal.)">1040l (275 gal.)</option>
											<option value="bulk liters">Bulk liters</option>
											<option value ="bulk gallons">Bulk gallons</option>
										</select>
									</div>
								</div>
								<div class="col-2">
									<div class="form-group">
										<label for="quote-quantity" class="sr-only">Quantity</label>
										<input type="text" id="quote-quantity" class="form-control number-input" name="quote-quantity" placeholder="Quantity"  data-field="Quantity" />
									</div>
								</div>
							</div>
							<div class="product-row clearfix product-row-form" data-rowid="1">
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-type1" class="sr-only">Product Type</label>
										<select id="quote-type1" class="control product-select" name="quote-type1" data-field="Product Type">
											<option value="select">Select a Product Type</option>
											<option value="Thermal Fluids">Thermal Fluids</option>
											<option value="Open Bath">Open Bath</option>
											<option value="System Cleaners">System Cleaners</option>
											<option value="Glycol Coolants">Glycol Coolants</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-products1" class="sr-only">Product Type</label>
										<select id="quote-products1" class="control" name="quote-products1" disabled data-field="Product">
											<option>Select a Product</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label for="quote-container-size1" class="sr-only">Container Size</label>
										<select id="quote-container-size1" class="control" name="quote-container-size1" data-field="Container Size">
											<option value='select'>Select Size</option>
											<option value="18.9l (5 gal.)">18.9l (5 gal.)</option>
											<option value="208l (55 gal.)">208l (55 gal.)</option>
											<option value="1040l (275 gal.)">1040l (275 gal.)</option>
											<option value="bulk liters">Bulk liters</option>
											<option value ="bulk gallons">Bulk gallons</option>
										</select>
									</div>
								</div>
								<div class="col-2">
									<div class="form-group">
										<label for="quote-quantity1" class="sr-only">Quantity</label>
										<input type="text" id="quote-quantity1" class="form-control control number-input" name="quote-quantity1" placeholder="Quantity"  data-field="Quantity"/>
									</div>
								</div>
							</div>
								<div class="col-sm-12 ">
								<p id="add-product" class="d-inline">
									+ Add Product
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<button type="submit" class="btn btn-primary" id="contact-submit">Submit</button>
								<div class="loader"></div>
						</div>
					</div>
				</div>
			</form>
			<div id="email-value"></div>
		</div>
		</div>
	</div>
	<span id="my_email_ajax_nonce" style="display: none" data-nonce="{{ function('wp_create_nonce','duratherm-string') }}"></span>
{% block scripts %}
	<script src="/wp-content/themes/duratherm-theme/assets/dist/js/contact.js?v=1.1"></script>
	<script>

	</script>
{% endblock %}