
<!-- English-->
  <div class="row english download-set">
    {% for prod_type in post.get_field('product_type') %}
    <div class="grid-item-sheets">
    <div class="mb-4">
      <div class="downloads-inner">
        <div class="downloads-header">
          <h2 class="h3">{{ prod_type.name }}</h2>
        </div>
        {% for prod in prod_type.product %}
        <div class="row mt-0 download-line">
          <div class="col-sm-4">
            <p>
              {{ prod.name }}
            </p>
          </div>
          <div class="col-sm-4">
            <p>
              {% if prod.english_product_data_sheet %}
              <a href="{{ prod.english_product_data_sheet }}" class="black-link" target="_blank">
                Product Data Sheet <i class="fa fa-download dark-orange" aria-hidden="true"></i>
              </a>
              {% endif %}
            </p>
          </div>
          <div class="col-sm-4 px-2">
            <p>
            {% for sds in prod.english_safety_data_sheet %}
            <a href="{{ sds.file }}" class="black-link" target="_blank">
              {% if sds.name != 'English' %}
              {{ sds.name }} <i class="fa fa-download dark-orange" aria-hidden="true"></i><br>
              {% else %}
              Safety Data Sheet <i class="fa fa-download dark-orange" aria-hidden="true"></i>
              {% endif %}
            </a>
            {% endfor %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
<!--End English-->
