
<form id="fluid-finder" class="sticky">
  <header style="position: relative">
    <h3 class="h2">Filter</h3>
    <div  style="position: absolute; right: 5px; top: 5px;">
      <div class="temp-selector">
        <div class="f">&deg;F</div>
        <div class="c">&deg;C</div>
      </div>
  </header>
  <div class="fluid-inner">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="h3">Application:</h4>
      </div>
      <div class="col-sm-12">
        <label for="need-heat">
          <input type="checkbox" name="needto_heat" id="need-heat" class="needto-checkbox" value="heat" data-set="heat" data-action="maxtemp" /> 
          <span class="radio-label-front">Heat</span>
        </label>
      </div>
      <div class="col-sm-12">
        <label for="need-cool">
          <input type="checkbox" name="needto_cool" id="need-cool" class="needto-checkbox" value="cool" data-set="cool" data-action="mintemp" />
          <span class="radio-label-front">Cool</span>
        </label>
      </div>
      <div class="col-sm-12">
        <label for="need-heat-cool">
          <input type="checkbox" name="needto_heat_cool" id="need-heat-cool" class="needto-checkbox" value="heat_cool" data-set="heat-cool" data-action="heat-cool" />
          <span class="radio-label-front">Heat &amp; Cool</span>
        </label>
      </div>
      <div class="col-sm-12">
        <p style="color:red; text-align:center; margin-bottom: 0; font-weight:bold; display: none" id="tempwarn">Please enter a temp</p>
        <div id="ff-min-temp-value-container" class="needto-text">
          <input type="text" id="ff-min-temp-value" class="heat-cool number-input" name="ff_min_temp" data-action="mintemp" placeholder="Min Temp *" /> &deg;<span class="temp-value">C</span>
        </div>
        <div id="ff-max-temp-value-container" class="needto-text">
          <input type="text" id="ff-max-temp-value" class="heat-cool first number-input" name="ff_max_temp" data-action="maxtemp" placeholder="Max Temp *" /> &deg;<span class="temp-value">C</span>
        </div>
        <p id="tempwarn2" style="margin: 0; color: red; font-size: 0.75rem; display: none">* required</p>
      </div>
    </div>
    <hr>
    <h2 class="h4"></h2>
    <div class="row">
      <div class="col-sm-12 center">
        <label for="min_flashpoint" class="sr-only">Flash point</label>
        <h4 class="h3">Min Flash Point:</h4>
      </div>
      <div class="col-sm-12">
        <input type="text" id="min-flashpoint" class="number-input"  name="min_flashpoint" data-action="flashpoint" placeholder="Min. Flash Point" />  &deg;<span class="temp-value">C</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 center">
        <label for="food-grade">
          <input type="checkbox" name="food_grade" id="food-grade" data-action="food-grade" />
          <span class="radio-label-front"><h4 class="h3" style="display:inline">Food Grade</h4></span>
        </label>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-12 center">
          <input class="btn btn-hollow" type="submit" name="ff_submit" id="ff_submit" value="Filter" />
          <a href="#" class="all-products reset-products">Reset</a>
        
      </div>
    </div>
    <div>
      <ul class="filtered-out">
      </ul>
    </div>
  </div>
</form>