<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row mt-0">
      <div class="col-lg-4 footer-column">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="h2">PRODUCTS</h6>
          </div>
          <div class="col-lg-6 footer-column">
            <ul>
              {% set footer_count = ( ((footer_links|length) + 4) / 2) | round(1, 'ceil') %}
              {% for product in footer_links %}
                {% if  loop.index < (footer_count + 1) %}
                <li><a href="/products/{{ product.slug }}" title="Link to {{ product.name}} product page">{{ product.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6 footer-column">
            <ul>
              {% for product in footer_links %}
                {% if loop.index >= (footer_count + 1) %}
                <li><a href="/products/{{ product.slug }}" title="Link to {{ product.name}} product page">{{ product.name }}</a></li>
                {% endif %}
              {% endfor %}
              <li><a href="/open-bath/">Open Bath Fluids</a></li>
              <li><a href="/system-cleaners/">System Cleaners</a></li>
              <li><a href="/glycol-coolants/">Glycol Coolants</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 footer-column m-0 p-0 mt-3 d-none d-lg-block">
        {% if post.slug != 'contact' %}
        <img src="/wp-content/themes/duratherm-theme/assets/dist/img/duratherm-markets.jpg" alt="Duratherm markets">
        {% endif %}
      </div>
      <div class="col-lg-4 footer-column">
        <div class="row">
          <div class="col-lg-6 footer-column">
            <h6 class="h2">INTERNATIONAL</h6>
            <ul>
              {% for microsite in microsites[0].get_field('microsite_site') %}
              <li>
                {% if microsite.microsite_name == 'USA (main site)' or microsite.microsite_name == 'Canada' %}
                <a rel="nofollow" href="{{ microsite.microsite_url}}" style="font-weight: bold" target="_blank" title="Durathermfluids {{ microsite.microsite_name}}">{{ microsite.microsite_name }}</a>
                {% else %}
                <a rel="nofollow" href="{{ microsite.microsite_url}}" target="_blank" title="Durathermfluids {{ microsite.microsite_name}}">{{ microsite.microsite_name }}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6 footer-column">
            <h6 class="h2">SITE</h6>
            {% include('/partials/footer-nav.twig') %}
            <div class="copyright">
              <p>&copy; Duratherm Extended Life Fluids. A division of Frontier Resource and Recovery Services Incorporated.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- /ftr -->
