
<div class="footer-nav" role="navigation">
  <ul class="nav-menu">
    {% for item in menu.items %}
      <li class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
        <a href="{{item.link}}" {% if item.current %} class="active"{% endif %}>
          {{item.title}}
        </a>
      </li>
    {% endfor %}
    <li class="menu-item menu-item-type-{{child.type}} menu-item-object-{{child.object}} menu-item-{{child.ID}}">
      <a href="/privacy">Privacy</a>
    </li>
  </ul><!-- /nav-menu -->
</div><!-- /hdr-nav -->