<div class="header-container"><!--Start Header -->
  <div class="container mb-0 pb-2 inner-header">
    <div class="header">
      <div class="row">
        <div class="top-right-nav">
          <p>CALL TODAY <a href="tel:18004464910"><strong>1.800.446.4910</strong></a>
          </p>
        </div>
      </div>
      <div class="row mt-0">
        <div class="col-md-4 logo">
          <a href="/">
            <img class="d-sm-none d-xs-none d-md-block" src="/wp-content/themes/duratherm-theme/assets/dist/img/duratherm-logo.svg" alt="Duratherm } Heat Transfer Fluids" />
          </a>
        </div>
        <div class="col-lg-8 navigation">
          {% include 'partials/nav.twig' %}
          <div class="inline-element">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--End Header-->
<div class="mobile-phone" style="position:fixed; right:60px; top:25px; z-index:11111">
  <a href="tel:18004464910" style="color: #000;"><i style="font-size:2rem" class="fa fa-phone"></i></a>
</div>