<div id ="{{ industry.slug }}" class="industry-section">
  <div class="industry-header" style='background-image:url("{{ industry.image.sizes.large }}")'>
    <div class="screen"></div>
    <h2>{{industry.industry_name}}</h2>
  </div>
  <div class="industry-description mt-4">
    {{ industry.body_text }}
  </div>
  <div class="industry-products mt-4">
      <h3>Products for this industry</h3>
      {% for prod in industry.products_for_industry %}
      <div class="product">
        <h4 class="mt-2" style="font-size: 1.125rem">{{ prod.post_title }}</h4>
        <p class="metric">
          {{ prod.metric }}
        </p>
        <p class="standard">
          {{ prod.standard }}
        </p>
        <p class="mb-0">
          <a href="{{ prod.link }}">More Info</a>
        </p>
      </div>
      {% endfor %}
  </div>
</div>