
<nav class=" navbar navbar-light navbar-expand-lg" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav-menu navbar-nav mr-auto">

      {% for item in menu.items %}
        <li class="nav-item  {{item.classes[0]}} {% if item.get_children %} dropdown{% endif %}">
          <a href="{{item.link}}" 
            class="{% if item.current %}active {% endif %} {% if item.get_children %}dura-drop{% endif %}">
            {{item.title}} 
            {% if item.get_children %} <i class="fa fa-sort-desc dropdown-caret"></i>{% endif %}
          </a>
          {% if item.get_children %}
            <div class="dropdown-menu dura-drop">
              {% for child in item.get_children %}
                <a class="dropdown-item" href="{{child.link}}">{{child.title}}</a>
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
      <li>
        <a href="/contact?spec=quote" class="btn btn-sm">GET A QUOTE</a>
      </li>
    </ul><!-- /nav-menu -->
  </div>
</nav><!-- /hdr-nav -->