<div class="container mb-0 px-0 fixed-bottom new-thermal-container">
  <div class="row m-0 p-0">
    <div class="col p-0">
      <a href="" class="new-to-thermal-link">
        <div class="new-to-thermal pb-2 rounded-top">
          <p class="p-0 m-0">
            New to thermal fluids? Click Here for five things you should know!
          </p>
        </div>
      </a>
    </div>
  </div>
</div>