{% if not post.thumbnail.src %}
  {% set headerImage = options.about_header_image.url %}
{% else %}
  {% set headerImage = post.thumbnail.src %}
{% endif %}
</div> <!--close out container so that we can go full width-->
  <div class="page-head" style="background-image:url('{{ headerImage }}');">
    <div class="mask">
      <div class="container">
        <div class="interior-page {% if page_sidebar %}sidebar-mod{% endif %}">
          <header class="article-header">
          {% if title %}
            {% set pageTitle = title %}
          {% elseif post.title %}
            {% set pageTitle = post.title %}
          {% else %}
            {% set pageTitle = '404 Page Not Found' %}
          {% endif %}
            <h1 class="article-title">{{ pageTitle }}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>