<div class="product-tables metric">
  <table>
    <tr><th colspan="2"><h3>Temperature Ratings</h3></th></tr>
    <tr>
      <td>Max Bulk/Use Temp</td>
      <td class="right">{{ current_product.max_temp }}&deg;C</td>
    </tr>
    <tr class="grey-row">
      <td>Max Film Temp.</td>
      <td class="right">{{ current_product.film_temp }}&deg;C</td>
    </tr>
    <tr>
      <td>Pour Point <span>ASTM D97</span></td>
      <td class="right">{{ current_product.pour_point }}&deg;C</td>
    </tr>
  </table>
  <table>
    <tr><th colspan="2"><h3>Safety Data</h3></th></tr>
    <tr>
      <td>Flash Point <span>ASTM D92</span></td>
      <td class="right">{{ current_product.flashpoint }}&deg;C</td>
    </tr>
    <tr class="grey-row">
      <td>Fire Point <span>ASTM D92</span></td>
      <td class="right">{{ current_product.fire_point }}&deg;C</td>
    </tr>
    {% if current_product.auto_ignition_temp != "N/A" %}
      <tr>
        <td>Autoignition <span>ASTM E-659-78</span></td>
        <td class="right">{{ current_product.auto_ignition_temp }}{% if current_product.auto_ignition_temp != "N/A" %}&deg;C{% endif %}</td>
      </tr>
    {% endif %}
  </table>
  <table>
    <tr><th colspan="2"><h3>Thermal Properties</h3></th></tr>
    {% if current_product.auto_ignition_temp != "N/A" %}
      <tr>
        <td>Thermal Expansion Coefficient</td>        
        <td class="right">{% if current_product.thermal_expansion_coefficient_standard != "N/A" %}{{ (current_product.thermal_expansion_coefficient_standard )|round(4, "common") }} %/&deg;C{% endif %}</td>
      </tr>
    {% endif %}
    <tr class="darkgrey-row">
      <td>Thermal Conductivity</td>
      <td class="right"><span>W/m·K</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data %}
      {% if data.temperature in temp_array %}
        <tr>
          {% if counter % 2 %}
            <td>{{ data.temperature }}&deg;C</td>
            <td class="right">{{ data.thermal_conductivity|number_format(3, '.', ',') }}</td>
          {% else %}
            <td class="grey-row">{{ data.temperature }}&deg;C</td>
            <td class="grey-row right">{{ data.thermal_conductivity|number_format(3, '.', ',') }}</td>
          {% endif %}
        </tr>
        {% set counter = counter + 1 %}
      {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Heat Capacity</td>
      <td class="right"><span>kJ/kg·K</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data %}
      {% if data.temperature in temp_array %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;C</td>
              <td class="right">{{ data.heat_capacity|number_format(3, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;C</td>
              <td class="grey-row right">{{ data.heat_capacity|number_format(3, '.', ',') }}</td>
            {% endif %}
          </tr>
        {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
  </table>
  <table>
    <tr><th colspan="2"><h3>Physical Properties</h3></th></tr>
    <tr class="darkgrey-row">
      <td>Viscosity <span>ASTM D445</span></td>
      <td class="right"><span>cSt</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data %}
      {% if data.temperature in visc_array %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;C</td>
              <td class="right">{{ data.kinematic_viscosity|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;C</td>
              <td class="grey-row right">{{ data.kinematic_viscosity|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Density <span>ASTM D1298</span></td>
      <td class="right"><span>kg/l</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data %}
      {% if data.temperature in temp_array %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;C</td>
              <td class="right">{{ data.density|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;C</td>
              <td class="grey-row right">{{ data.density|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Vapor Pressure <span>ASTM D2879</span></td>
      <td class="right"><span>kPa</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data %}
      {% if data.temperature in temp_array %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;C</td>
              <td class="right">{{ data.vapour_pressure|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;C</td>
              <td class="grey-row right">{{ data.vapour_pressure|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td colspan="2">Distillation Range <span>ASTM D2887</span></td>
    </tr>
    <tr>
      <td>10%</td>
      <td class="right">{{ current_product.distillation_range_10 }}&deg;C</td>
    </tr>
    <tr class="grey-row">
      <td>90%</td>
      <td class="right">{{ current_product.distillation_range_90 }}&deg;C</td>
    </tr>
    {% if current_product.average_molecular_weight != "N/A" %}
      <tr>
        <td>Molecular Weight</td>
        <td class="right">{{ current_product.average_molecular_weight }}</td>
      </tr>
    {% endif %}
    {% if current_product.specific_gravity != "N/A" %}
      <tr class="grey-row">
        <td>Specific Gravity @ 16&deg;C</td>
        <td class="right">{{ current_product.specific_gravity }}</td>
      </tr>
    {% endif %}
  </table>
  <p class="ligthweight" style="margin-top: 20px; padding: 10px;">Note: The values quoted in the table above are typical of normal production.<br>They do not constitute a specification.</p>
</div>
<!--Standard Tables-->
<div class="product-tables standard">
  <table>
    <tr><th colspan="2"><h3>Temperature Ratings</h3></th></tr>
    <tr>
      <td>Max Bulk/Use Temp</td>
      <td class="right">{{ current_product.max_temp_standard }}&deg;F</td>
    </tr>
    <tr class="grey-row">
      <td>Max Film Temp.</td>
      <td class="right">{{ current_product.film_temp_standard }}&deg;F</td>
    </tr>
    <tr>
      <td>Pour Point <span>ASTM D445</span></td>
      <td class="right">{{ current_product.pour_point_standard }}&deg;F</td>
    </tr>
  </table>
  <table>
    <tr><th colspan="2"><h3>Safety Data</h3></th></tr>
    <tr>
      <td>Flash Point <span>ASTM D92</span></td>
      <td class="right">{{ current_product.flashpoint_standard }}&deg;F</td>
    </tr>
    <tr class="grey-row">
      <td>Fire Point <span>ASTM D92</span></td>
      <td class="right">{{ current_product.fire_point_standard }}&deg;F</td>
    </tr>
    {% if current_product.auto_ignition_temp_standard != "N/A" %}
      <tr>
        <td>Autoignition <span>ASTM E-659-78</span></td>
        <td class="right">{{ current_product.auto_ignition_temp_standard }}{% if current_product.auto_ignition_temp != "N/A" %}&deg;F{% endif %}</td>
      </tr>
    {% endif %}
  </table>
  <table>
    <tr><th colspan="2"><h3>Thermal Properties</h3></th></tr>
    {% if current_product.auto_ignition_temp_standard != "N/A" %}
      <tr>
        <td>Thermal Expansion Coefficient</td>
        <td class="right">{% if current_product.thermal_expansion_coefficient != "N/A" %}{{ (current_product.thermal_expansion_coefficient)|round(4, "common") }} %/&deg;F{% endif %}</td>
      </tr>
    {% endif %}
    <tr class="darkgrey-row">
      <td>Thermal Conductivity</td>
      <td class="right"><span>BTU/hr·ft·F°</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data_standard %}
      {% if data.temperature in temp_array_standard %}
        <tr>
          {% if counter % 2 %}
            <td>{{ data.temperature }}&deg;F</td>
            <td class="right">{{ data.thermal_conductivity|number_format(3, '.', ',') }}</td>
          {% else %}
            <td class="grey-row">{{ data.temperature }}&deg;F</td>
            <td class="grey-row right">{{ data.thermal_conductivity|number_format(3, '.', ',') }}</td>
          {% endif %}
        </tr>
        {% set counter = counter + 1 %}
      {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Heat Capacity</td>
      <td class="right"><span>BTU/lb·F°</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data_standard %}
      {% if data.temperature in temp_array_standard %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;F</td>
              <td class="right">{{ data.heat_capacity|number_format(3, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;F</td>
              <td class="grey-row right">{{ data.heat_capacity|number_format(3, '.', ',') }}</td>
            {% endif %}
          </tr>
        {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
  </table>
  <table>
    <tr><th colspan="2"><h3>Physical Properties</h3></th></tr>
    <tr class="darkgrey-row">
      <td>Viscosity <span>ASTM D445</span></td>
      <td class="right"><span>cSt</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data_standard %}
      {% if data.temperature in visc_array %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;F</td>
              <td class="right">{{ data.kinematic_viscosity|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;F</td>
              <td class="grey-row right">{{ data.kinematic_viscosity|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Density <span>ASTM D1298</span></td>
      <td class="right"><span>lb/ft³</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data_standard %}
      {% if data.temperature in temp_array_standard %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;F</td>
              <td class="right">{{ data.density|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;F</td>
              <td class="grey-row right">{{ data.density|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td>Vapor Pressure <span>ASTM D2879</span></td>
      <td class="right"><span>psia</span></td>
    </tr>
    {% set counter = 1 %}
    {% for data in current_product.fluid_data_standard %}
      {% if data.temperature in temp_array_standard %}
        <tr>
          {% if counter % 2 %}
              <td>{{ data.temperature }}&deg;F</td>
              <td class="right">{{ data.vapour_pressure|number_format(2, '.', ',') }}</td>
            {% else %}
              <td class="grey-row">{{ data.temperature }}&deg;F</td>
              <td class="grey-row right">{{ data.vapour_pressure|number_format(2, '.', ',') }}</td>
            {% endif %}
          </tr>
          {% set counter = counter + 1 %}
        {% endif %}
    {%  endfor %}
    <tr class="darkgrey-row">
      <td colspan="2">Distillation Range <span>ASTM D2887</span></td>
    </tr>
    <tr>
      <td>10%</td>
      <td class="right">{{ current_product.distillation_range_10_standard }}&deg;F</td>
    </tr>
    <tr class="grey-row">
      <td>90%</td>
      <td class="right">{{ current_product.distillation_range_90_standard }}&deg;F</td>
    </tr>
    {% if current_product.average_molecular_weight != "N/A" %}
      <tr>
        <td>Molecular Weight</td>
        <td class="right">{{ current_product.average_molecular_weight }}</td>
      </tr>
    {% endif %}
    {% if current_product.specific_gravity != "N/A" %}
      <tr class="grey-row">
        <td>Specific Gravity @ 60&deg;F</td>
        <td class="right">{{ current_product.specific_gravity }}</td>
      </tr>
    {% endif %}
  </table>
</div>
<p class="ligthweight" style="margin-top: 20px; padding: 10px; font-size:0.75rem;">Note: The values quoted in the table above are typical of normal production.<br>They do not constitute a specification.</p>