  {% for product in products %}
    <!-- Modal {{product.name}}-->
    <div id="modal-{{ product.slug }}" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 inner">
                <div class="temps metric">
                  <div class="d-flex align-items-center">
                    <h2 class="modal-title">{{ product.name }}</h2>
                    <p class="temp ml-3"><span>Max Temp</span><br>{{ product.max_temp }}&deg;C</p>
                    {% if product.cooling_fluid == 'yes' %}
                      <p class="temp"><span>Min Temp</span><br>{{ product.min_temp }}&deg;C</p>
                    {% endif %}
                    <p class="temp"><span>Flash Point</span><br>{{ product.flashpoint }}&deg;C</p>
                  </div>
                </div>
                <div class="temps standard">
                  <div class="d-flex align-items-center">
                    <h2 class="modal-title">{{ product.name }}</h2>
                    <p class="temp ml-3"><span>Max Temp</span><br>{{ product.max_temp_standard }}&deg;F</p>
                    {% if product.cooling_fluid == 'yes' %}
                      <p class="temp"><span>Min Temp</span><br>{{ product.min_temp_standard }}&deg;F</p>
                    {% endif %}
                    <p class="temp"><span>Flash Point</span><br>{{ product.flashpoint_standard }}&deg;F</p>
                  </div>
                </div>
              </div>
             </div>
            <div class="row">
              <div class="col-md-6 inner" style="margin-top:5px">
                <div class="metric">
                  {{ product.excerpt_metric | raw }}
                </div>
                <div class="standard">
                  {{ product.excerpt_standard | raw }}
                </div>
              </div>
              <div class="col-md-6 inner" style="margin-top:5px">
                <ul class="orange-list">
                  {% for quickfact in product.quick_facts %}
                    <li class="quickfact">{{ quickfact.quick_fact | raw }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a
              href="/contact/?product={{product.slug}}&type=Thermal_Fluids" 
              class="btn btn-hollow get-quote" 
            >
                Get Quote
            </button>
            <a href="/heat-transfer-fluid/{{ product.slug | lower }}" class="btn btn-default">View Product</a>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}