{% if options.popout_display %}
<div class="popout closed">
  <div class="popout-side">
    <div class="popout-title">
      <a href="#" class="popout-trigger">
      <p>
        {{options.popout_title}}
        <i class="chev fa fa-chevron-up"></i>
      </p>
    </a>
    </div>
  </div>
  <div class="popout-body">
    {{options.popout_main_text}}
  </div>
</div>
{% endif %}

{% block scripts %}
<script>
  $('.popout-trigger').on("click", function (e) {
    e.preventDefault()
    $('.popout-body').slideToggle(400, function() {
      if($('.chev').hasClass('fa-chevron-up')) {
        $('.chev').removeClass('fa-chevron-up').addClass('fa-chevron-down')
      } else {
        $('.chev').removeClass('fa-chevron-down').addClass('fa-chevron-up')
      }
    })
  })
</script>
{% endblock %}