<script>
  var testimonials = {{ testimonials | json_encode }}
</script>

<div class="col pt-5">
  <div class="callout">
    <h4 class="h3 orange">What our customers say</h4>
    <div class="testimonial-wrapper">
      <blockquote id="testimonial"></blockquote>
      <div id="testimonial-author"></div>
    </div>
  </div>
</div>