.btn,
.btn:focus,
.btn:active {
  border-radius: 4px;
  padding: 8px 20px;
  border: solid 2px #c32026;
  outline: none;
  transition: 0.3s;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  text-transform: uppercase;
  background-color: #c32026;
  color: #fff;
  &:hover {
    background-color: lighten(#c32026, 20);
    color: #fff;
    outline: none;
  }
}

.btn-grey {
  color: #fff;
  background-color: darken($medium-grey, 15);
  border: solid 2px $dark-grey;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($light-grey, 35);
  }
}

.btn-lg {
  padding: 12px 24px;
  font-size: 1.25em;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.75em;
}

.btn-full-width {
  width: 100%;
}

.btn-giant {
  font-size: 1.25em;
  padding: 20px 50px;
}

.btn-hollow {
  border: 2px solid #ef4136;
  background-color: #fff;
  color: #ef4136;
  padding: 8px 20px;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten(#ef4136, 15);
    outline: none;
  }
  .product-side & {
    padding: 6px 12px;
  }
}

.btn-hollow-blue {
  border: 2px solid $dark-blue;
  background-color: #fff;
  color: $dark-blue;
  padding: 8px 20px;
  &:hover,
  &:focus,
  &:active {
    background-color: lighten($dark-blue, 25);
    outline: none;
  }
  .product-side & {
    padding: 6px 12px;
  }
}
.btn-hollow-black {
  border: 1px solid $dark-blue;
  background-color: #fff;
  color: $dark-blue;
  padding: 8px 20px;
  h2 {
    color: $dark-blue;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.25rem 0;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $dark-orange;
    box-shadow: 0 0 0 0.2rem rgba(238,67,57,.25);
    outline: none;
    h2 {
      color: #fff;
    }
  }
  &.active {
    border: 1px solid darken($dark-orange,15);
    color: #fff;
    background-color: $dark-orange;
    outline: none;
    h2 {
      color: #fff;
    }
  }
  .product-side & {
    padding: 6px 12px;
  }
}

.btn-plain {
  display: block;
  color: $dark-orange;
  font-weight: 600;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: $dark-orange;
  }
}

.btn-primary.active {
  background-color:$base-font-color !important;
  border-color:$base-font-color !important;
}