.industry-header {
  padding-bottom: 30%;
  background-size: cover;
  position: relative;
  h2 {
    font-weight: 700;
    color: #fff;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 0 3px rgba(0,0,0,.27);
  }
}

.screen {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,.2)50%,rgba(0,0,0,.2)51%,rgba(0,0,0,.6)100%);
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay {
  background-color: rgba(251,175,66,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 1;
  transition: 0.3s;
  @media screen and ( min-width:768px ) {
    opacity: 0
  }
}
.industry-image-link {
  position: relative;
  display: block;
  &:hover > .overlay {
    opacity: 1;
  }
  h2 {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%);
    text-shadow: 0 0 3px rgba(0,0,0,.27);
    font-size: 1.5rem;
    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
    @media screen and (min-width: 900px) {
      font-size: 1.125rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
    }
  }
}
.industry-products {
  .product {
    margin-left: 1rem;
    border-bottom: 2px solid #ccc;
    padding: 1rem 0;
  }
}

.industry-text-link {
  &.active {
    font-weight: 600;
  }
}