.calculator-selector {
  display: none;
  @media screen and ( min-width: 990px ) {
    display: flex;
  }
  width: 100%;
  list-style-type: none;
  padding: 0;
  color: #fff;
  background-color: $dark-orange;
  margin: 0;
  li {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    flex: 1 1 auto;
    &:hover, &.active {
      background-color: #777;
    }
  }
}

.calc-box {
  margin-bottom: 1rem;
  a {
    display:block;
  }
  a, a:hover {
    text-decoration: none;
    color: $dark-blue;
  }
  a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .inner {
    border: 2px solid #ccc;
    padding: 1rem;
    h2, .h2 {
      font-size: 1.125rem;
      font-weight:600;
    }
  }
}