.downloads-inner {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;

  .download-line {
    border-bottom: 1px solid #ccc;
    p {
      margin: 0;
      padding: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      a {
        font-size: 0.875rem;
      }
    }
    &:last-of-type {
      border: none;
    }
  }

  .downloads-header {
    border-bottom: 1px solid #ccc;
    background: linear-gradient(#ece8e8,#fff);
    margin-top: -0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.5rem 1rem;
  }
}
.grid-item-sheets {
  width: 100%;
  @media screen and ( min-width: 1200px ) {
    width: 50%;
  }
}