img {
  max-width: 100%;
}
body,
html {
  position: relative;
}
.strong, strong {
  font-weight: 700;
}
#content {
  @media screen and ( min-width:990px ){
    margin-top: 135px 
  }
}
.scr
.scroll-link {
  cursor: pointer;
}
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center !important;
}
.no-margin-p {
  margin: 0;
  padding: 0;
  .home-tips & {
    text-align: center;
  }
}

.inline-element {
  display: inline-block;
}

.center-margin {
  margin: 0 auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 20px solid $orange;
}

.container {
  margin-bottom: 2em;
}

.container-whole {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 90px;
}
.learn-more {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  p {
    margin-bottom: 0 !important;
  }
}

.container.nav-container {
  margin-bottom: 0;
}

.row {
  margin-top: 20px;
}

.blue-background {
  padding: 15px 0 !important;
  background-color: #365170;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0;
  .container {
    line-height: 1.5;
    margin: 0 auto;
    height: 100%;
  }
  .h3 {
    font-size: 2em;
  }
  .h1,
  h2,
  .h3 {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    @media screen and  (min-width: 500px) {
      font-size: 2.25em;
    }
  }
}

.grey-background {
  background-color: $lightest-grey;
  margin-top: 0;
}

img.lg-icon {
  max-width: 200px;
  margin-left: 10px;
}

.icon-row {
  margin-top: 0;
}

.icon-div {
  display: flex;
  align-items: center;
  padding: 0 15px;
  @media screen and  (min-width: 758px) {
    padding: 0;
  }
  h2 {
    margin-top: 0;
  }
  .lg-icon {
    display: none;
    width: 200px;
    margin-right: 60px;
    flex-shrink: 0;
    @media screen and  (min-width: 768px) {
      display: flex;
    }
    &.right-icon {
      margin-right: 0;
      margin-left: 60px;
    }
  }
}

.contact input[type="text"],
.contact select {
  height: 38px !important;
}

.privacy {
  ul li:before {
    content: "";
  }
}

.contact-link {
  color: $orange;
  font-weight: 800;
  &:hover {
    color: darken($orange, 15);
  }
}

.orange {
  color: $bright-orange;
}
.dark-orange {
  color: $dark-orange;
}

.orange-cta {
  color: $bright-orange;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  margin-left: 15px;
  &:hover {
    color: darken($bright-orange, 15);
  }
}

.page-row {
  margin-top: 0;
  h2 {
    margin-top: 0;
  }
}

.text-col {
  padding-left: 15px;
  float: left;
  width: 95%;
  @media screen and  (max-width: 1200px) {
    width: 90%;
  }
  @media screen and  (max-width: 520px) {
    width: 80%;
  }
  &.half-width {
    width: 80%;
  }
  h3 {
    color: $bright-orange;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
  }

  h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
  }
}

.col-icon {
  width: 50px;
  float: left;
}

.gradient-background {
  background: linear-gradient(#ebecec, #fff);
  padding-bottom: 50px;
  position: relative;
  .row {
    padding: 0 !important;
    margin-top: 0 !important;
    @media screen and  (max-width: 990px) {
      margin-top: 20px !important;
    }
  }
}

.cta {
  color: #ef4136;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    color: darken(#ef4136, 15);
  }
}

.col-separator {
  background-color: #fff;
  width: 6px;
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translatex(-50%);
  @media screen and  (max-width: 990px) {
    display: none;
  }
}

.outlast-image {
  text-align: right;
  margin-top: 20%;
  transform: translateX(-20%);
}

.calculator-group .page-header {
  margin-left: 15px;
}

.orange-text {
  color: $bright-orange;
}
.dark-orange-text {
  color: $dark-orange;
}

.fluid-box,
.tech-box,
.tech-box-static {
  .inner {
    border: 2px solid #7f8183;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.tech-box,
.tech-box-static {
  .inner {
    border: 2px solid #ccc;
    display: flex;
    h3 {
      font-size: 1.25rem;
    }
  }
}

.tech-box a {
  color: $base-font-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-weight: 400;
  outline: none;
  .btn {
    align-self: center;
  }
}
.tech-box:hover {
  .inner {
    .btn {
      text-decoration: underline;
    }
  }
}

hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 2px;
}

.dura-difference {
  .inner {
    text-align: center;
    padding: 20px;
  }
}

.water-img {
  background-image: url(/wp-content/themes/duratherm-theme/assets/dist/img/fluid.jpg);
  background-size: contain;
  position: absolute;
  width: 85%;
  left: 15%;
  height: 615px;
  top: -150px;
  // left: 32%;
  background-repeat: no-repeat;
  @media screen and  (max-width: 1200px) {
    top: -35px;
  }
  @media screen and  (max-width: 990px) {
    display: none;
  }
}

.vert-border {
  border-left: none;
  @media screen and  (min-width: 990px) {
    border-left: 2px solid #ccc;
    padding-left: 25px;
  }
}
.div-back {
  padding-bottom: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position-x: right;
  width: 100%;
  @media screen and  (max-width: 990px) {
    display: none;
  }
}

li.client-logos {
  &::before {
    content: "";
  }
  img {
    max-width: 1110px;
  }
}

#scroller {
  position: relative;
}
#scroller .innerScrollArea {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#scroller ul {
  padding: 0;
  margin: 0;
  position: relative;
}
#scroller li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
}
.chart-description {
  max-width: 100%;
  @media screen and  (min-width: 768px) {
    width: 65%;
  }
}

.chart-competitive {
  @media screen and  (min-width: 768px) {
    margin-top: -120px;
    display:block;
    position: relative;
    left: 10%;
    max-width: 80%;
  }
}

.alignright {
  float: right;
  margin: 1.5rem;
  margin-right: 0;
}
.align-right {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.standard {
  display: none;
}

.temp-selector,
.temp-selector2 {
  display: flex;
  margin-left: 15px;
  div {
    padding: 0.25rem 0.5rem;
    border: 1px solid #111b2d;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $bright-orange;
      color: #fff;
    }
  }
  .c {
    border-radius: 0 4px 4px 0 !important;
    border-left: none;
    background-color: #fff;
    color: #ccc;
  }
  .f {
    border-radius: 4px 0 0 4px !important;
    background-color: #fff;
    color: #ccc;
  }
  .c1 {
    border-radius: 0 4px 4px 0 !important;
    color: #ccc;
    border-left: none;
  }
  .f1 {
    border-radius: 4px 0 0 4px !important;
    color: #ccc;
  }
  .temp-select.active, .active {
    background-color: #777;
    color:#fff;
  }
}

.temp-selector2 {
  margin-left: 0;
  margin-top: 10px;
  .c1 {
    color: $base-font-color;
  }
  .f1 {
    color: $base-font-color;
  }
  .active {
    background-color: $base-font-color !important;
    color: #fff;
  }
  div {
    &:hover {
      background-color: #ccc;
    }
  }
  @media screen and  (min-width: 1200px) {
    margin-top: 0;
  }
}


.right-left-border {
  border-right: none;
  border-left: none;
  @media screen and ( min-width: 990px ) {
    border-right: 3px solid black;
    border-left: 3px solid black;
  }
}

.top-link {
  background: rgba(255,255,255,0.8);
  h3 {
    color: $dark-orange;
    font-size: 1.5rem;
  }
  a:hover h3 {
    text-decoration: underline;
  }
}

.heading-lower {
  text-transform: none;
}

sup {
  top: -0.25em;
  text-transform: uppercase;
  font-size: 0.625em;
}

.dkpdf-button-container {
  padding: 0 !important;
  margin-bottom: 1rem !important;
}
.dkpdf-button {
  color: $base-font-color !important;
  font-weight: 600 !important;
}
.dkpdf-button-icon {
    font-size: 2.5rem !important;
    color: $dark-orange !important;
    margin-right: 0.5rem !important;
    line-height: 1 !important;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 110px;
}

.admin-bar .sticky {
  top: 145px;
}

.loader {
  margin: 0 30px;
  font-size: 7px;
  display: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d91b11, 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.5), -1.8em -1.8em 0 0em rgba(217,27,17, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.7), 1.8em -1.8em 0 0em #d91b11, 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.5), 1.8em -1.8em 0 0em rgba(217,27,17, 0.7), 2.5em 0em 0 0em #d91b11, 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.5), 2.5em 0em 0 0em rgba(217,27,17, 0.7), 1.75em 1.75em 0 0em #d91b11, 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.5), 1.75em 1.75em 0 0em rgba(217,27,17, 0.7), 0em 2.5em 0 0em #d91b11, -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.5), 0em 2.5em 0 0em rgba(217,27,17, 0.7), -1.8em 1.8em 0 0em #d91b11, -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.5), -1.8em 1.8em 0 0em rgba(217,27,17, 0.7), -2.6em 0em 0 0em #d91b11, -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.5), -2.6em 0em 0 0em rgba(217,27,17, 0.7), -1.8em -1.8em 0 0em #d91b11;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #d91b11, 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.5), -1.8em -1.8em 0 0em rgba(217,27,17, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.7), 1.8em -1.8em 0 0em #d91b11, 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.5), 1.8em -1.8em 0 0em rgba(217,27,17, 0.7), 2.5em 0em 0 0em #d91b11, 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.5), 2.5em 0em 0 0em rgba(217,27,17, 0.7), 1.75em 1.75em 0 0em #d91b11, 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.5), 1.75em 1.75em 0 0em rgba(217,27,17, 0.7), 0em 2.5em 0 0em #d91b11, -1.8em 1.8em 0 0em rgba(217,27,17, 0.2), -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.5), 0em 2.5em 0 0em rgba(217,27,17, 0.7), -1.8em 1.8em 0 0em #d91b11, -2.6em 0em 0 0em rgba(217,27,17, 0.2), -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.5), -1.8em 1.8em 0 0em rgba(217,27,17, 0.7), -2.6em 0em 0 0em #d91b11, -1.8em -1.8em 0 0em rgba(217,27,17, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(217,27,17, 0.2), 1.8em -1.8em 0 0em rgba(217,27,17, 0.2), 2.5em 0em 0 0em rgba(217,27,17, 0.2), 1.75em 1.75em 0 0em rgba(217,27,17, 0.2), 0em 2.5em 0 0em rgba(217,27,17, 0.2), -1.8em 1.8em 0 0em rgba(217,27,17, 0.5), -2.6em 0em 0 0em rgba(217,27,17, 0.7), -1.8em -1.8em 0 0em #d91b11;
  }
}

@media(max-width: 768px) {
  .new-thermal-container {
    display: none;
  }
}
.new-to-thermal {
  background-color:  #c32026;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  transition: 0.3s;
  &:hover {
    background-color: darken( #c32026, 15);
  }
}

.new-to-thermal-link {
  color: #fff !important;
  text-decoration: none !important;
}

footer {
  margin-bottom: 4rem;
}

.mobmenur-container{top:0 !important}
@media only screen and (max-width: 990px){
	.mob-menu-logo-holder {margin-top: 25px !important}
}

.mobmenur-container i {
  font-size: 40px !important;
}

.mobile-phone {
  @media only screen and (min-width: 990px){
    display: none;
  }

}

.dura-diff-container {
  @media only screen and (max-width:768px) {
    padding-bottom: 2.25rem !important;
  }
}