.tech-box-glycol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header-light {
  background-color: #fff;
  border: none;
  .close {
    color: $dark-orange;
  }
}

.glycol-link-container {
  margin: 1rem;
}

.glycol-link {
  display: flex;
  i {
    color: $dark-orange;
    font-size:2rem;
    margin-right: 10px;
  }
  color: $base-font-color;
  font-size: 1rem;
}

.glycol-get-quote {
  @media screen and  (min-width: 768px ) {
    position: absolute;
    top: 0;
    right: 2.5rem;
  }
}