.open-bath-table {
  width: 100%;
  text-align: center;
  th {
    font-size: 0.875rem;
    padding: 1rem 0.25rem;
  }

  td {
    padding: 0.5rem 0.25rem;
    font-size: 0.875rem;
    border-right: 1px solid $bright-orange;
    &.product-name {
      font-weight: 600;
    }
  }
  tr {
    cursor: default;
    // &:hover {
    //   background-color: $bright-orange;
    // }
  }

  .no-border:hover {
    background-color: initial !important;
  }
  .no-border td {
    border: none;
  }
  .dark-grey-row {
    background-color: #e1e1e1 !important;
  }
  .grey-row {
    background-color: #f4f4f4;
  }

  .text-large {
    font-size: 1.5rem;
  }
}

.nav-tabs .nav-link.active {
  // background-color: $dark-orange;
}

@media screen and ( max-width: 990px) {
  .nav-tabs .nav-item {
    width: 100%;
    margin-bottom: .5rem;
  }
}

@media screen and ( min-width: 990px ) {
  .nav-tabs .nav-link {
    margin-right: 0.5rem;
  }
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link {
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 0;
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.nav-tabs .nav-link.active {
  border: 3px solid #ddd;
  border-bottom: none;
}

.nav-tabs .nav-item, .nav-tabs .nav-item2 {
  margin-bottom: -4px;
}

.tab-pane {
  border: 3px solid #ddd;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.border-orange {
  border-color: #fbb040 !important;
}