.popout {
  position: fixed;
  bottom: 0;
  right: 2rem;
  color: #fff;
  background-color: #fff;
  width: 300px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: -5px 5px 5px 0px rgba(184, 175, 184, 1);
  -moz-box-shadow: -5px 5px 5px 0px rgba(184, 175, 184, 1);
  box-shadow: -5px 5px 5px 0px rgba(184, 175, 184, 1);
  z-index: 10000;
  a {
    color: #fff;
    padding: 0.75rem 0.5rem;
    display: block;
  }
  & .popout-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    background-color: $dark-orange;
    & p {
      margin: 0 1rem;
      font-weight: 600;
      text-align: center;
    }
  }
  .popout-trigger p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .popout-body {
    display: none;
    font-size: 0.875rem;
    color: black;
    background: white;
    padding: 1.5rem;
    border-radius: 4px;
    border-right: 1px solid rgba(0,0,0,0.3);
    a {
      color: blue;
      display: inline;
      text-decoration: underline;
    }
    ol {
      margin-left: 0;
      padding-left: 20px;
    }

    .btn {
      margin: 1rem auto;
      color: #fff !important;
      text-decoration: none;
      text-transform: initial;
      background-color: $dark-orange;
      display: block;
      padding: 8px;
    }
  }
}
