.question {
  font-weight: 600;
  cursor: pointer;
  .open-bath & {
    font-weight: 600;
    font-size: 1.125rem;
  }
}

.answer {
  display: none;
}

.term {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.125rem;
}

.filters {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  ul {
    list-style-type: none;
    margin: 10px 0;
    li {
      display: inline-block;
      padding: 0 0.5rem;
      &:before {
        content: " ";
        margin-left: 0;
      }
    }
  }
}

.term-filter {
  cursor: pointer;
  &:hover {
    font-weight: 600;
  }
  &.active {
    font-weight: 700;
    color: $dark-orange;
  }
}