.sidebar-container {
  border-left: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2rem;
}

.black-link {
  color: #000;
}

.did-you-know {
  p {
    font-weight: 600;
    margin-bottom: 0.375rem;
  }
}