.grid-item {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 4px;
  @media screen and  (min-width: 990px) {
    width: 31.5%;
  }
}

.logo-container {
  position: relative;
  height: 200px;
  overflow: hidden;
  @media screen and ( min-width: 900px){
    height: 300px;
  }
  .logo-trigger {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.05) 1%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
    position: absolute; 
    bottom: 0;
    width: 100%;
    padding: 4rem 15px 0;
    color: $dark-orange;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    p {
      margin: 0;
    }
  }
}

.testimonial {
  p {
    strong {
      font-weight: 700 !important;
    }
  }
}