.tips-categories {
  list-style-type: none;
  text-align: right;
  li {
    margin-bottom: 0.5rem;
    &:before {
      content: " ";
    }
    a {
      color: #111b2d;
      font-weight: 400;
      &:hover {
        color: lighten(#111b2d, 25);
        text-decoration: underline;
      }
      &:after {
        content: " |";
        color: $dark-orange;
        font-weight: 700;
      }
      &.tips-active {
        font-weight: 700;
      }
    }
  }
  @media screen and (max-width:990px) {
    text-align: center;
    padding: 0;
    font-size: 0.9rem;
    li:last-child a:after {
      content: "";
    }
    li {
      display: inline-block !important;
    }
  }
}

.tip-list {
  h2 {
    font-weight: 600;
    font-size: 1.25rem;
  }
}