body,
html {
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  line-height: 1.5;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $body-font-weight;
  font-family: $header-font-family;
  text-transform: uppercase;
  color: $base-font-color;
}

h1,
.h1 {
  font-size: 2.125em;
  @media screen and  (min-width: 500px) {
    font-size: 2.75em;
  }
}

strong,
.strong {
  font-weight: 600;
}
h2,
.h2 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-size: 1em;
}

.small {
  text-transform: initial;
}

h3,
.h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

a {
  transition: 0.3s;
  color: $link-color;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 35);
  }
  &:active,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }
}

.nav-menu a {
  color: $base-font-color;
  &:hover {
    color: lighten($base-font-color, 25);
  }
}
.medium-text {
  font-size: 1.25em;
}

.large-text {
  font-size: 1.5em;
}

ul.orange-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em;
    text-indent: -0.6em;
    &::before {
      content: "• ";
      color: $bright-orange;
      font-size: 1.25em;
      vertical-align: middle;
      line-height: 1;
      margin-left: -5px;
    }
  }
}

.right {
  text-align: right;
}

.lightweight {
  font-weight: 300;
}

.page-top-text {
  font-size: 1.125rem;
}

a.grey-bold-link {
  color: $base-font-color;
  font-weight: 600;
  font-size: 1rem;
  &:hover {
    color: #000;
  }
}
.popover-body {
  color: #fff;
}