<form class="form-horizontal" id="fluidFlowForm1" name="fluidFlowForm1" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Find Average Flow Velocity (m/s)</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Volumetric Flow Rate <span>(m&sup3;/s)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="flow-rate1AF" name="flow-rate1AF" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Pipe Inside Diameter <span>(m)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="pipe-diameter1AF" name="pipe-diameter1AF" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div>
  </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="row mx-0 align-items-center">
          <div class="col-md-8">
            <label>Average Flow Velocity <span>(m/s)</span></label>
          </div>
          <div class="col-md-4 col-xs-12">
            <input class="form-control" id="avg-flow-velocity1AF" name="avg-flow-velocity1AF" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>