<form class="form-horizontal" id="BHTform" name="BHTform" >
  <div class="form-group calculator-heading top-heading">
    <h2>Basic Heat Transfer</h2>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="massSH">Mass <span>(kg)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="massSH" name="massSH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="specific-heatSH">Specific Heat <span>(kJ/kg&middot;K)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="specific-heatSH" name="specific-heatSH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="temp1SH">Temperature #1 <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="temp1SH" name="temp1SH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="temp2SH">Temperature #2 <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="temp2SH" name="temp2SH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="row mx-0 align-items-center">
        <div class="col-md-7">
          <label for="resultSH">Heat Transfer (J)</label>
        </div>
        <div class="col-md-5">
          <input class="form-control right" id="resultSH" name="resultSH" readonly type="text">
        </div>
      </div>
    </div><!-- close form-group -->
  </div>
</form>