<form class="form-horizontal" id="CHTform" name="CHTform" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Conduction Heat Transfer</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="conductivityCH">Thermal Conductivity <span>(W/m&middot;K)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="conductivityCH" name="conductivityCH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="areaCH">Cross Sectional Area <span>(m&sup2;)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="areaCH" name="areaCH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="temp1CH">Temperature  #1 - Hot Side <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="temp1CH" name="temp1CH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="temp2CH">Temperature  #2 - Cold Side  <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="temp2CH" name="temp2CH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="timeCH">Time Taken <span>(Seconds)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="timeCH" name="timeCH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="thicknessCH">Thickness of Material  <span>(m)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="thicknessCH" name="thicknessCH" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="row mx-0 align-items-center">
        <div class="col-md-7">
          <label for="result2CH">Heat Transfer  (J)</label>
        </div>
        <div class="col-md-5">
          <input class="form-control right" id="result2CH" name="result2CH" readonly type="text">
        </div>
      </div>
    </div><!-- close form-group -->
  </div>
</form>