<form class="form-horizontal" id="frmHTCC" name="frmHTCC" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Heat Transfer Coefficient</h2>
      <div  style="position: absolute; right: 25px; top: 10px;">
        <div class="temp-selector" style="margin-left: 15px">
          <div id="btnStandard" class="f active temp-select">Standard</div>
          <div id="btnMetric" class="c temp-select">Metric</div>
          <input type="hidden" name="temp-type" id="temp-type" value="F">
        </div>
      </div>
    </div>
  </div><!-- close form-group -->
      
  <div class="form-group form-group-temp">
    <h4>Temperature</h4>
    <input class="form-control" id="temperature-htcc" name="temperature" type="text"> 
    <label class="control-label units-temp"></label>
  </div><!-- close form-group -->
  <div class="form-group form-group-diameter alt">
    <h4>Pipe Diameter</h4>
    <input class="form-control" id="pipe-diameter-htcc" name="pipe-diameter" type="text"> <label class="control-label units-diameter" >mm<br>
    (Inside Diameter)</label>
    <label class="control-label" style="display:none"><input id="roughness-tubing" name="roughness-htcc" type="radio" value="0.00005">&nbsp;Tubing</label>
    <label class="control-label" style="display:none"><input id="roughness-pipe" checked name="roughness-htcc" type="radio" value="0.00015">&nbsp;Pipe</label>
  </div><!-- close form-group -->
  <div class="form-group form-group-velocity">
    <h4>Fluid Velocity</h4>
    <input class="form-control" id="fluid-velocity-min-htcc" name="fluid-velocity-min" type="text"> <label class="control-label units-fv-min" >Min.<br>
    (ft./s.)</label>
    <input class="form-control" id="fluid-velocity-max-htcc" name="fluid-velocity-max" type="text"> <label class="control-label units-fv-max" >Max.<br>
    (ft./s.)</label>
    <input class="form-control" id="fluid-velocity-inc-htcc" name="fluid-velocity-inc" type="text"> <label class="control-label units-fv-inc" >Increment<br>
      (ft./s.)</label>
  </div><!-- close form-group -->
  <div class="form-group form-group-fluid alt">
      <h4>Choose Fluid</h4>
      <select class="form-control" id="fluids-htcc" name="fluids">
        <option value="-1">
          Select Fluid
        </option>
        {% for product in products %}
          <option value="{{ product.id}} ">
            {{ product.name }}
          </option>
        {% endfor %}
      </select>
  </div><!-- close form-group -->
  <div class="form-group form-group-properties">
      <h4>Fluid Properties</h4>
      <input class="form-control visc2" id="fluid-viscosity-htcc" name="fluid-viscosity" type="text"> 
      <label class="control-label units-viscosity" >Viscosity<br>cP</label>
      <input class="form-control heat3" id="fluid-specific-heat-htcc" name="fluid-specific-heat" type="text"> <label class="control-label units-specific-heat" >Specific Heat<br>
          BTU/lb-F</label>
      <input class="form-control cond3" id="fluid-conductivity-htcc" name="fluid-conductivity" type="text"> <label class="control-label units-conductivity" >Conductivity<br>
          BTU/hr. ft. F</label>
      <input class="form-control dens2" id="fluid-density-htcc" name="fluid-density" type="text"> <label class="control-label units-density" >Density<br>
          lb/ft<sup>3</sup></label>
  </div><!-- close form-group -->
  <div class="form-group alt btn-row-group">
    <button class="btn special-btn btn-hollow" type="submit">Calculate</button> 
    <div>
      <a class="export btn-hollow btn">Download CSV</a>
      <a class="print btn-hollow btn" title="This opens a new window with your results ready to print">Print</a>
    </div>
    <a class="btn btn-hollow-blue reset-htcc" href="#">Reset</a>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <div class="mr-5" id="prandtl"></div>
    </div>
  </div>
  
</form>
<div class="row">
<div id="output-htcc" class="form-horizontal col-lg-12"></div>
</div>