<form class="form-horizontal" id="NFCForm" name="NFCForm" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Natural or Free Convection</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="surface-areaNC">Surface Area of Heat Transfer <span>(m&sup2;)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="surface-areaNC" name="surface-areaNC" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="coefficientNC">Convective heat transfer coefficient <span>(W/m&sup2;&middot;K) or (W/m&sup2;&middot;C&deg;)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="coefficientNC" name="coefficientNC" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="bulk-tempNC">Bulk Fluid Temperature <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="bulk-tempNC" name="bulk-tempNC" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label for="surface-tempNC">Surface Temperature <span>(K or &deg;C)</span></label>
        </div>
        <div class="col-md-3">
          <input class="form-control" id="surface-tempNC" name="surface-tempNC" type="text">
        </div>
      </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
      <div class="row mx-0 align-items-center">
        <div class="col-md-8">
          <label for="result3NC" class="no-margin">Heat Transfer per unit time <span>(W)</span></label>
        </div>
        <div class="col-md-4">
          <input class="form-control right" id="result3NC" name="result3NC" readonly type="text">
        </div>
      </div>
    </div><!-- close form-group -->
  </div>
</form>