
<div class="row">
<form class="form-horizontal col-md-6" id="OVForm" name="OVForm" >
  <div class="form-group calculator-heading top-heading" style="margin-top:0;">
    <div>
      <h2>Operating Viscosity</h2>
    </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label>Temperature #1 <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp1OV" name="temp1OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">      
      <div class="row mx-0 align-items-center">
      <div class="col-md-9">
        <label>Viscosity 1 at Temperature 1 <span>(cSt)</span></label>
      </div>
      <div class="col-md-3 col-xs-12">
        <input class="form-control" id="viscosity1OV" name="viscosity1OV" type="text">
      </div>
    </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label>Temperature  #2 <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="temp2OV" name="temp2OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group alt">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label>Viscosity 2 at Temperature 2 <span>(cSt)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="viscosity2OV" name="viscosity2OV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group">
      <div class="row mx-0 align-items-center">
        <div class="col-md-9">
          <label>Operational Temperature <span>(&deg;C)</span></label>
        </div>
        <div class="col-md-3 col-xs-12">
          <input class="form-control" id="operational-tempOV" name="operational-tempOV" type="text">
        </div>
      </div>
  </div><!-- close form-group -->
  <div class="form-group button-group">
    <div class="col-md-12">
      <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
    </div>
  </div><!-- close form-group -->
  <div class="form-group calculator-result">
      <div class="row mx-0 align-items-center">
        <div class="col-md-7">
          <label>Viscosity at Temperature  <span>(cSt)</span></label>
        </div>
        <div class="col-md-5 col-xs-12">
          <input class="form-control" id="resultOV" name="resultOV" readonly type="text">
        </div>
      </div>
  </div><!-- close form-group -->
</form>
</div>