
  <div class="row">
<form class="form-horizontal col-md-6" id="thermalForm" name="thermalForm" >
    <div class="form-group calculator-heading top-heading" style="margin-top:0;">
      <div>
        <h2>Thermal Expansion via Densities</h2>
      </div>
    </div><!-- close form-group -->
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Temperature  #1 <span>(K or &deg;C)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="temp1TE" name="temp1TE" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Density at Temperature #1 <span>(kg/m&sup3;)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="density1TE" name="density1TE" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Temperature  #2 <span>(K or &deg;C)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="temp2TE" name="temp2TE" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
        <div class="row mx-0 align-items-center">
          <div class="col-md-9">
            <label>Density at Temperature #2 <span>(kg/m&sup3;)</span></label>
          </div>
          <div class="col-md-3 col-xs-12">
            <input class="form-control" id="density2TE" name="density2TE" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div>
    <div class="form-group calculator-result">
        <div class="row mx-0 align-items-center">
        <div class="col-md-7">
          <label>Coefficient of Thermal Expansion <span>(%/&deg;C)</span></label>
        </div>
        <div class="col-md-5 col-xs-12">
          <input class="form-control" id="coefficient1TE" name="coefficient1TE" readonly type="text">
        </div>
      </div>
    </div><!-- close form-group -->
</form><!-- close form -->
</div>