
<form class="form-horizontal" id="VolumeForm3" name="VolumeForm3" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Volume Of a Sphere</h2>
    </div>
  </div><!-- close form-group -->
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-7">
            <label>Sphere Diameter <span>(m or ft)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="diameterVS" name="diameterVS" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="row mx-0 align-items-center">
          <div class="col-md-7">
            <label>Volume <span>(m&sup3;)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="resultSphere" name="resultSphere" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>