<form class="form-horizontal" id="VolumeForm1" name="VolumeForm1" >
  <div class="form-group calculator-heading top-heading">
    <div>
      <h2>Volume Of a Cylinder (Pipes)</h2>
    </div>
  </div><!-- close form-group -->
  <div class="toggle-block">
    <div class="form-group">
        <div class="row mx-0 align-items-center">
          <div class="col-md-7">
            <label>Inside Diameter <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="diameterVC" name="diameterVC" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group alt">
        <div class="row mx-0 align-items-center">
          <div class="col-md-7">
            <label>Height/Length <span>(m)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="lengthVC" name="lengthVC" type="text">
          </div>
        </div>
    </div><!-- close form-group -->
    <div class="form-group button-group">
      <div class="col-md-12">
        <button class="btn special-btn btn-full-width" type="submit">Calculate</button>
      </div>
    </div>
  </div><!-- close form-group -->
    <div class="form-group calculator-result">
        <div class="row mx-0 align-items-center">
          <div class="col-md-7">
            <label>Volume <span>(m&sup3;)</span></label>
          </div>
          <div class="col-md-5 col-xs-12">
            <input class="form-control" id="resultCylinder" name="resultCylinder" readonly type="text">
          </div>
        </div>
    </div><!-- close form-group -->
</form>

